[2020-09-02 19:48] #787 closed, assigned to nobody

[2020-09-04 08:15] BloodAxe opened #929 "Fatal error caused by setting `torch.backends.quantized.engine = "qnnpack"`"
It seems this line breaks pytorch 1.6 under Windows:

https://github.com/catalyst-team/catalyst/blob/40faab689795c68b9ba8de0d9fd59ec8f7a0e19a/catalyst/dl/utils/quantization.py#L23

A reason could be due to lack of qnnpack support on windows. It may be a good idea to:
- Avoid global state change and assign quantization backed inside quantization function
- Let user change the quantization engine vi

[2020-09-04 15:02] atemate opened #931 "Null pointer exception in callbacks/logging.py"
## 🐛 Bug Report

[code]

Possibly this line
https://github.com/catalyst-team/catalyst/blob/c8f058f0792f549695227d2a6768b5ce05a4a9ba/catalyst/core/callbacks/logging.py#L96
was executed after this line
https://github.com/catalyst-team/catalyst/blob/c8f058f0792f549695227d2a6768b5ce05a4a9ba/catalyst/core/callbacks/logging.py#L75

[2020-09-04 16:46] #849 closed, assigned to nobody

[2020-09-04 19:52] #846 closed, assigned to nobody

[2020-09-06 13:04] Scitator commented on #929
Fixed :)

[2020-09-06 13:04] #929 closed, assigned to nobody

[2020-09-07 06:14] #850 closed, assigned to nobody

[2020-09-08 05:37] Scitator commented on #931
Hi @yartem
Thanks for pointing this out, nice catch!
Would you like to make a small PR hotfix as issue author (it seems like you already found the solution ;) )
I think, something like
[code]
should close the issue. What do you think?

[2020-09-08 19:00] ohernpaul opened #935 "How to make QueryGallery Dataset from Pytorch ImageFolder"
## ❓ Questions and Help

#### What is your question?
What is the correct way of making a QueryGallery Dataset from Pytorch ImageFolder Dataset?

The reason I ask is because the MNIST example isn't necessarily the same.

I am confused by the mnist test dataset being preshuffled and having the gallery images randomly assigned to the last 20%. It seems there's no guarantee that each class will be ass

[2020-09-10 07:39] elephantmipt commented on #935
Hi @ohernpaul! Thank you for your question. You are right about `MnistQGDataset` it's randomly assigned to the gallery last 20% of the dataset. The correctness of this partition manly guaranteed by the number of examples in the gallery and a small number of labels. Anyway, MNIST dataset is just a small example that everything works well.
In many academic datasets (omniglot etc) there is fixed quer

[2020-09-12 18:19] jzakirov opened #938 "Wrong order of embeddings in CMC score callback"
## 🐛 Bug Report
Order of elements in [cmc_score](https://github.com/catalyst-team/catalyst/blob/34a69e568c69ab1eb364fc1646623f75756c82d2/catalyst/utils/metrics/cmc_score.py) function:
1. query_embeddings: torch.Tensor,
2. gallery_embeddings: torch.Tensor,
3. conformity_matrix: torch.Tensor,
4. topk: int = 1

But in [CMCScoreCallback](https://github.com/catalyst-team/catalyst/blob/34a69e568c69ab1eb

[2020-09-12 18:50] Scitator commented on #938
@AlekseySh and @elephantmipt fyi :)

[2020-09-17 19:15] #786 closed, assigned to nobody

[2020-09-19 17:02] elephantmipt commented on #938
Hi @zakajd! Thank you for noticing this problem! Can you please review PR with a fix before we merge it?

[2020-09-24 06:32] Scitator commented on #931
btw, fixed in our last update :)

[2020-09-24 06:32] #931 closed, assigned to ditwoo, Scitator, bagxi

[2020-09-24 06:32] Scitator commented on #904
looks like fixed :)

[2020-09-24 06:32] #904 closed, assigned to ditwoo, Scitator, bagxi

[2020-09-24 06:32] Scitator commented on #770
still relevant :)

[2020-09-24 06:33] Scitator commented on #740
done :tada:

[2020-09-24 06:33] #740 closed, assigned to nobody

[2020-09-24 06:33] Scitator commented on #847
fixed :tada:

[2020-09-24 06:33] #847 closed, assigned to nobody

[2020-09-26 11:48] #938 closed, assigned to ditwoo, Scitator, bagxi

[2020-09-28 05:26] adriangrepo opened #946 "Multi-GPU train error"
Similar to closed issue #334.

torch: 1.6.0, catalyst: 20.09.1, Ubuntu 18.04, cuda toolkit 10.2

On running the classification-tutorial.ipynb on local machine runs fine with 1 GPU, but with multiple GPU's get the following error:

[code]

Setup:
[code]

I dont have a colab paid account to test multi-gpu option on colab.

The following tests wotk fine with multi-GPU's:

[code]

I can confirm that m

[2020-09-28 08:10] adriangrepo commented on #946
After reading the docs here: https://catalyst-team.github.io/catalyst/info/distributed.html  :-) I got the classification-tutorial.ipynb to work by:

Exporting the notebook as a .py file
Changed:

[code]

to

[code]

and then to the runner.train call added

[code]

Now working fine on 3 GPU's

[2020-09-28 08:10] #946 closed, assigned to ditwoo

[2020-09-28 13:09] #885 closed, assigned to Scitator

[2020-10-04 06:34] hristo-vrigazov opened #950 "Interpretation callback - best and worst indices of a loss for loader"
## 🚀 Feature Request
Hi, I think we already discussed this in Slack, but the basic idea is the following: there is a callback called e.g `LossInterpretationCallback` which shows the best/worst examples for a loss in the Tensorboard.

### Motivation
Motivation: quick error analysis, to gain a quick intuition on when is the model doing great and when it is doing badly. Since it is just a callback, u

[2020-10-04 06:34] hristo-vrigazov commented on #950
I forgot to mention that I am willing to contribute it

[2020-10-04 08:10] Scitator commented on #950
so, summon @BloodAxe as `pytorch-toolbelt` author :)
I think it could be also interesting for you.

[2020-10-04 08:18] Scitator commented on #950
Hi @hristo-vrigazov, nice to see your proposal :)
I like the idea, but what I am not sure about is... `SequentialSampler` - it's quite uncommon case to use sequential sampling for you data...
what do you think, about serialisation/saving the whole input dict from `Dataset`? In this case you could do some thing like
[code]
and you could find your original sample with the help of your extra data - `

[2020-10-04 08:22] Scitator commented on #935
Looks like answered :)

[2020-10-04 08:22] #935 closed, assigned to ditwoo, Scitator, bagxi

[2020-10-04 08:23] Scitator commented on #935
Nevertheless, if you have any questions - feel free to join our slack https://join.slack.com/t/catalyst-team-core/shared_invite/zt-d9miirnn-z86oKDzFMKlMG4fgFdZafw

[2020-10-04 08:25] Scitator commented on #906
Hi, thanks for your question.
In `batch` some all our loggers displays metrics in `per samples` mode, by this solution you could compare pipelines with different batch size correctly.

[2020-10-04 08:26] Scitator commented on #833
@vinnamkim 👀

[2020-10-04 08:36] hristo-vrigazov commented on #950
Is it that uncommon? I very often do not shuffle my validation and test set, so they end up using `SequentialSampler` ( https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L263 ), and usually, I am interested in interpreting their results. Yes, including the index in the dataset would work for every sampler, but then it requires additional work for every user (and also fo

[2020-10-05 18:39] Scitator commented on #950
🤔 Speaking about validation... you are right, you don't need any shuffle there -> `SequentialSampler` -> index solution would work!

[2020-10-05 18:41] Scitator commented on #950
In this case looks like we really could implement such useful callback - it would be great,
btw, @bagxi @Ditwoo could you please share your thoughts on this feature and check our proposals?

[2020-10-06 07:02] #682 closed, assigned to nobody

[2020-10-12 10:02] kenluck2001 commented on #764
Is this issue still open? If it is not fixed, then I can use it as a first timer task.

[2020-10-12 17:55] Scitator commented on #764
@kenluck2001 hi, thank you for your proposal
I think this is open still :) but maybe @YaLTeR could help a bit more
Also it would be great if you could join our slack to discuss this issue there - https://join.slack.com/t/catalyst-team-core/shared_invite/zt-d9miirnn-z86oKDzFMKlMG4fgFdZafw

[2020-10-13 09:20] asdspal opened #961 "Using AUC as main metric in classification"
#### I'm getting error "AssertionError: auc/_mean value is not available by the epoch end".

#### Code
**AUC-Callback defined like this**: AUCCallback( input_key = "target")
**In runner**: main_metric = "auc/_mean"

#### Environment Details
Catalyst version: 20.09.1
PyTorch version: 1.6.0
TensorFlow version: N/A
TensorBoard version: 2.3.0
OS: Ubuntu Server 18.04
Python version: 3.7.7
CUDA runtime

[2020-10-13 18:15] Scitator commented on #961
Hi, could you please try "auc/mean"

[2020-10-13 19:22] asdspal commented on #961
Thank you, It worked.

[2020-10-14 05:18] #961 closed, assigned to ditwoo, Scitator, bagxi

[2020-10-15 16:10] Dokholyan opened #964 "Problem with LovaszLossBinary"
There is a problem with LovaszLossBinary(maybe there are similar problems with LovaszLossMultiClass and LovaszLossMultiLabel)

If I train a model using lovasz loss, I don't have any problems. If I use a combination of several losses(for example bce, dice, iou) and use MetricAggregationCallback, I will get such error:
================================================
RuntimeError: Expected object of

[2020-10-15 16:11] Dokholyan commented on #964
Sorry for the formatting, I didn't expect this :-(

[2020-10-17 17:36] aspenstarss opened #965 "How to predict an image without using predict_loader?"
I wanted to integrate catalyst code into my system, and it was a sequence prediction. So I had to feed a single image from last stage into the model.
I have try this code, but the results seem to be different by using `predict_loader`.
Can you give me a example to predict?
Thanks!

[code]

[2020-10-20 05:36] Scitator commented on #965
Hi, nice question!
Generally speaking, the whole model predict logic stored under `Runner.predict_batch`, you could check the example [here](https://github.com/catalyst-team/catalyst#getting-started).

For example, the [source code](https://github.com/catalyst-team/catalyst/blob/master/catalyst/runners/runner.py#L331#L332) ;)

[2020-10-20 05:46] Scitator commented on #965
Colab example - https://colab.research.google.com/drive/1A_JVXdnecanWCM74qi-KqUn0boElvISk?usp=sharing

[2020-10-20 05:48] Scitator commented on #965
btw, dont you mind to [join our slack](https://join.slack.com/t/catalyst-team-core/shared_invite/zt-d9miirnn-z86oKDzFMKlMG4fgFdZafw) for collaboration? It would be much easier to communicate with each other ;)
Github is great tool for code review, but slack is better for questions handling.

[2020-10-21 05:07] Scitator commented on #964
🤔  @Dokholyan
could you please bring us a minimal example to reproduce the error? something from https://github.com/catalyst-team/catalyst#minimal-examples would be good enough ;)

[2020-10-22 23:43] asanakoy opened #970 "Tensorboard resets step counter if the training restarted with runner.train(resume=last_full.pth)"
## 🐛 Bug Report
Using SupervisedRunner.
If you restart training by loading the full checkpoint last_full.pth and `runner.train(..., resume=last_full.pth)`, then tensorboard will restart the iteration ciunter to zero, which will correupt the plot.

#### Screenshots

![image](https://user-images.githubusercontent.com/1690869/96940653-988c0b80-14d0-11eb-8cfe-a2da7cd093c0.png)

### Expected behavior
T

[2020-10-23 09:08] #965 closed, assigned to ditwoo, Scitator, bagxi

[2020-10-23 11:01] #913 closed, assigned to ditwoo, Scitator, bagxi

[2020-10-26 18:05] Scitator commented on #912
nope, we are working on it ;)

[2020-10-27 11:28] KirillTushin opened #978 "MetricAggregationCallback: Different weights depending on the epoch"
Is it possible to set the dependence of the weights of loss functions over epochs?
For example, a loss for a model is a combination of two losses: Focal and Dice with weights
It is necessary that the weight of Focal decreases with epochs and the weight of Dice increases accordingly.
Can this be implemented using MetricAggregationCallback or using other methods, or do I need to implement such a Cal

[2020-11-01 15:48] Scitator commented on #970
Hi,
Thanks for your issue contribution. Based on Catalyst design, every `.train` is a new experiment run.
If you would like to run a multi-stage experiment and transfer the model from one stage to another, you could try our [Config API example here](https://github.com/catalyst-team/catalyst/tree/master/examples/cifar_stages), or... [try out Kittlylyst example here](https://github.com/Scitator/kitt

[2020-11-06 10:28] CrafterKolyan opened #989 "Warning in torch.lr_scheduler"
## 🐛 Bug Report
On catalyst training with scheduler a warning shows.

[code]

### How To Reproduce
[code]

#### Screenshots
![image](https://user-images.githubusercontent.com/9883873/98355950-eb6ad480-2033-11eb-9396-b6a81f9dada9.png)

### Expected behavior
No warnings

PS
- [x] I know, that I could [join Catalyst slack (#__questions channel)](https://join.slack.com/t/catalyst-team-core/shared_invi

[2020-11-07 10:52] and-kul opened #991 "While doing fp16 training with AMPOptimizerCallback save GradScaler in CheckpointCallback"
## 🚀 Feature Request
As described in [PyTorch docs](https://pytorch.org/tutorials/recipes/recipes/amp_recipe.html#saving-resuming) you must save not only `model`, `optimizer`, `criterion`, and `scheduler` but also `scaler` if you are doing fp16 training with automatic mixed precision.

### Motivation
Properly restore training state.

### Proposal
Probably we need to move `GradScaler` instance from

[2020-11-08 17:54] and-kul opened #992 "AMPOptimizerCallback doesn't work with DataParallel"
## 🐛 Bug Report
Actually, I'm not sure, whether it should be treated as a bug in Catalyst, but just to prevent Catalyst users from hours of complaints like:

By default, if you have multiple GPUs on one machine, catalyst will automatically convert your model(s) to DataParallel. But, as was mentioned in [Automatic Mixed Precision docs](https://pytorch.org/docs/stable/notes/amp_examples.html#working

[2020-11-08 17:59] and-kul commented on #989
https://github.com/catalyst-team/catalyst/pull/980 has chances to fix this problem

[2020-11-09 17:05] TimbusCalin commented on #965
@Scitator very nice colab and @aspenstarss very nice question; I was looking for the exact same question + solution and it appears I have found it

[2020-11-09 22:24] geoHeil opened #993 "basic MNIST examples fail with wrong shape"
When trying to execute the basic classification tutorials of MNIST - it fails with tensors of a wrong shape:

[code]

to reproduce:

[code]

and the nexecute in the notebook:

[code]

After the download & extraction I see the following warning:

[code]

[2020-11-10 04:34] Scitator commented on #993
Hi, could you please try ``pip install torch<1.7.0``? There is a backward compatibility issue in the new version of the PyTorch :)

PS. Meanwhile, the new Catalyst version would be ~tomorrow with a compatibility fix.

[2020-11-10 07:39] geoHeil commented on #993
awesome - I think then I will try to wait and read some more docus and introductions to PyTorch today. Please ping me here / close the issue when the new version is published. Many thanks.

[2020-11-12 07:14] Scitator commented on #993
New release - done :)

[2020-11-12 07:14] #993 closed, assigned to ditwoo, Scitator, bagxi

[2020-11-18 15:39] y-ksenia opened #1003 "Lost parameters in logs_path/configs/_config.json"
## 🐛 Bug Report

After running a custom experiment - the parameters given in the config are not saved into /path/to/log/configs/_config.json which gives problems during model tracing using the function `trace_model_from_checkpoint`.

### How To Reproduce
Steps to reproduce the behavior:

1. Comment the line `from .experiment import Experiment` in `examples/cifar_simple/__init__.py` (otherwise you

[2020-11-18 15:58] y-ksenia commented on #1003
Working on the hotfix.

[2020-11-19 06:27] TimbusCalin commented on #965
I assume you might have forgotten to use the preprocessing steps for you single image? I expect that, given the correct load of the model, single prediction could work in absence of predict_loader()

[2020-11-24 14:11] manhlab opened #1008 "Accumulate gradients - Gradient Clipping"
## 🚀 Feature Request
Accumulate gradients

### Motivation
Gradient clipping may be enabled to avoid exploding gradients. Specifically, this will clip the gradient norm computed over all model parameters together.

Accumulated gradients runs K small batches of size N before doing a backwards pass. The effect is a large effective batch size of size KxN.
### Proposal
[code]

[2020-11-24 14:42] Scitator commented on #1008
Hi, already implemented in [OptimizerCallbak](https://catalyst-team.github.io/catalyst/api/callbacks.html#catalyst.callbacks.optimizer.AMPOptimizerCallback).

Example:
[code]

Nevertheless, it would be really cool if you could contribute some tutorial on Optimization tricks for our FAQ.
For example, something like [this](https://catalyst-team.github.io/catalyst/faq/logging.html), [source](https://

[2020-11-24 21:05] Podidiving opened #1009 "Is it better to throw warning instead of FileNotFoundError"
## 🚀 Feature Request
when starting training with `autoresume` key
https://github.com/catalyst-team/catalyst/blob/3126390f9f679ebcfedbe01707b416678a2732ac/catalyst/callbacks/checkpoint.py#L589
here
https://github.com/catalyst-team/catalyst/blob/3126390f9f679ebcfedbe01707b416678a2732ac/catalyst/callbacks/checkpoint.py#L41t
is called
Maybe, It's better to throw warning instead of FileNotFoundError?

[2020-11-24 21:59] Podidiving opened #1010 "F1ScoreCallback has wrong metric_fn"
## 🐛 Bug Report
https://github.com/catalyst-team/catalyst/blob/3126390f9f679ebcfedbe01707b416678a2732ac/catalyst/callbacks/metrics/f1_score.py#L5
I'm not sure, If it is a bug or not, but it seems to me that `F1ScoreCallback` is using wrong `F1ScoreCallback`
It is using this one
https://github.com/catalyst-team/catalyst/blob/3126390f9f679ebcfedbe01707b416678a2732ac/catalyst/metrics/f1_score.py#L51

[2020-11-25 05:21] Scitator commented on #1010
🤔 @Podidiving nice catch!
Would you like to contribute a fix for F1ScoreCallback callback compatibility with the new metric function?

[2020-11-25 05:51] Scitator commented on #1009
There is only one correct way to handle file-not-found during `load_checkpoint` - throw an error :)
For autoresume feature, we could speak about another handling, but I don't know it for now (so, I am open to your proposals :) ). As "some-kind-of-a-solution", you could check your folders during bash script and turn on/off `--autoresume`, I think.

[2020-11-26 06:10] zkid18 opened #1011 "Update requirements"
## 🐛 Bug Report

While running `pip install -r requirements/requirements.txt -r requirements/requirements-dev.txt`
`pip` raised the following error.
[code]

I guess we need to check the requirements.

### How To Reproduce
Steps to reproduce the behavior:
1. Go to `catalyst`
1. Run `pip install -r requirements/requirements.txt -r requirements/requirements-dev.txt`

#### Code sample

#### Screenshot

[2020-11-26 06:36] Scitator commented on #1011
Should be fixed here https://github.com/catalyst-team/catalyst/pull/1002

[2020-11-26 16:10] Scitator commented on #1011
Merged 🎉

[2020-11-26 16:10] #1011 closed, assigned to ditwoo, Scitator, bagxi

[2020-11-30 15:05] Dokholyan commented on #978
Let's say we train a segmentation model, we want to teach it using a sum of Dice and BCE losses, after it, we would like to fine tuner model using Lovasz loss. It is better to do it smoothly. Example
[code]

[2020-11-30 15:59] #1003 closed, assigned to ditwoo, Scitator, bagxi

[2020-12-01 08:11] #978 closed, assigned to nobody

[2020-12-02 12:57] akatasonov commented on #1010
@Scitator any workaround for the time being? It seems it is not possible to use F1ScoreCallback in the recent version of the Catalyst without this fix. Thank you for your great package!

[2020-12-02 17:34] sleep3r opened #1016 "ClasswiseIouCallback bug"
## 🐛 Bug Report
ClasswiseIouCallback doesn't work, raising **TypeError: iou() got an unexpected keyword argument 'list_args'**

### How To Reproduce
Steps to reproduce the behavior:
1. Try to use it

#### Code sample
[code]

### Environment
Catalyst version: 20.09
PyTorch version: 1.6.0
Is debug build: No
CUDA used to build PyTorch: 10.2
TensorFlow version: N/A
TensorBoard version: 2.4.0

OS: Ubun

[2020-12-03 09:51] Podidiving opened #1019 "typo in activations"
https://github.com/catalyst-team/catalyst/blob/ab07c436cf730fb41d75cf6eee250d977379f2a0/catalyst/utils/torch.py#L24

I believe, it should be `nn.ELU: "elu"`

[2020-12-03 09:52] #1019 closed, assigned to nobody

[2020-12-03 09:53] Podidiving opened #1020 "Typo in activations"
## 🐛 Bug Report
https://github.com/catalyst-team/catalyst/blob/ab07c436cf730fb41d75cf6eee250d977379f2a0/catalyst/utils/torch.py#L24
I believe, it should be `nn.ELU: "elu"`

PS
- [x] I know, that I could [join Catalyst slack (#__questions channel)](https://join.slack.com/t/catalyst-team-core/shared_invite/zt-d9miirnn-z86oKDzFMKlMG4fgFdZafw) for issue discussion.

[2020-12-03 11:56] Podidiving commented on #1016
seems like `list_args` argument is just redundant

[2020-12-03 13:04] akatasonov commented on #1010
ok, replying to my own question: I had to copy the code of the callback and make it is using the correct f1_score (and don't import it from Catalyst). Ugly, but it works

[2020-12-04 05:50] Scitator commented on #1020
this is a trick to resolve this warning:
https://github.com/catalyst-team/catalyst/blob/ab07c436cf730fb41d75cf6eee250d977379f2a0/catalyst/utils/torch.py#L51L52 :)

Nevertheless, yup, it could be done better with more activation functions support

[2020-12-04 05:53] Scitator commented on #1016
🤔  sounds legit,
@sleep3r could you please contribute a minimal example for ClasswiseIouCallback test case, so we could decide the next steps on "how to fix it"?

[2020-12-04 05:59] Scitator commented on #1010
Creating custom callbacks is... normal :)
We have various metrics supported - https://catalyst-team.github.io/catalyst/api/metrics.html, but not all of them support callbacks, so you need to write them on your own for your data :)

[2020-12-04 15:50] alxmamaev opened #1021 "How to do KFold?"
## ❓ Questions and Help

Does exists some actual example, how to make KFold validation in Config API?

[2020-12-05 10:37] manhlab commented on #1008
thanks for that. after all found this.

[2020-12-05 10:37] #1008 closed, assigned to ditwoo, Scitator, bagxi

[2020-12-05 12:33] CrafterKolyan commented on #989
Should be fixed now

[2020-12-05 12:33] #989 closed, assigned to ditwoo, Scitator, bagxi

[2020-12-07 08:29] andriilitvynchuk opened #1023 "Leave batch size the same for different number of GPUs in DistributedDataParallel training"
## 🚀 Feature Request
I suggest adding the ability to leave the batch size the same as in the config for `DDP` training. Now it is impossible.

### Motivation
For now, if you add `--distributed` flag for training the batch size from config will leave the same. But - because `DDP` has N processes, each process will get the batch size from config and as a result, we will actually get batch_size = `N

[2020-12-07 08:51] #770 closed, assigned to nobody

[2020-12-08 17:23] alxmamaev opened #1024 "Can't use multiple workers for DataLoader"
## 🐛 Bug Report
I think, that I found a bug
When i try to setup num workers for dataloader> 0 inside ConfigAPi, im getting Can't pickle local object 'get_loaders_from_params. <locals>. <lambda>.

I found the reason for this behavior (link) because we try to put inside a lambda, and lambda is not pickle’iseble object

https://github.com/catalyst-team/catalyst/blob/0a2afda0e90425c206f3ece3a28e347cb5

[2020-12-08 17:25] alxmamaev opened #1025 "BatchOverfitCallback does not do overfit"
I'm found a strange behavior
When I tried to check my pipeline, by overfitting (I'm used BatchOverfitCallback), I got a strange result (image), my metric on train dataset was instable
My dataset created is only once (im checked that), im found the reason for this behavior.
Because every time, when we creating a data loader, we put true value to shuffle parameter, if the sampler is None and the dat

[2020-12-08 17:29] alxmamaev opened #1026 "F1 score metric does not work"
When I trying to use F1ScoreCallback, Im getting this error `f1_score() got an unexpected keyword argument 'beta'`

This is happening, because we trying to pass `beta` parameter inside the callback
https://github.com/catalyst-team/catalyst/blob/ccef2c7de7ff3869523a86f291b6a2390308bad5/catalyst/callbacks/metrics/f1_score.py#L31-L40

But the f1_score function doesn't get this param

https://github.c

[2020-12-09 04:58] Scitator commented on #1024
do you have a minimal example to reproduce?
or could you please check https://github.com/catalyst-team/catalyst/blob/master/bin/tests/check_dl_core_callbacks.sh then?

[2020-12-09 04:59] Scitator commented on #1021
duplicate :)

[2020-12-09 04:59] #1021 closed, assigned to ditwoo, Scitator, bagxi

[2020-12-09 04:59] Scitator commented on #1026
duplicate issue :)

[2020-12-09 04:59] #1026 closed, assigned to ditwoo, Scitator, bagxi

[2020-12-10 16:23] #1023 closed, assigned to ditwoo, Scitator, bagxi

[2020-12-11 10:44] AZadora opened #1030 "training GAN"
As I can see, your dl.Runner class is not suitable for training GANs. You refer to the catalyst-GAN instead. However, it looks like the catalyst-GAN repo is not being updated and there is no feedback on convergence issues.

[2020-12-11 17:46] Scitator commented on #1030
https://github.com/catalyst-team/catalyst#minimal-examples
:point_right: GAN - MNIST, flatten version

[2020-12-11 17:46] #1030 closed, assigned to ditwoo, Scitator, bagxi

[2020-12-13 14:46] smivv opened #1033 "WandbLogger image logging and issue fix"
## 🚀 Feature Request

Hello,

First of all I'd like to add possibility to send images, segmentation masks to Wandb.
Also I want to fix small issue: WandbLogger has no possibility to pass `name` through Config API, it crushes.
Description of that bug at the bottom: https://github.com/catalyst-team/catalyst/pull/720

[2020-12-13 16:14] Scitator commented on #1033
Could you please use our full proposal template? Thanks in advance!

[2020-12-13 16:14] #1033 closed, assigned to ditwoo, Scitator, bagxi

[2020-12-13 16:29] smivv opened #1034 "Wandb images logging + small issue fix"
## 🚀 Feature Request

First of all I'd like to add possibility to send images, segmentation masks to Wandb.
Also I want to fix small issue: WandbLogger has no possibility to pass name through Config API, it crushes.
Description of that bug at the bottom: #720

### Motivation
I need this functionality, this is my motivation :)
Also I don't see any possibility to log something except metric currentl

[2020-12-17 10:20] #906 closed, assigned to Scitator, bagxi

[2020-12-18 14:49] smivv opened #1038 "Bug in IoU function"
## 🐛 Bug Report
Hello!

I think current implementation of IoU function is not correct and that's why:

If targets and outputs are empty (all zeros), IoU = 1. That's correct.
But if we set one pixel of outputs equal to 1, we will receive IoU = 0 which is wrong.

### How To Reproduce

To reproduce just run this code in console.

[code]

### Expected behavior

I believe it should be ~ 1 in the second

[2020-12-18 17:36] smivv commented on #1038
Or seems like I've understood it wrongly, because now I think that we compare each object, not overall mask, so closing 🤔

[2020-12-18 17:36] #1038 closed, assigned to ditwoo, Scitator, bagxi

[2020-12-18 21:47] #950 closed, assigned to ditwoo, Scitator, bagxi

[2020-12-23 10:46] MaisnamNSingh commented on #242
Hi,
I am having trouble importing catalyst. I installed it using pip install -U catalyst on windows 10. I have already installed Pytorch 1.5 before with Cuda 10.1.

 Below is the error

import os
import torch
from torch.nn import functional as F
from torch.utils.data import DataLoader
from catalyst import dl, metrics
from catalyst.contrib.data.cv import ToTensor
from catalyst.contrib.datasets impo

[2020-12-25 23:42] #764 closed, assigned to nobody

[2020-12-26 13:51] Scitator commented on #912
looks like done :)

[2020-12-26 13:51] #912 closed, assigned to ditwoo, Scitator, bagxi

[2021-01-03 06:38] #964 closed, assigned to ditwoo, Scitator, bagxi

[2021-01-04 12:12] broniyasinnik opened #1047 "Unpacking model checkpoint"
https://github.com/catalyst-team/catalyst/blob/8b1e3f9e79d9c954d777ce762d59368550124dd4/catalyst/utils/checkpoint.py#L68

https://github.com/catalyst-team/catalyst/blob/0a2afda0e90425c206f3ece3a28e347cb58278d3/catalyst/utils/checkpoint.py#L41

Unpacking checkpoints of dictionary type models don't correspond to the way that they are saved, causing trouble loading them.

[2021-01-14 22:46] #970 closed, assigned to ditwoo, Scitator, bagxi

[2021-01-20 11:25] #991 closed, assigned to ditwoo, Scitator, bagxi

[2021-01-21 21:11] #992 closed, assigned to ditwoo, Scitator, bagxi

[2021-01-22 20:23] ValentinKoch commented on #584
How did you fix it? Still happening to me..

[2021-01-27 13:35] pandov commented on #833
Hello everyone! I think I was able to solve the problem of forced **collate_fn=default_collate_fn** as follows.
Go to file **catalyst/utils/loaders.py** and uncomment the line in **_force_make_distributed_loader**:
[code]

[2021-02-07 08:33] #1009 closed, assigned to ditwoo, Scitator, bagxi

[2021-02-14 11:53] MartSlaaf opened #1064 "Scheduler doesn't work with custom Runner"
## 🐛 Bug Report
When creating a custom runner as described in the documentation, the scheduler parameter is accepted, but never called.

### How To Reproduce
Steps to reproduce:
1. Create any sort of custom runner from the `Runner` parent class.
2. Pass scheduler as a parameter to `.train` call.

#### Code sample
[code]

### Expected behavior
Scheduler should make a step after each epoch as in sup

[2021-02-15 07:24] Scitator commented on #1064
Hi,
yeah, that's correct behavior – Runner is more about pure custom pipelines, so there are no automatic callbacks included. Nevertheless, you could define them by yourself, here is an example - https://colab.research.google.com/drive/1O78hshITj_dfCNzT3BhrihXKcS_iZn4W?usp=sharing

PS. btw, we are working on a huge core redesign. in this case, this bug should be fixed in near future.

[2021-02-15 10:58] MartSlaaf commented on #1064
Hello @Scitator and thanks for your answer!

Then I have three questions:
1. Your link is not open-access. Is it as planned, should I require access?
2. Is there any way to get something close to the SupervisedRunner (that is, automatic callbacks and such a service), but only with my own `_handle_batch`? When I try it straight forward, I stumble upon some different behavior of `batch` and so on.
2

[2021-02-15 16:25] Scitator commented on #1064
1. fixed link - https://colab.research.google.com/drive/1O78hshITj_dfCNzT3BhrihXKcS_iZn4W?usp=sharing
2. honestly speaking, just wait a couple of weeks please :)
- that's our next version 21xx demo - https://github.com/catalyst-team/catalyst/blob/kittylyst/examples/notebooks/demo%2021xx.ipynb
- and colab - https://colab.research.google.com/github/catalyst-team/catalyst/blob/kittylyst/examples/note

[2021-02-16 07:03] #1020 closed, assigned to ditwoo, Scitator, bagxi

[2021-02-16 07:03] #1016 closed, assigned to ditwoo, Scitator, bagxi

[2021-02-16 07:03] #1010 closed, assigned to ditwoo, Scitator, bagxi

[2021-02-17 18:32] KevinMusgrave opened #1066 "Comparison with other frameworks"
What are the benefits of using Catalyst over other PyTorch frameworks? It's hard to decide which one to use, so having a page that shows a comparison would be nice.

[2021-02-18 18:10] v-goncharenko opened #1068 "Way to use weighted loss in config"
I use configs to train my nets and now I've faced imbalanced classification problem. It could be solved by training classifier with weighted loss and `pytorch` losses support weighting out of the box.

But I couldn't use them because they accept only tensor input. If I provide a list of desired weights via config it get parsed to regular python list, so loss constructor fails.

To solve this I've

[2021-02-18 19:43] Scitator commented on #1068
Catalyst secret feature - you could define `get_from_params` class method to work with Catalyst Registry nicely. For example, https://github.com/catalyst-team/catalyst/blob/4f9fcd9c046b387378de6d295e7722b40361a020/catalyst/contrib/models/hydra.py#L143 .
In this way, all your params from the config would be passed to this method. All u need is to create the object instance by your own.

[2021-02-18 21:21] v-goncharenko commented on #1068
Weeeellll... that works for a custom class, am I right?

If yes - how is it supposed to work with regular `pytorch` classes like `nn.CrossEntropyLoss`?

I mean now for all built-in classes I have to write wrapper class (regardless which mechanism I use for passing params from config).

It would be great if one could use all built-in classes in config directly without writing boilerplated wrappers.

[2021-02-19 05:19] Scitator commented on #1068
Config-way of object creation is no the pure PyTorch way :)
So, you need to write your wrappers.

btw, speaking of the`weights` example, I think it should work naturally thanks to python dynamic cast list -> tensor during the `__init__` in the class. If no, it looks like we need to PR to the PyTorch :)

another opinion, that I see - add eval option to the Catalyst Config API, for example
[code]
or

[2021-02-19 10:40] v-goncharenko commented on #1068
AFAIK, PyTorch always accepted only tensor as an input for loss classes (any other type just fails), so I believe they won't change this (although I will search their issues for details). So PR to PyTorch doesn't look like a probable solution.

So for now answer to my initial question is
**No - one couldn't use `weights` param of `nn.CrossEntropyLoss` directly from config (without some wrapper cla

[2021-02-19 10:40] #1068 closed, assigned to ditwoo, Scitator, bagxi

[2021-02-20 19:31] #1025 closed, assigned to ditwoo, Scitator, bagxi

[2021-02-21 07:04] #1024 closed, assigned to ditwoo, Scitator, bagxi

[2021-02-23 06:25] Scitator commented on #1066
Hi,

Yeah, we have a plan for such kind of comparison. At least, we have a [place](https://catalyst-team.github.io/catalyst/getting_started/migrating_from_other.html) for it. It should get ready around next month, I think ;)

Speaking about the features, that's usually hard to compare them right – each of the frameworks would be the best and unique in their opinion. Some of the advantages from my

[2021-02-23 14:32] Hampusli opened #1080 "Multiclass segmentation"
## ❓ Questions and Help

Hi, I can't seem to find any documentation or examples for how multiclass segmentation would work. I have tried to rewrite the binary classification example for my solution without success and would be grateful for some assistance.

I have 4 classes with masks where each pixel is set to 1-4 depending on what class it is. How should I rewrite the __getitem__ function for my

[2021-02-23 19:26] Atharva-Phatak commented on #1080
Maybe this Kaggle kernel will help, it uses catalyst for the most part of the training and evaluation.

Link:  https://www.kaggle.com/artgor/segmentation-in-pytorch-using-convenient-tools

[2021-02-24 10:38] Hampusli commented on #1080
Thank you for the help, it gave some assistance, but my problem still persists.

This is a link to a copy of my code: https://colab.research.google.com/drive/1I88d-9gLkbfaE4m8B8UtKAzx-eARo2kI?usp=sharing

I am unsure of what the input to the model should be as I get a "shape mismatch" when I try to run the train-loop.

Any help would be much appreciated!

[2021-02-25 20:13] #1034 closed, assigned to ditwoo, Scitator, bagxi

[2021-02-27 02:18] KevinMusgrave commented on #1066
Thanks for the summary!

[2021-02-27 02:18] #1066 closed, assigned to ditwoo, Scitator, bagxi

[2021-02-27 17:24] Atharva-Phatak commented on #1080
I took a look at your notebook, your input images do not seem to be RGB. I think you will need to change to input structure of the model( the first conv layer). Your dataloader seems to be fine.

I recommend you do a single pass with the help of your model
i.e do a pass with single image and its corresponding targets,

Also if you can post the error report here and shapes of your input image, I th

[2021-02-27 17:49] Atharva-Phatak opened #1084 "[Feature] Generalized Mean Pooling"
## 🚀 Feature Request
I would catalyst to have an implementation of GeM(Generalized Mean Pooling) as proposed in this [paper](https://arxiv.org/pdf/1711.02512.pdf)

### Motivation
Well I like to use catalyst's contrib features very much and it has an amazing set of pooling methods available(GlobalMaxPool2d ,
GlobalConcatPool2d ,etc). I think that an implementation of GeM pooling will be a nice addi

[2021-02-28 05:55] Scitator commented on #1084
Hi,

The idea with the contrib pooling looks great for me (especially for our representation learning track). In this case, if you have time and motivation – it would be a valuable contribution. As far as there is already an implementation from the authors, I hope it would be a bit easier to add to the contrib. Nevertheless, ensure please that you have added docs and a few tests for new functional

[2021-02-28 06:40] Atharva-Phatak commented on #1084
Definetly, I will create a pull request including documentation and the required tests along with accepted implementations

Also since you mentioned representation learning for catalyst, would like to add more modules/Loss functions ? Like arcface , cosface, etc?

[2021-02-28 07:00] Scitator commented on #1084
The interesting thing... we already have many [arcfaces implemented and tested](https://medium.com/catalyst-team/representation-learning-with-catalyst-and-faces-946644d49184). The same for [metric learning](https://medium.com/pytorch/metric-learning-with-catalyst-8c8337dfab1a).

That's why all modules/losses/approaches for representation and metric learning are always welcome in the Catalyst ;)

[2021-03-09 23:56] ynwai opened #1110 "DistributedDataParallel fails for Stochastic Depth"
DistributedDataParallel training fails when model has Stochastic depth noise, due to the fact that different convolution layers get dropped on each of the models on GPU, and hence fails with the following error

[code]

The solution for this would be to make
[code]

[2021-03-13 20:18] Binbose opened #1119 "Documentation broken at several instances"
## 🐛 Bug Report

I am trying to get a simple segmentation model to work, but the documentation and all examples I found seem to be a bit outdated. Here is a collection of things that seem to not work (anymore), that I found before I gave up.

In the examples for segmentation on the catalyst github page you import
`from catalyst.data.transforms import ToTensor`
which fails with
`ModuleNotFoundError

[2021-03-14 07:07] Scitator commented on #1119
You could use our minimal examples section - https://github.com/catalyst-team/catalyst#minimal-examples

There is an example with mnist segmentation task and all required metrics included.

Nevertheless, you need to update the Catalyst first :) Our last version is 21.03.

Previous versions of the doc's you could find here - https://github.com/catalyst-team/catalyst#documentation

[2021-03-14 23:48] Binbose commented on #1119
Hey, I did use this minimal example, and this is where all the errors described in the first section of this post happened.
I used the latest pip installable version from yesterday a few hours before posting this. so it should be up to date unless there is a new build since then.

[2021-03-15 06:53] Scitator commented on #1119
Based on the colab you shared, it's using a very old version (v19 one :)) of the framework and as far as I remember was introduced by @BloodAxe for the pytorch-toolbelt showcase.

Based on your info
[code]
it sounds like you are using another old version of the framework. Docs are here - https://catalyst-team.github.io/catalyst/v20.04.2/index.html.

As a simple example for segmentation, you could

[2021-03-15 06:53] #1119 closed, assigned to ditwoo, Scitator, bagxi

[2021-03-17 07:19] #1084 closed, assigned to ditwoo, Scitator, bagxi

[2021-03-19 16:59] #1047 closed, assigned to nobody

[2021-03-20 09:10] Atharva-Phatak opened #1125 "[Feature] Additive Margin Softmax"
## 🚀 Feature Request

I would like to add [Additive Margin Softmax](https://arxiv.org/pdf/1801.05599v4.pdf) to its amazing list of various 'Face' losses.

### Motivation

Catalyst has nice support for metric learning and I would like catalyst modules to be expanded more and possibly have most SOTA implementations of Face metrics.

### Proposal

Just like how ArcFace and CosFace are implemented in

[2021-03-21 07:47] Scitator commented on #1125
Hi,

the idea looks great, especially if you are interested in the implementation contribution :)

I also think @Ditwoo would be interested in too.

[2021-03-21 07:49] Atharva-Phatak commented on #1125
Hi, yes I have a working implementation ready, I can write up some tests for it and create a pr.

[2021-03-21 07:51] Scitator commented on #1125
That's would be great,
btw, you could check current tests for the "Faces" family [here](https://github.com/catalyst-team/catalyst/blob/master/catalyst/contrib/nn/tests/test_modules.py)

[2021-03-21 07:52] Atharva-Phatak commented on #1125
I will take look at it for sure.

[2021-03-21 14:57] Atharva-Phatak commented on #1125
@Scitator I took a look at the tests, the tests seems to be well designed. So no worries. I will start with implementation and create PR soon.

[2021-03-21 17:12] Atharva-Phatak commented on #1125
@Scitator can you give me some tips on how to pass the codestyle ?
Here are the steps I followed.
1) I forked the latest repo and cloned it
2) installed the dependencies for requirements.txt and requirements-dev.txt
3) I run catalyst-make-codestyle first and the catalyst-check-codestyle
4) Files seem to be reformatted but flake8 errors persist. Also, there are no errors in the file which I added.(

[2021-03-21 19:04] Scitator commented on #1125
sorry, but could not reproduce the issue: https://colab.research.google.com/drive/1JCGTVvWlrIsLXMPRRRSWiAstSLic4nbA?usp=sharing

[2021-03-22 19:51] Atharva-Phatak commented on #1125
@Scitator Thank you now my codestyle is compatible. But when I run tests using pytest .. I get the following error
 ImportError: cannot import name 'SummaryWriter' from 'tensorboardX' (unknown location)

Here are the specs of my env
platform linux 20.04 -- Python 3.8.5, pytest-5.3.1, py-1.10.0, pluggy-0.13.1

Any tips to resolve it ?

[2021-03-23 05:10] Scitator commented on #1125
I think, you still have to reinstall the requirements `TensorboardX` is must-have one :)
https://github.com/catalyst-team/catalyst/blob/master/requirements/requirements.txt#L13

[2021-03-23 09:02] #1080 closed, assigned to ditwoo, Scitator, bagxi

[2021-03-23 12:28] JosianeUwineza opened #1132 "Model and loader on different devices"
## Fixing Request
I would like to ask if it is possible that the loader and model can have the same device so that the prediction stage can work properly in catalyst==21.0

#### Screenshots
![Screenshot from 2021-03-23 12-25-00](https://user-images.githubusercontent.com/75666755/112145889-97781b00-8be3-11eb-9fb3-00f9e526360b.png)
ble, add screenshots to help explain your problem.  -->

### Expecte

[2021-03-23 13:33] GR4HAM opened #1133 "21.03 breaks dataloading with multiple CPUs"
## 🐛 Bug Report

I have the following setup:
* A dataloader that uses multiple workers
* A model placed on a single GPU

When running the code, I believe catalyst assumes that ddp is happening and places the data on multiple GPUs even though ddp was not set to True. This is a problem starting in version 21.03 (I confirmed that in 20.12 it is not a problem).

### How To Reproduce
Steps to reproduce

[2021-03-23 16:39] Scitator commented on #1133
Sorry, but I could not reproduce the issue (I just tested it on a few machines).
Could you please check the following setup:
1. run in the first notebook cell
[code]
2. run in the second notebook cell
[code]

I suppose running such code in one cell does not affect `CUDA_VISIBLE_DEVICES` properly.

If you are using `.py` scripts, could you please try running with `CUDA_VISIBLE_DEVICES=2 python run.

[2021-03-23 16:40] Scitator commented on #1132
Nice catch! Should fix in the upcoming release this month.

[2021-03-23 16:59] GR4HAM commented on #1133
Hi, thank you for your quick response. Indeed what you suggest works. It is very strange why I don't have this problem with 20.12 but I can make the above test case work by simply setting the environment before importing torch as such:

[code]
So, apologies, problem appears to be from my side. Thanks again.

[2021-03-23 17:03] Scitator commented on #1133
A lot of underhood CUDA stuff could be changed after dl frameworks imports ;)

[2021-03-23 17:03] #1133 closed, assigned to ditwoo, Scitator, bagxi

[2021-03-23 18:22] Scitator commented on #1132
should be fixed in master branch in a few hours 🚀
https://colab.research.google.com/drive/1aTqevoFY8cHRTWctqn_Y4IP6F59DhFWe?usp=sharing

[2021-03-24 06:51] JosianeUwineza commented on #1132
Great, If it will be fixed soon.

[2021-03-29 18:17] Scitator commented on #1132
Should be fixed now :)

[2021-03-29 18:17] #1132 closed, assigned to ditwoo, Scitator, bagxi

[2021-03-29 18:17] Scitator commented on #1125
looks like merged ;)

[2021-03-29 18:17] #1125 closed, assigned to ditwoo, Scitator, bagxi

[2021-03-30 08:05] #833 closed, assigned to nobody

[2021-03-30 15:33] Entodi opened #1149 "21.03 breaks with BatchPrefetchLoaderWrapper"
## 🐛 Bug Report

```loaders = get_loaders_from_params(initial_seed=initial_seed, **loaders)``` seems does not work with `BatchPrefetchLoaderWrapper`

### How To Reproduce
Steps to reproduce the behavior: run the following code sample

#### Code sample

[code]
#### Screenshots

### Expected behavior
The code should be training.

### Environment
Catalyst version: 21.03.2
PyTorch version: 1.8.1
Is de

[2021-03-31 15:40] Aktsvigun opened #1154 "Several train DataLoaders for runner"
Hi,
I wonder if it is possible to pass several `DataLoader` -s to `runner` during train phase?

[2021-03-31 15:52] Scitator commented on #1154
yup :)
Here are the [docs](https://catalyst-team.github.io/catalyst/faq/data.html#multiple-datasources)

[2021-04-01 06:20] vinnamkim opened #1155 "HitrateMetric returns wrong results"
## 🐛 Bug Report

### How To Reproduce
#### Code sample
[code]

#### Results
Occasionally, it returns ```hitrate@{x1} > hitrate@{x2}``` for ```x1 < x2```.
[code]

### Expected behavior
Hitrate should returns ```hitrate{x1} < hitrate{x2}``` for every ```x1 < x2```.

### Environment
[code]

### Additional context
https://github.com/catalyst-team/catalyst/blob/5cc209ef5f850548a4daa5da229bec4831767ebb/

[2021-04-01 07:25] Scitator commented on #1155
I think @zkid18 could help us a bit here.
I will dive into the issue during the weekend, that for sure.
If you could submit a PR with these light changes and [extra tests](https://github.com/catalyst-team/catalyst/blob/master/catalyst/metrics/functional/tests/test_hitrate.py) - that's would be great!

[2021-04-01 08:27] Aktsvigun commented on #1154
@Scitator thanks a lot!

[2021-04-01 10:03] #1154 closed, assigned to ditwoo, Scitator, bagxi

[2021-04-03 02:51] Scitator commented on #1149
could you please do the following as a hotfix:

[code]
?
We will drop a correct solution next release ;)

[2021-04-04 08:45] zkid18 commented on #1155
@vinnamkim  thanks for opening the issue.
I'll double-check the implementation today.

[2021-04-04 10:08] PeYceBall opened #1160 "AccuracyCallback does not work if 1 is not in topk_args"
## 🐛 Bug Report

Apparently AccuracyCallback raises an error when 1 is not in tuple passed to AccuracyCallback as topk_args.

### How To Reproduce
I ran code snippet from https://catalyst-team.github.io/catalyst/#getting-started on Google Colab while only changing topk_args in AccuracyCallback.

#### Code sample
[code]

### Expected behavior
AccuracyCallback should work with any tuple of positive

[2021-04-05 04:27] Scitator commented on #1155
@vinnamkim could you please check the PR and add your comments? let's make it clear together :)

[2021-04-05 05:38] Scitator commented on #1160
hi,
yeah, that's correct, Catalyst suppose to have top1 accuracy as the default alias :)
as a possible solution we could always add (1, ) to the `topk_args`, but have not implemented it yet
nevertheless, it would be a valuable contribution if you could do so 🚀
The [AccuracyMetric](https://github.com/catalyst-team/catalyst/blob/master/catalyst/metrics/_accuracy.py#L12) code is very straightforward.

[2021-04-05 07:05] Scitator opened #1161 "Add Classifier-Balancing to catalyst.data API"
## 🚀 Feature Request

Let's add samplers from [`facebookresearch/classifier-balancing`](https://github.com/facebookresearch/classifier-balancing) to [catalyst.data.sampler](https://github.com/catalyst-team/catalyst/blob/master/catalyst/data/sampler.py).

### Motivation

Catalyst already has a large variety of data samplers – let's compare them with the FB Research one and add them to our Data API.

[2021-04-05 09:18] igor-yusupov opened #1162 "there is no possible to get loss from epoch_metrics"
## 🐛 Bug Report
In the previous version it was possible to receive information about the loss for the epoch

### How To Reproduce
Run this code sample and you will see that runner.epoch_metrics doesn't have info about loss.

#### Code sample

[code]

[2021-04-05 15:55] Scitator commented on #1162
Yeah, that's correct: if you are computing the metric directly in the loop – you have to add them directly to the batch and loader storages. Please follow the docs [here](https://catalyst-team.github.io/catalyst/faq/logging.html#logging).

[2021-04-06 14:30] igor-yusupov commented on #1162
ok, I got it. thanks!

[2021-04-06 14:30] #1162 closed, assigned to ditwoo, Scitator, bagxi

[2021-04-07 08:47] AlekseySh opened #1166 "SWA can broke because torch.div may be deprecated"
`torch.div` function is using for swa:
https://github.com/catalyst-team/catalyst/blob/e43c62e9cafdd703d5d35779c7aa90e2be761a34/catalyst/utils/swa.py#L53
(function `average_weights`).

But this function may not work with torch 1.6: [link](https://pytorch.org/docs/1.6.0/generated/torch.div.html?highlight=div)
[code]
I have checked, that it works with CPU build, but does not work with GPU one (at lea

[2021-04-07 10:01] LAnastasiia opened #1167 "`AttributeError: 'TensorboardLogger' object has no attribute 'order'` when using `TensorboardLogger` callback"
## 🐛 Bug Report

### How To Reproduce
Steps to reproduce the behavior:
1. instantiate a dl.Supervised(...) runner
2. `runner.train(..., callbacks=[dl.TensorboardLogger(logdir="..."])`
3. observe `AttributeError: 'TensorboardLogger' object has no attribute 'order'`

[code]

#### Code sample
[code]

### Expected behavior
https://catalyst-team.github.io/catalyst/v19.11/api/dl.html#catalyst.dl.callbac

[2021-04-07 14:45] Scitator commented on #1166
could you please provide a minimal example? maybe on google colab?

[2021-04-07 14:47] Scitator commented on #1167
As far as you are using the last Catalyst version, please follow the last version documentation.
https://catalyst-team.github.io/catalyst/

[2021-04-07 15:05] AlekseySh opened #1168 "Resume via CheckpointCallback does not work"
`CheckpointCallback` does not work for resuming train. It does nothing: it does not change the numbers of epochs, batches, etc. (It starts from scratch). It does not load model and optimizer states.

I show the problem to @Ditwoo
He said, that there were some tests about it, but they are commented on now. Can you provide a link, please?

Probably, the problem may be connected with a lot of comment

[2021-04-07 15:10] Scitator commented on #1168
Dear @AlekseySh please prove the issue into the required form :)
"Bug" should be okay ;)
Thanks in advance!

[2021-04-07 15:10] #1168 closed, assigned to ditwoo, Scitator, bagxi

[2021-04-11 13:17] manhlab opened #1173 "input_key Multi Input models"
I have a model with 2 inputs. But don't know how to parse it to input_key in SupervisedRunner!
I think it's a popular feature. Anyone can add it to the document or tell me how to do this!
Thanks for your response!

[2021-04-15 17:22] ditwoo opened #1177 "Catalyst docs"
## 🐛 Bug Report

Could you please fix the link to previous versions of docs.

![image](https://user-images.githubusercontent.com/7264490/114912151-58c33280-9e28-11eb-8538-0a445be5cd70.png)

#### Code sample

#### Screenshots

### Expected behavior

### Environment
Please copy and paste the output from our environment collection script
[code]
(or fill out the checklist below manually).

[code]

###

[2021-04-17 04:55] #1064 closed, assigned to ditwoo, Scitator, bagxi

[2021-04-17 04:55] Scitator commented on #1064
resolved in 21.xx versions ;)

[2021-04-17 06:11] Scitator commented on #1177
Fixed ;)
https://catalyst-team.github.io/catalyst/versions.html

[2021-04-17 06:11] #1177 closed, assigned to ditwoo, Scitator, bagxi

[2021-04-17 06:11] Scitator commented on #1110
Fixed ;)
https://catalyst-team.github.io/catalyst/api/engines.html#distributeddataparallelengine

[2021-04-17 06:11] #1110 closed, assigned to ditwoo, Scitator, bagxi

[2021-04-17 06:12] Scitator commented on #1149
Fixed with `21.04` ;)

[2021-04-17 06:12] #1149 closed, assigned to ditwoo, Scitator, bagxi

[2021-04-17 06:12] Scitator commented on #1155
Fixed with `21.04` ;)

[2021-04-17 06:12] #1155 closed, assigned to ditwoo, Scitator, bagxi

[2021-04-20 18:11] Scitator opened #1183 "SklearnMetric integration"
## 🚀 Feature Request

Let's add official support for all sklearn metrics to our Metric API.

### Motivation

Sklearn metrics play an essential role in ml models benchmarking.

### Proposal

Possible usage

[code]

We also should add sklearn as an extra module to the Catalyst [like `ml` one](https://github.com/catalyst-team/catalyst/blob/master/catalyst/settings.py#L154).

### Alternatives

We coul

[2021-04-20 18:32] Scitator opened #1184 "Fairscale integration"
## 🚀 Feature Request

Let's add [Fairscale support](https://github.com/facebookresearch/fairscale) to our Engine API.

### Motivation

With new Engines API is easy add new hardware accelerators to the framework – let's check it our!

### Proposal

Possible use cases

#### Pipe
[code]

#### Optimizer state sharding (ZeRO)
[code]

The interesting thing here – Fairscale also support mixed-precision t

[2021-04-20 18:48] Scitator opened #1185 "Deepspeed integration"
## 🚀 Feature Request

Let's add [DeepSpeed support](https://www.deepspeed.ai/getting-started) to our Engine API.

### Motivation

### Proposal

Possible use cases
[code]

Honestly speaking, I see DeepSpeedEngine as a simple wrapper around
[code]

### Alternatives

### Additional context

We should also add Deepspeed to the frameworks extras, like [cv/ml/etc](https://github.com/catalyst-team/cataly

[2021-04-20 18:58] Scitator opened #1186 "Evaluate for Runner"
## 🚀 Feature Request

The `evaluate_loader` method for Python API. Similar to `.train` and `.predict_loader`

### Motivation

### Proposal

Possible use case
[code]

### Alternatives

The whole method could be easily done with the `.train` approach, but for a more user-friendly API – why should not we add a simplified alias?

### Additional context

### Checklist
- [x] feature proposal description

[2021-04-20 20:14] ssktotoro opened #1187 "Integrate Pytorch Profiler in"
## 🚀 Feature Request

Let's add support profiling of functions using the Pytorch profiler.

### Motivation

Help understand if there are bottlenecks in code

### Proposal

Possible Use Case
[code]

### Alternatives

We could also integrate the profiler into other parts of IRunner.

### Additional context

I don't know whether older versions of Pytorch (<1.8.1) allow you to pass profiler as the con

[2021-04-21 06:51] Scitator commented on #1173
Hi,
have you tried
[code]
?

[2021-04-21 10:46] AlekseySh commented on #1186
In general, I like this proposal, but I have one point to add:
What if we have trained our model via `train.py`, but then we are going to evaluate this model in `valid.py`?.
In this case, `Runner` objects would be different. But the model was defined only in the first runner.
And I guess, that we also don't want to bring all the trained parameters to evaluation.
So, we should separate it somehow.

[2021-04-21 10:47] kamil-kaczmarek opened #1189 "Example from getting started in README.md fails"
## 🐛 Bug Report
Running example from the `README.md` fails with `TypeError`.

### How To Reproduce
Steps to reproduce the behavior:
1. Create new virtualenv, python3.6, catalyst==21.4.1
1. Run example from the `getting started` section in README.md
3. observe TypeError :)

[code]

#### Code sample
It was copied from `README.md`, master branch.

[2021-04-21 11:08] Scitator commented on #1189
Could you please provide more details? (we have a special script for that).
Current CI works great with 3.6/3.7/3.8 python and 1.3+ PyTorch. Moreover, I have run a quick sanity check and could not reproduce the error - https://colab.research.google.com/drive/1-n9FMN2D35hawNn4PeAjlbmkZenBDIvd?usp=sharing

[2021-04-21 11:44] kamil-kaczmarek commented on #1189
Here is an output from `catalyst-contrib collect-env`

[code]

Hope this helps.

[2021-04-21 13:04] GR4HAM opened #1190 "Shuffling automatically set to True in Config API - not compatible with iterable datasets"
## 🐛 Bug Report
In the config API it appears that it is assumed that the train dataloader should be shuffled, as per the following line: https://github.com/catalyst-team/catalyst/blob/a7bc302a762d7d9f462ded6d9cd6ae70f8b656aa/catalyst/utils/data.py#L201

This behaviour is particularly undesirable when using iterable datasets, as they are incompatible with shuffle=True. It would probably be better t

[2021-04-21 14:04] y-ksenia commented on #1183
I could handle it:)

[2021-04-21 15:54] leoromanovich commented on #1186
@AlekseySh Hi!
Do you mean functional like that, but inside Supervised runner?

[code]

[2021-04-21 16:36] Scitator commented on #1186
🤔 @leoromanovich , I like your implementation (with, maybe, a few extra parameters for seed/logdir/etc and a few docs).
Could you please contribute it? From the Runner API perspective, it looks good for me.

[2021-04-21 16:37] Scitator commented on #1190
have you tried
[code]
?

[2021-04-21 16:39] leoromanovich commented on #1186
@Scitator Sure!
AlekseySh and I are discussing the right way of implementation.

[2021-04-21 16:40] Scitator commented on #1186
which one? 😂

[2021-04-21 16:50] leoromanovich commented on #1186
Maybe more common, on the higher level of inheritance of Runners :)

[2021-04-21 16:55] kamil-kaczmarek commented on #1189
I did a bit of research on this.

Problem disappears when I installed tqdm-4.60.0 (in the Google Colab it's already in the env).

[2021-04-21 17:04] Scitator commented on #1189
🤔  looks like ``torch.tqdm`` somehow depends on just tqdm, good catch! we will return the tqdm dependency in such a case :)

[2021-04-21 17:05] Scitator commented on #1186
I am now sure, that it would be correct...

[2021-04-21 17:06] Scitator commented on #1186
I mean, you could make an extra functional wrapper for model-loader evaluation, but the Runner API should looks like the top one, I think.

[2021-04-21 17:06] ghost commented on #1161
I think, I can handle it

[2021-04-21 17:13] leoromanovich commented on #1186
I see. It seems like `evaluate_loader` should be a simple and exclusive method of `SeupervisedRunner`. Am I right?

[2021-04-21 17:17] Scitator commented on #1186
From the Runner API perspective - it should be the `Runner` method.
I mean, only the Runner knows how we would like to feed the data into the model and how we would like to compute the metrics during custom `bathc_handle`

[2021-04-21 17:18] Scitator commented on #1161
Thank you very much!
Feel free to ask any questions 🚀

[2021-04-21 17:55] leoromanovich commented on #1186
Got it. I'll prepare a method for Runner. =)

[2021-04-22 07:13] Scitator commented on #1187
dear @ssktotoro, thanks for the issue
Am I correct, that we could do something like
[code]
?
So, just make a code injection [here](https://github.com/catalyst-team/catalyst/blob/master/catalyst/core/runner.py#L800) or. [here](https://github.com/catalyst-team/catalyst/blob/master/catalyst/core/runner.py#L779#L791)?

The example is taken from the PyTorch docs https://pytorch.org/docs/master/profiler

[2021-04-22 07:35] kamil-kaczmarek commented on #1189
Sounds good thanks!

[2021-04-22 07:56] GR4HAM commented on #1190
Yes, in that case I get the following error:
`TypeError: get_datasets() got an unexpected keyword argument 'shuffle'`

[2021-04-22 08:10] AlekseySh commented on #1186
I mean if we add the eval method to Runner, then it will no affect to HydraRunner and ConfigRunner. Is this expected behavior? @Scitator

[2021-04-22 12:13] ssktotoro commented on #1187
That's the easy version to play with.  The more annoying bit of what I envision is passing the profiler rather than a flag in order to have it be fully configurable.  This means that we validate the profiler after its passed, but that's not too bad either.

[2021-04-22 14:38] eloygeenjaar commented on #1187
There is definitely a trade-off here, a lot of the arguments to the profiler we can extract from the environment, e.g.: whether to profile both the CPU and CUDA or only CPU. Furthermore, in most instances, it would probably be beneficial to set flags like profile_memory=True and use a standard warmup for the profiler. The question is then: do we want to make it as easy as possible on the user by i

[2021-04-22 15:45] eloygeenjaar commented on #1187
A quick note regarding your code example @Scitator, we would also need a p.step() in on_batch_end(), so maybe the profiler should be an attribute of the IRunner class (if the profile argument is set to True)

[2021-04-22 17:43] Scitator commented on #1186
Yup, that's the Python API, while Config/Hydra - are other ones.
Nevertheless, we could try to inherin Config/Hydra from the Runner one... or just make a `.train`, `.evaluate`, `.predict` as extra `IPythonRunner` (we should choose better name) and make the following changes:
-  `Runner(IPythonRunner) & SupervisedRunner(IPythonRunner, ISupervisedRunner, IRunner)`
- `ConfigRunner(IPythonRunner, IRun

[2021-04-22 18:17] Scitator commented on #1187
Speaking about the profiler, we could do the following. For the Python API:
[code]
So, you could use the default with `True` flag or your own with precise specification.

Nevertheless, I am not sure about CustomRunner or Config API cases here....

One possbile solution could be to add `get_profiler` (just like [`get_engine`](https://github.com/catalyst-team/catalyst/blob/master/catalyst/core/runne

[2021-04-22 18:31] eloygeenjaar commented on #1187
@Scitator what are your thoughts on adding record functions: `with profiler.record_function("_run_batch"):` for the hierarchical runner functions like: `_run_epoch()`, `_run_loader()`, `_run_batch()`, etc. These record functions allow us to accurately time those sub-functions of the runner and help the user understand what part of the runner is the bottleneck to their training/inference speed. Thi

[2021-04-22 18:32] Scitator commented on #1190
Oh, I see, as a possible workaround:
[code]

Nevetheless, it would be great if you could inject a hotfix [here](https://github.com/catalyst-team/catalyst/blob/master/catalyst/utils/data.py#L201).

[2021-04-22 20:07] Scitator opened #1193 "Return `resume` support for CheckpointCallback and `.train`, `predict`"
## 🚀 Feature Request

Return the resume support for the [`CheckpointCallback`](https://github.com/catalyst-team/catalyst/blob/master/catalyst/callbacks/checkpoint.py#L374#L393) and [`Runner.train`](https://github.com/catalyst-team/catalyst/blob/master/catalyst/runners/runner.py#L315#L352), [`Runner.predict`](https://github.com/catalyst-team/catalyst/blob/master/catalyst/runners/runner.py#L535#L546

[2021-04-23 21:17] bagxi opened #1195 "Add torch metrics support"
## 🐛 Bug Report

[`AdditiveValueMetric`](https://github.com/catalyst-team/catalyst/blob/3db5d21a01ab9a138bc76a26b8ca97870922f3f2/catalyst/metrics/_additive.py#L62) assumes that the metric value can be converted to float / NumPy array. But in reality, there are many cases when it is much faster and easier to calculate metrics on GPU using PyTorch. And this will cause errors as `torch.Tensor` cannot

[2021-04-24 14:06] manhlab commented on #1173
I tried but not successful. Did I need customer batch to handle?

[2021-04-25 06:22] Scitator commented on #1173
Could you please provide a minimal example of the trial? First of all, to check the implementation correctness. Secondly, if everything is right and there is a bug on the Catalyst side, add it to the tests.

For now, you could try to use [the following minimal example](https://github.com/catalyst-team/catalyst#minimal-examples):

[code]

[2021-04-25 06:26] Scitator commented on #1173
Moreover, I think you could rewrite the `handle_batch` for the SupervisedRunner too as a quick hotfix.

[2021-04-25 06:27] Scitator commented on #1195
Nice catch!
Do you think adding `mode=["numpy", "torch"]` would be a good idea for AdditiveValueMetric?

[2021-04-25 06:52] Scitator commented on #1187
We could update the whole Runer with such an injectns (`with profiler.record_function("_run_{XXX}"): run_XXX()`), yeah.
Nevertheless, is it possible to wrap it with the Callback? Would it cost some measure bias during profiling?

[2021-04-25 20:48] manhlab commented on #1173
Thanks you so much for quick reply. I fix it with 2 thing
[code]
IT NEED the same string as your key1 and key2. if key1="image", key2="meta" so
[code]

[2021-04-25 20:48] #1173 closed, assigned to ditwoo, Scitator, bagxi

[2021-04-26 14:18] Scitator commented on #1173
Nice catch!
While you have just resolved such an issue, don't you mind contributing your example to the [documentaion](https://catalyst-team.github.io/catalyst/faq/data.html) [here](https://github.com/catalyst-team/catalyst/blob/master/docs/faq/data.rst)?
I think it would be a great contribution to the community.
Thanks in advance!

[2021-04-26 16:30] leoromanovich commented on #1186
If it will be smthg like this, @Scitator what do you think?

[code]

[2021-04-26 21:00] eloygeenjaar commented on #1187
We could wrap it in a callback and those callbacks would probably be measured by the profiler, so I don't think it would be biased. I just wonder whether wrapping it in a callback wouldn't make it harder to use the profiler, because the user would first have to instantiate the profiler, pass it to the runner and then also use a separate callback.

[2021-04-27 17:27] Scitator commented on #1186
It looks good from my point of view 👍
The only thing, that would be definitely required: different test cases. For example, I am not sure we need to use `CheckpointCallback` (which is usually turned on if `logdir` is specified) to save our model. Or we should write proper docs to "Do not mess train and evaluate logdirs :) ", something like that.

[2021-04-27 17:29] Scitator commented on #1186
btw, it would be also great if we could update our main `Readme.md` example with `runner.evaluate_loader` :)
Looking forward to see your contribution ;)

[2021-04-29 06:30] Scitator commented on #1190
@GR4HAM meanwhile, could you please submit a PR with hothix? while we are on the same page ;)

[2021-05-03 10:33] rfali opened #1200 "Does Catalyst support multi-agent environments?"
Hi

1. Can Catalyst implementations be used in multi-agent environments?
2. Does Catalyst support vectorized environments?

I am more specifically talking about DQN/Rainbow (and not interested in PPO etc)  as my action domain is discrete.

### FAQ
Please review the FAQ before submitting an issue:
- [x] I have read the [documentation and FAQ](https://catalyst-team.github.io/catalyst/)
- [ ] I have

[2021-05-03 12:35] Scitator commented on #1200
Hi!

Catalyst.RL 2021 is currently in the development stage, you could check [the demo notebook here](https://github.com/catalyst-team/catalyst/blob/master/examples/notebooks/demo%2021xx.ipynb).
tl;dr
- you could implement any architecture you would like
- and any policy logic you want
- connect all these through the custom "GameCallback"
- and watch you training :)

By saying this, I mean, that i

[2021-05-03 13:24] Scitator commented on #1186
hi there,
@leoromanovich do you need any help with the implementation? is there any progress for opening a PR? ;)

[2021-05-04 09:58] bagxi commented on #1195
I think it will be easier to check types of inputs and use `utils.detach_tensor` in case of torch tensors?

[2021-05-05 06:05] Scitator commented on #1195
why you could not specify that during init?
checking `dtype` each batch looks like performance killer

[2021-05-05 06:50] bagxi commented on #1195
Sometimes people may have no ideas about types. And it also will be much easier to use this thing.

Can we assume that `dtype` of each batch is the same? If yes, then we can check `dtype` only for the first batch and store this information inside `AdditiveValueMetric`.

[2021-05-05 18:31] Scitator commented on #1195
the problem here is that it requires you to check the type **each** batch, which is some kind of slow
moreover... how could we do not know the dtype of the returned metric value? it should be documented, I hope

[2021-05-06 06:43] kamil-kaczmarek commented on #1189
fixed in #1192

[2021-05-06 06:43] #1189 closed, assigned to ditwoo, Scitator, bagxi

[2021-05-06 10:30] bagxi commented on #1195
And what about the function that will redefine itself on the first batch? In this case, `dtype` will be checked only once, but it is a little bit tricky approach.

[2021-05-06 16:29] Scitator commented on #1195
🤔  do you have an example of such a function?

[2021-05-07 12:11] bagxi commented on #1195
[code]

[2021-05-07 13:51] rfali commented on #1200
Thanks @Scitator. I actually was looking towards Catalyst-RL because of this multi-headed DQN as per this [PR](https://github.com/catalyst-team/catalyst/pull/198) that I wanted to use in a multi-agent environment.

I looked at this [catalyst atari example](https://github.com/catalyst-team/catalyst-rl/tree/master/examples/atari). I see that the multi-headed dqn is part of this [dqn.py](https://gith

[2021-05-07 16:40] Scitator commented on #1195
why should we use such a metric with undefined behavior? do you have any real-metric examples?

[2021-05-10 08:19] Scitator commented on #1200
Sorry, Catalyst.RL is deprecated for now – you could use it, run it and do all other interesting research stuff on your own.
Nevertheless, active support is not possible for free time. If you still would like to collaborate on Catalyst.RL, you could write us at team@catalyst-team.com.
Moreover, speaking of the open-source Catalyst.RL 2, you could check out new examples [here](https://github.com/ca

[2021-05-11 14:10] Atharva-Phatak commented on #1183
@Scitator How do you plan on handling the input types to sklearn metrics ? . AFAIK sklearn accepts inputs in specific shapes(mostly 1D arrays) with some post processing. I was wondering if its worth the effort or just write our own metrics in pure torch ?

[2021-05-11 19:02] Scitator commented on #1183
@Atharva-Phatak I think, we could use [BatchTransformCallback](https://catalyst-team.github.io/catalyst/api/callbacks.html#batchtransformcallback) to prepare the tensors for the metric – use BatchTransformCallback + SklearnCallback together.

[2021-05-11 22:49] Atharva-Phatak commented on #1183
@Scitator Oh wow yes that's a solution, but from a user's perspective, I would not like to write transforms and rather let the library handle the transforms. What do you think? We can write something like fastai [AccumMetrics](https://github.com/fastai/fastai/blob/master/fastai/metrics.py#L25), just an opinion. 😬

[2021-05-12 07:01] Scitator commented on #1183
🤔  looks like we have one - [AccumulationMetric](https://catalyst-team.github.io/catalyst/api/metrics.html#accumulationmetric). You could use it to store the incoming input and write your metric above the stored values.

Speaking about the Metric API – due to a large number of supported metrics Catalyst Metric API works on the most comfortable input/output for metric computation. All other prepara

[2021-05-12 10:37] rfali commented on #1200
I just wanted to use the catalyst v1 out of the box for one of its implementation and was wondering how can I use catalyst agents in other environments (gym-like but not Gym itself). the catalyst v2 does not have the specific implementation I am looking for.
Anyways, seems like I will have to figure this out myself. Thanks!

[2021-05-12 10:37] #1200 closed, assigned to ditwoo, Scitator, bagxi

[2021-05-13 21:33] MordehayM opened #1212 "import catalyst.core.callbacks.metrics is not regonized"
I tried to import the class - MetricCallback but didn't succeed.
 import catalyst.core.callbacks.metrics is not regonized
But in the docs there is that class:
https://catalyst-team.github.io/catalyst/v20.04.1/api/core.html?highlight=catalyst%20core%20callbacks%20metrics#module-catalyst.core.callbacks.metrics

Help please

[2021-05-14 18:07] Scitator commented on #1212
could you please use the [`21.04.1` version](https://catalyst-team.github.io/catalyst/v21.04.2/index.html)?

[2021-05-16 12:07] jaideep11061982 opened #1213 "Verbose=True prints all Iteration progress"
Verbose =True prints in all iteration progress rather than regular tqdm progress that dsnt prints all iterations , just updates as iteration progresses and then next epoch in next line.

[2021-05-18 17:56] #1195 closed, assigned to ditwoo, Scitator, bagxi

[2021-05-26 08:16] Atharva-Phatak opened #1221 "Integration of Sklearn Cross validation Strategies in Catalyst"
## 🚀 Feature Request

Sklearn provides multiple cross-validation strategies, Catalyst has a very user friendly API. I would like to add a method to catalyst which will enable user to do cross validation with catalyst.

### Proposal

Here are a list of possible solutions I can think of
1. Create a new class essentially inheriting from IRunner which accepts torch style datasets(with keys for input(x

[2021-05-26 09:26] km4sh opened #1222 "`runner.batch_metrics` UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach()"
## 🐛 Bug Report

While `runner.train()`, a **UserWarning** is raised:
[code]
I know that is because the `runner.batch_metrics['loss']` is a tensor, and the warning will be fixed with a float loss value.
However, a float loss value is not able to do BP. How to fix it properly?

### How To Reproduce
Steps to reproduce the behavior:
1. Train a runner
2. Watch the output from python

#### Code sample

[2021-05-26 19:16] Scitator commented on #1222
Hi @km4sh ,
yeah, I know about the warning, nevertheless not sure if it required to be solved.
as a simple hotfix, you could use [warnings.filter](https://github.com/catalyst-team/catalyst/blob/master/catalyst/__init__.py#L4)

[2021-05-26 19:19] Scitator commented on #1221
Hi @Atharva-Phatak ,
thanks for your proposal, looks very interesting (and we definitely have something like that in mind).
Do you have a vision of how it should look like in the end? without final implementation, of course, but on a high level?

[2021-05-27 21:13] Atharva-Phatak commented on #1221
@Scitator I would personally design a new class since cross validation has so many things to keep track of a separate runner would be better in long term perspective.
1) What I would also love to design is a model callback that initiailizes model, everytime a new fold training start.
2) Coming to the point of generating folds, I think creating a dict which holds all the folds indices would suffice

[2021-05-30 07:29] #1186 closed, assigned to nobody

[2021-06-01 11:55] sayakpaul opened #1227 "Segmentation tutorial"
Was wondering where the segmentation notebook go? The full link is:

https://github.com/catalyst-team/catalyst/blob/master/examples/notebooks/segmentation-tutorial.ipynb.

[2021-06-02 19:15] Scitator commented on #1227
Hi, have you tried out our [minimal examples](https://github.com/catalyst-team/catalyst#minimal-examples)? There is CV - MNIST segmentation example available.

[2021-06-04 11:13] y-ksenia opened #1228 "TracingCallback fails in ConfigAPI"
## 🐛 Bug Report

When running TracingCallback the run fails with an RuntimeError.

Apparently, inside the callback, there is a [transfer from any device to `cpu`](https://github.com/catalyst-team/catalyst/blob/a927bed68c1abcd3d28811d1d3d9d7b95e0861a1/catalyst/callbacks/tracing.py#L150) of batch which is used for tracing. And when the `runner.model` is on `cuda` it fails.

### How To Reproduce
Step

[2021-06-06 07:24] Scitator commented on #1228
🤔  @elephantmipt why do we have hardcoded `cpu` version?
@y-ksenia have you tried the same callback without this line?

[2021-06-06 11:49] Scitator commented on #1221
🤔  do you have any pseudocode ideas?
something like
[code]
from my perspective, the cross-validation could be done very easily with the CustomRunner-like approach, for example: [CV - MNIST multistage fine-tuning](https://github.com/catalyst-team/catalyst#minimal-examples)

[2021-06-06 18:50] #1167 closed, assigned to ditwoo, Scitator, bagxi

[2021-06-07 09:47] y-ksenia commented on #1228
Just checked - works fine without cpu transfering.

[2021-06-07 17:21] benihime91 opened #1233 "Accessing model/Runner inside catalyst.dl.Logger"
Hi, I have recently started using Catalyst and I must say It is quite awesome. Bing thanks to the contributors. So I had a question. Is there a way I can access the `runner`/ `model` inside a `catalyst.dl.Logger` instance.

So what I am specifically trying to achieve is logging my `model graph` to `wandb`. For that I need to access the `model`. I have already pathched the existing wandb logger to

[2021-06-07 17:29] Scitator commented on #1233
Hi,
Logger API tries to create standalone logging.... API 😂 , so there are no connections with the Runner class.
I think you just need `log_model` method for the Logger API. For example, during [Neptune integration](https://github.com/catalyst-team/catalyst/pull/1196/files) we have added `log_artifact` one.
It would be great if you are ready to contribute to the project (+ it would be great to add

[2021-06-07 17:41] benihime91 commented on #1233
Yes. `log_model` definitely works ... Thanks a lot for the prompt reply ! Can I work on adding a `log_model` for `WandbLogger` in the upcoming days, preferably next week. I plan on getting myself familier with the API in the meantime

[2021-06-07 17:46] #1233 closed, assigned to ditwoo, Scitator, bagxi

[2021-06-10 05:47] #1228 closed, assigned to ditwoo, Scitator, bagxi

[2021-06-10 18:47] Atharva-Phatak commented on #1221
@Scitator I like the custom runner approach though how will you re-initialize the model for each fold and other callbacks as well?

Here is what I was thinking and of course I am open to other ideas!

1) Find a way to reinitialize the models, callbacks, etc. i.e how can we IRunner to initialize it ?
2) How do we get "X" and "y" for the datasets? Accept keys ? we have to figure this out.
3)  I was

[2021-06-18 12:07] #1160 closed, assigned to ditwoo, Scitator, bagxi

[2021-06-20 06:27] Scitator commented on #1185
done

[2021-06-20 06:27] #1185 closed, assigned to nobody

[2021-06-20 06:27] Scitator commented on #1184
done

[2021-06-20 06:27] #1184 closed, assigned to nobody

[2021-06-20 17:30] #1166 closed, assigned to ditwoo, Scitator, bagxi

[2021-06-22 04:53] Scitator commented on #1193
we need it 👀

[2021-06-22 05:42] Scitator commented on #1221
Could you please provide some minimalistic vision on MNIST?

[2021-06-22 10:24] broniyasinnik commented on #1213
It seems that also when setting verbose=False it still prints the whole progress in the console.

[2021-06-26 09:58] Scitator commented on #1187
WIP

[2021-07-03 04:05] #1227 closed, assigned to ditwoo, Scitator, bagxi

[2021-07-04 22:43] #1161 closed, assigned to ditwoo, Scitator, bagxi

[2021-07-11 18:38] Scitator commented on #1183
merged

[2021-07-11 18:38] #1183 closed, assigned to nobody

[2021-07-12 10:41] #1190 closed, assigned to ditwoo, Scitator, bagxi

[2021-07-13 07:42] Atharva-Phatak commented on #1221
Yes. I was a little busy. I will create a minimal working example ASAP.

[2021-07-21 23:14] Nimrais commented on #1193
Hi there! Is anyone working on this?

[2021-07-22 05:37] Scitator commented on #1193
@y-ksenia?

[2021-07-22 10:29] y-ksenia commented on #1193
Yes, just started

[2021-07-27 05:27] #1187 closed, assigned to ditwoo, Scitator, bagxi

[2021-07-27 05:27] Scitator commented on #1187
done :)

[2021-07-27 05:28] Scitator commented on #1213
Sorry, no question found, closing the issue.

[2021-07-27 05:28] #1213 closed, assigned to nobody

[2021-07-27 05:28] #1212 closed, assigned to ditwoo, Scitator, bagxi

[2021-07-28 14:02] NetherQuartz opened #1265 "Incorrect md5 sums in Imagenette and Imagewoof from `catalyst.contrib.datasets`"
## 🐛 Bug Report
It's impossible to use Imagenette or Imagewoof because of incorrect md5 sums in the code.

### How To Reproduce
Steps to reproduce the behavior:
1. Import `catalyst.contrib.datasets`
1. Instantiate Imagenette, Imagenette160, Imagenette320, Imagewoof, Imagewoof160 or Imagewoof320 with `download=True`
3. Get `RuntimeError: File not found or corrupted` after download

#### Code sample

[2021-07-28 17:53] Scitator commented on #1265
Hi, good catch, thanks for the issue!
Looks like we need to backup the data :)

[2021-07-28 17:54] Scitator commented on #1265
It would be great if you could bugfix with the updated links from https://github.com/fastai/imagenette

[2021-07-29 00:41] NetherQuartz commented on #1265
Sure, will do this ASAP

P.S. Maybe, you should host datasets in your own location and store checksums somewhere near to files rather than in code…

[2021-07-29 05:07] Scitator commented on #1265
yup,

[2021-08-04 15:06] jyuan-dev opened #1270 "Matplotlib backend automatically set as 'Agg' when Catalyst is imported."
## 🐛 Bug Report

https://github.com/catalyst-team/catalyst/blob/93774200bc65f5c5ee7e2ad9935fee901c277be0/catalyst/contrib/utils/visualization.py#L6

`matplotlib.use("Agg")` set the backend of catalyst to `agg`, which requires user to click to close the visualization window. I think it would be better if it is kept in original matplotlib backend.

please make a test before allowing the pull request

[2021-08-04 16:36] Scitator commented on #1270
Nice catch!
Could you please check the performance with such a hotfix:
[code]

[2021-08-04 18:18] jyuan-dev commented on #1270
time to run the given script without agg backend: 30.802659034729004s, 29.775018453598022s, 30.18287754058838s
time to run the given script with agg backend: 29.499370336532593s, 29.99454355239868s, 29.327373027801514s

generally, there is no performance sacrifice without agg backend in my opinion.

[2021-08-04 19:25] Scitator commented on #1270
🤔  could you please create a PR with hotfi?

[2021-08-04 19:26] Scitator commented on #1270
btw, are the ConfusionMatrix plots in the tensorboard correct with the hotfix?

[2021-08-04 19:46] jyuan-dev commented on #1270
![image](https://user-images.githubusercontent.com/29662741/128243269-912bd08c-f0c4-4d5c-a240-9ce05b1e6525.png)
focusing only on plotting, I think it is right. An PR is already made, but not sure if it is hotfix or not.

[2021-08-09 06:55] jyuan-dev commented on #1270
As MR is already done, This issue is closed now

[2021-08-09 06:55] #1270 closed, assigned to ditwoo, Scitator, bagxi

[2021-08-09 07:47] Scitator commented on #1265
should be fixed in master and future releases :)

[2021-08-09 07:47] #1265 closed, assigned to ditwoo, Scitator, bagxi

[2021-08-09 09:08] #1222 closed, assigned to ditwoo, Scitator, bagxi

[2021-08-16 14:50] smos1 opened #1276 "Multi-node support to Catalyst distributed training"
## 🚀 Feature Request
Add multi-node support to Catalyst

### Motivation
Catalyst currently doesn't support multi-node (several separate machines) training, only single-machine multi-gpu training. It limits Catalyst usability for some hardware setups. Also, as pytorch has mulit-node support, this change would require minimal changes in Catalyst code

### Proposal
1) Add nnodes and node_rank argumen

[2021-08-17 20:28] Scitator commented on #1276
btw, a few changes in this direction were made under https://github.com/catalyst-team/catalyst/pull/1275 PR
- node_rank
- num_proc_per_node
- etc

but it would be great if you make a final solution with such PoC, because 1275 will introduce TPU support only, without multi-node training :)

[2021-08-24 15:20] DN6 opened #1281 "Support for Comet Logger"
## 🚀 Feature Request
I would like to add support for a [Comet ML](https://www.comet.ml/site/data-scientists/) Logger to Catalyst

### Motivation
Comet provides a suite of logging and visualization options that makes it easy for practitioners to analyze, visualize and share the results of their model development process. I think it would work very well with Catalyst's focus on reproducibility, rapi

[2021-08-24 16:47] Scitator commented on #1281
Hi, that sounds great!
Do you need any help with the implementation?

[2021-08-24 18:36] DN6 commented on #1281
Hi, @Scitator, one of our engineers has something in the works. We're just testing and running through the Catalyst checklist for creating a PR to make sure we don't miss anything. We can open a PR within the next couple of days if that's okay?

[2021-08-24 18:53] Scitator commented on #1281
Sure, thank you!

[2021-09-01 20:55] DN6 commented on #1281
Hi @Scitator. Thanks for merging in the PR! Regarding including a tutorial notebook for the README, is it alright for me to open a separate PR for that?

[2021-09-02 04:21] Scitator commented on #1281
Yup, that would be okay, thanks!

[2021-09-03 15:06] Podidiving commented on #1193
Is this task done?

[2021-09-03 16:01] Scitator commented on #1193
nope, still waiting 👀

[2021-09-10 14:32] ivan-chai opened #1290 "WandB batch metrics logging error"
## 🐛 Bug Report
In wandb all batch metrics are logged as single value per epoch.

### Expected behavior
Batch metrics must be logged once per step.

[code]

### Additional context
The problem is here:

https://github.com/catalyst-team/catalyst/blob/master/catalyst/loggers/wandb.py#L115

Step must be equal to global_sample_step, not global_epoch_step.

[2021-09-10 14:39] #1281 closed, assigned to ditwoo, Scitator, bagxi

[2021-09-10 14:40] Scitator commented on #1290
maybe, @AyushExel could help 👀

[2021-09-11 10:18] AyushExel commented on #1290
- @Scitator I'm out on a vacation. I'll have a look at this on monday. But it sounds like we might not have a good solution for this as W&B only has one global step.

[2021-09-14 13:57] AyushExel commented on #1290
@ivan-chai I remember working on this. the reason that the batch metrics are also logged on epoch level is that W&B supports 1 global step and you cannot edit or log at previous steps, so I decided to log everything on epoch level. There are other methods that will end up dropping data if any previous step is encountered.

[2021-09-14 15:27] ivan-chai commented on #1290
Thank you for your response! May be it is better to always log sample_step?

[2021-09-14 19:03] Scitator commented on #1290
yeah, I think, we could just use `global_sample_step` as a wandb step for all `.log`

[2021-09-15 11:47] AyushExel commented on #1290
@Scitator @ivan-chai Is the `global_sample_step` strictly increaseing? If it is, then yes we can use that

[2021-09-20 06:04] Scitator commented on #1290
Yes ;)
let's use it

[2021-09-20 07:33] Scitator commented on #1290
@AyushExel could you please drop a PR with such a small hotfix?
we are going to release `21.09` version soon ;)

[2021-09-20 09:21] AyushExel commented on #1290
@Scitator sounds good. I'll do it within 2 days

[2021-09-20 19:25] Nimrais opened #1301 "Wrong loader length if overfit=True"
## 🐛 Bug Report

`runner.train(
    ...
    overfit=True
)`

The runner.loader_sample_len is wrong currently we will have loader length from the original loader.
But we must have the first batch size * a number of batches.

### How To Reproduce

Take any loader and after runner.train check the train loader length with overfit=True

### Expected behavior
we must have the first batch size * a number

[2021-09-20 19:34] ditwoo commented on #1301
I think in the current implementation it's not a bug - it's a feature)
Batch overfit is a functionality that allows you to check fast that the model can learn on the same data or not.

[2021-09-21 14:02] AyushExel commented on #1290
@Scitator I'm working on it now. I noticed that the logger API now supports artifacts as well. I'll add that too. I just need a bit of clarification on the usage.
[code]
here, `artifact: object` is an identifier for the artifact right? Or it can be an in-memory object?
I saw this example usage [here](https://github.com/catalyst-team/catalyst/blob/e1d78b7dd568c4d5cd94be417d6d8b93ef27b2e5/catalyst/c

[2021-09-21 17:56] Scitator commented on #1290
yup, looks like so
[code]
here is another example - https://github.com/catalyst-team/catalyst/blob/e1d78b7dd568c4d5cd94be417d6d8b93ef27b2e5/catalyst/loggers/neptune.py#L281

[2021-09-21 17:58] Scitator commented on #1290
btw, @ditwoo why do we use the profiler in such a way? 😂

[2021-09-22 07:08] AyushExel commented on #1290
@Scitator in the 2nd example that you linked, it'll raise exception if both `artifact` and `oath_to_artifact` is not None. But in the profiler example, both of them are not None so it'll raise an exception. Is this an intended use case?
More specifically, how'd you preferred handling the cases when both of the arguments are set?

[2021-09-23 04:30] Scitator commented on #1301
We still should count the sample size in a right way ;)

[2021-09-23 04:34] Scitator commented on #1290
@AyushExel yes, and I think it's correct behavior.
The profiler case looks a bit strange in such a case and I think, it's a little bug 😅
@ditwoo could you please help with the profiler initial logic?

[2021-09-24 09:16] AyushExel commented on #1290
Okay, thanks for the clarification. I'll update the logger with the intended artifacts use case.

[2021-09-25 09:34] #1221 closed, assigned to ditwoo, Scitator, bagxi

[2021-09-29 14:11] AyushExel commented on #1290
@Scitator I have fixed this and added artifacts support. Can you provide an example training script using catalyst trainer which log artifacts? I want to check all the use cases before submitting the PR. Sorry, I couldn't find something relevant in the quickstart section of docs.

[2021-09-29 15:08] Scitator commented on #1290
@AyushExel could you please use https://github.com/neptune-ai/examples/blob/main/integrations-and-supported-tools/catalyst/scripts/Neptune_Catalyst_more_options.py ?

[2021-09-29 15:09] Scitator commented on #1290
btw, we are going to release another version tomorrow, so, the fix would truly welcome ;)

[2021-09-29 15:09] AyushExel commented on #1290
Just running tests. PR coming soon

[2021-10-04 17:12] Nimrais opened #1315 "ENUMs for inner catalyst convention parameters"
## 🚀 Feature Request
ENUMs for the catalyst-based conventions.
As an example, I will use `scope`.

### Motivation
We have a lot of callbacks that used `scope` and maybe some other parameter that has only in catalyst-based meaning.
And every time we need to do something like that:

[code]

### Proposal
but with ENUM we can do it like that

```def __init__(... scope: SCOPE) -> None:```

### Alternat

[2021-10-05 13:55] ivan-chai opened #1316 "WandB doesn't work with DDP"
## 🐛 Bug Report
I get the error while using WandbLogger with ddp enabled:

[code]

By now Wandb is initialized before fork in `__init__`. It might be the source of the problem.

### Environment
[code]

[2021-10-05 14:12] ivan-chai opened #1317 "ControlFlowCallback error in DDP"
## 🐛 Bug Report
ControlFlowCallback can't be pickled because of lambdas in `def _filter_fn_from_loaders`.

It works fine when callbacks are initialized in `def get_callbacks`, but fails if callbacks are passed directly to SupervisedRunner.train method.

[code]

### Environment
[code]

[2021-10-05 14:19] ivan-chai opened #1319 "Unscale gradients before gradient clipping"
## 🐛 Bug Report
OptimizerCallback doesn't handle AMP correctly. Gradients need to be unscaled before clipping.

Original documentation is here:

[https://pytorch.org/docs/stable/notes/amp_examples.html#gradient-clipping](url)

Catalyst 21.09 code:
[code]

[2021-10-05 14:32] ivan-chai opened #1320 "Zero seed error"
## 🐛 Bug Report
Catalyst seeds are started from 1, while torch, random and numpy seeds are started from zero. Assigning zero seed causes error:

[code]

The source of the problem is rank usage during seed initialization. The rank can be '-1' when ddp is off:
[code]

### Environment
[code]

[2021-10-05 15:39] Nimrais commented on #1317
I think the problem is that we can't pickle the lambda function.
You will need to import dill or something like it and use that instead of the native pickle module.

So probably `import dill` at the start of your script can help.

[2021-10-05 15:45] ivan-chai commented on #1317
I tried dill, but unfortunately multiprocessing and dill can't do together.

[2021-10-05 15:47] ivan-chai commented on #1317
One possible solution is to replace lambdas with callable objects.

[2021-10-06 07:54] Scitator commented on #1320
🤔  could you please PR a simple hotfix like
[code]
?

[2021-10-06 07:59] Scitator commented on #1316
🤔  not sure if,
@AyushExel could you please help with the Wandb?
looks like there were some changes with
[code]

[2021-10-06 08:01] Scitator commented on #1316
meanwhile, @ivan-chai does the error occurs only during DDP runs?
PS. cause there are now difference in logging honestly 😂

[2021-10-06 08:04] Scitator commented on #1317
so, the custom callable-based functional workaround works for now, right? @ivan-chai

[2021-10-06 09:39] AyushExel commented on #1316
@Scitator thanks for bringing this up. I'll take a look today. Was this working in older version of wandb?

[2021-10-06 11:05] ivan-chai commented on #1316
The problem is only within DDP setup. I didn't try previous versions of wandb.

[2021-10-06 11:07] ivan-chai commented on #1317
Yes, I made callable and it is fine.

[2021-10-06 13:43] MathieuHaller opened #1323 "Does Catalyst use eval() during evaluation"
Hello,

I realize this is a very basic question, but I've gone through the docs + source code and haven't found the answer.
Does catalyst automatically put the layers of the model in eval mode (like model.eval() would) when predicting on the validation set during training and when calling functions such as predict_loader on the validation/infer sets ?

Or maybe it's not needed as such functions de

[2021-10-07 05:15] Scitator commented on #1316
🤔  @ivan-chai is there any minimal example to reproduce?
something like https://github.com/catalyst-team/catalyst/tree/master/examples/engines with wandb maybe?

[2021-10-07 05:18] Scitator commented on #1317
@ditwoo as a ControlFlow-father do you have any suggestions?

[2021-10-07 05:24] Scitator commented on #1323
Long story short,
- "Yes" for the [predict_loader](https://github.com/catalyst-team/catalyst/blob/master/catalyst/runners/runner.py#L668)
- "No" for the [predict_batch](https://github.com/catalyst-team/catalyst/blob/master/catalyst/runners/runner.py#L518), cause you have to implement this logic on your own usually

in such a case
- you could easily predict any loader with the `predict_loader` meth

[2021-10-07 05:34] Scitator commented on #1319
That's interesting 👍

[2021-10-07 06:44] AyushExel commented on #1316
That would be very helpful. Thanks

[2021-10-07 07:14] MathieuHaller commented on #1323
Alright, thank you for the clarification !

[2021-10-07 07:14] #1323 closed, assigned to ditwoo, Scitator, bagxi

[2021-10-11 14:26] ivan-chai opened #1328 "Best checkpoint can't be loaded"
## 🐛 Bug Report
I use dictionary of models in my Runner. There is a problem in CheckpointCallback which prevents correct model loading on stage start.

#### Code sample
[code]

### Expected behavior
There must be the way to load last/best model checkpoint on stage start/end.

### Environment
Please copy and paste the output from our environment collection script
[code]

[2021-10-11 16:35] Scitator commented on #1328
could you please try:
[code]

[2021-10-12 06:49] ivan-chai commented on #1328
[code]

[2021-10-12 09:29] Scitator commented on #1328
Oh, I get it - Key-Value... try using `nn.ModuleDict`.
Here are a few examples: https://colab.research.google.com/drive/18IbbfBRMjm-BpVIP3Vn4VfZ59S9zvraQ?usp=sharing

[2021-10-14 04:53] Scitator commented on #1320
should be fixed in `master` branch 🎉

[2021-10-14 04:53] #1320 closed, assigned to ditwoo, Scitator, bagxi

[2021-10-14 05:43] Scitator commented on #1316
@ivan-chai 👀 has the bug been fixed?

[2021-10-14 05:51] Scitator commented on #1317
@asteyo could you please help with an issue?
I think some refactoring of [`filtering-fns`](https://github.com/catalyst-team/catalyst/blob/master/catalyst/callbacks/control_flow.py#L13#L145) from
[code]

to
[code]
should solve the issue 🚀

[2021-10-18 17:19] Scitator commented on #1316
@ivan-chai 👀

[2021-10-18 18:42] AyushExel commented on #1316
@Scitator @ivan-chai I haven't pushed any DDP-related fix. So if it is solved, it wasn't me. @ivan-chai can you please provide a minimal example to repro?

[2021-10-19 17:11] lainisourgod opened #1332 "catalys.contrib.nn.modules.LAMA: "mask" parameter not used"
## 🐛 Bug report

1. In [TemporalDropLastWrapper](https://github.com/catalyst-team/catalyst/blob/master/catalyst/contrib/nn/modules/lama.py#L123). Any layer wrapped with this one will not get mask. I guess it should just move mask into net with `x_out = self.net(x, mask)`. Also I guess `drop last` means drop output of `net` so ` x = x[:, :-1, :]` should go after `net(x, mask)`.
2. In [TemporalAtten

[2021-10-21 06:16] Scitator commented on #1332
🤔  nice catch, it may be so! that's why this is contib :)
It would be great if could contribute a hotfix for this part 🚀

[2021-10-22 16:59] Scitator commented on #1276
should be implemented, I think

[2021-11-01 16:38] Scitator commented on #1276
@bagxi 👀

[2021-11-01 17:06] Scitator commented on #1317
should be fixed with `21.10`

[2021-11-01 17:06] #1317 closed, assigned to ditwoo, Scitator, bagxi

[2021-11-01 17:07] Scitator commented on #1328
looks like fixed

[2021-11-01 17:07] #1328 closed, assigned to ditwoo, Scitator, bagxi

[2021-11-01 17:09] #1290 closed, assigned to ditwoo, Scitator, bagxi

[2021-11-03 05:28] Scitator commented on #1193
👀

[2021-11-06 10:04] SupreethRao99 opened #1347 "FocalLossMultiClass does not work on TPU's"
When I try and use [FocalLossMultiClass](https://catalyst-team.github.io/catalyst/_modules/catalyst/contrib/nn/criterion/focal.html#FocalLossMultiClass) as a loss function on TPU's I get the following message
```RuntimeError: Unimplemented backend XLA```

The full error message is as follows
[code]

### Checklist
- [-] bug description
- [-] steps to reproduce
- [-] expected behavior
- [-] environm

[2021-11-07 17:39] Scitator commented on #1347
Hi, yeah, that could be. Could you please try to submit an issue to `pytorch/xla` guys?
Maybe, they could help with the XLA backend implementation ;)

[2021-11-07 17:40] SupreethRao99 commented on #1347
sure , will do, Thanks !

[2021-11-07 17:40] #1347 closed, assigned to ditwoo, Scitator, bagxi

[2021-11-09 12:55] jyuan-dev opened #1351 "Metrics calculation is going much slower compared with version 21.07 in semantic segmentation task"
## 🐛 Bug Report
Bug unknown,

However, on version 21.07 training speed arrives 14 iter/s in my GPU, but only 2 iter/s on version 21.10

### How To Reproduce
please find a simple semantic segmentation script, and i can run it and give you feedbacks.

### Expected behavior
training is much slower compared with 21.07

### Checklist
- [X] bug description
- [ ] steps to reproduce
- [X] expected behavio

[2021-11-09 13:45] Scitator commented on #1351
could you please provide colab examples?

[2021-11-10 09:01] y-ksenia commented on #1193
We can close it, I guess 🥳

[2021-11-10 10:36] #1193 closed, assigned to ditwoo, Scitator, bagxi

[2021-11-17 17:38] jyuan-dev commented on #1351
Sorry, I am too busy recently, I will not have time before end of this year, I think you can run it on the segmentation example of catalyst then compare the efficiency difference

[2021-11-22 07:17] Scitator commented on #1301
should be fixed ;)

[2021-11-22 07:17] #1301 closed, assigned to ditwoo, Scitator, bagxi

[2021-12-08 04:17] Scitator commented on #1319
working :in-progress:

[2021-12-13 14:13] YodaEmbedding opened #1375 ".tar.gz on PyPI is missing the `requirements/` directory"
## 🐛 Bug Report
.tar.gz on PyPI is missing the `requirements/` directory.

### How To Reproduce
Download latest .tar.gz from: https://pypi.org/project/catalyst/#files.

### Code sample
[code]

Error log:
[code]

### Additional context
`pip install` should be sufficient to build the package. This makes it easier to package on systems like NixOS.

[code]

[code]

EDIT: P.S. Consider bumping to `tens

[2021-12-16 06:44] #1316 closed, assigned to ditwoo, Scitator, bagxi

[2021-12-17 18:42] foolsholder commented on #1316
Hello, I have some thoughts how to fix it.

It's described here
https://docs.wandb.ai/guides/track/advanced/distributed-training
and here
https://github.com/wandb/examples/tree/master/examples/pytorch/pytorch-ddp#method-1-log-from-a-single-process,
that if you want to use WandB with DistributedDataParallel and gather information from all gpus, you need to initialize wandb with group='DDP' paramete

[2021-12-18 07:19] #1276 closed, assigned to ditwoo, Scitator, bagxi

[2021-12-18 07:21] Scitator commented on #1316
@AyushExel could we add **kwargs passing to the wandb.init?

[2021-12-21 08:45] #1319 closed, assigned to ditwoo, Scitator, bagxi

[2021-12-21 09:39] AyushExel commented on #1316
@Scitator yes 👍 , should I make a PR for that?

[2021-12-22 16:39] Scitator commented on #1316
yeah, that would be nice 👍
Thanks!

[2021-12-28 14:24] fjd330621 opened #1389 "A question in CV - MNIST segmentation example"
I'm new to this, so please forgive me if the question is silly.
I'm a little confused about the last code in this short paragraph that why the self._target_key is also the x rather than y or maybe batch["targets"].
[code]

[2021-12-28 17:51] Scitator commented on #1389
hi,
🤔  this is a simple denoising segmentation example, so, there no `target` available
Nevertheless, you are right, it should be something like
[code]

[2021-12-29 02:11] fjd330621 commented on #1389
Oh, oh, oh, I see. Thank you very much

[2021-12-29 02:11] #1389 closed, assigned to ditwoo, Scitator, bagxi

[2022-01-03 13:00] MartSlaaf opened #1390 "FunctionalBatchMetric doesn't pass batch size to BatchMetricCallback"
## 🐛 Bug Report
`FunctionalBatchMetric` wrapped with `BatchMetricCallback` fails to pass actual inputs to functions. Because `FunctionalBatchMetric.update_key_value` at [_functional_metric.py#L84](https://github.com/catalyst-team/catalyst/blob/678dc06eda1848242df010b7f34adb572def2598/catalyst/metrics/_functional_metric.py#L84) expects `batc_size` as the first argument, but `BatchMetricCallback. _u

[2022-01-03 17:49] MartSlaaf commented on #1390
Hm, after some more time in sources, I have found the `FunctionalBatchMetricCallback`, which looks working good. Just couldn't find a description for it in the docs.
From docs now it looks like somewhat logical, that callback shouldn't bother about is the metric functional or not. Only about batch/loader difference.

[2022-01-05 02:44] #1332 closed, assigned to ditwoo, Scitator, bagxi

[2022-01-13 03:10] #1315 closed, assigned to ditwoo, Scitator, bagxi

[2022-01-21 04:33] Inkorak opened #1391 "MultilabelPrecisionRecallF1SupportCallback do not working"
## 🐛 Bug Report
First, it has no threshold argument, as shown in the minimal example.
And if we fix it and use it without threshold argument. All metrics are always zero
And if you add an argument with the num_classes, then nothing changes either. The metrics are still zero.

### How To Reproduce
Just use minimal example in your docs for multilabel classification with MultilabelPrecisionRecallF1Su

[2022-01-21 05:05] #1351 closed, assigned to ditwoo, Scitator, bagxi

[2022-01-21 12:14] chekhovana opened #1392 "Segmentation metric callback outputs don't contain per-class values in current version"
## 🐛 Bug Report

In the previous version (21.10) output from DiceCallback and IOUCallback contained per-class values, but in the current version these values are missing.

### How To Reproduce

Run the code sample provided below.

#### Code sample
[code]
### Expected behavior

Current version (21.12) output:

[code]

Expected output (as it was in 21.10 version)
[code]

### Environment

[code]

[2022-01-21 12:21] Scitator commented on #1392
Yeah, that's right, please follow the changelog and docs:
- https://github.com/catalyst-team/catalyst/releases/tag/v21.11
- https://catalyst-team.github.io/catalyst/api/callbacks.html#dicecallback

[2022-01-21 12:21] #1392 closed, assigned to ditwoo, Scitator, bagxi

[2022-01-23 14:26] YodaEmbedding opened #1393 "Monotonically increasing total epoch counter"
## 🚀 Feature Request

Save number of total epochs trained in checkpoint files. Then, **on resume**/checkpoint load, set `runner.total_epochs` to that number from the checkpoint.

[code]

### Motivation

Monotonically increasing epochs for e.g. file numbers, logs, etc. Also, I want to save all checkpoints, and a unique epoch number associated with each one. This should still be monotonically increa

[2022-01-23 14:33] #1393 closed, assigned to ditwoo, Scitator, bagxi

[2022-01-23 14:34] YodaEmbedding commented on #1393
Nevermind, I read through some of the source code and found `runner.global_epoch_step`. Though the "motivation" described above is still possibly worthy of new feature requests.

For now, I've manually changed the filename to include the `global_epoch_step`:

[code]

[2022-01-24 22:15] bagxi commented on #1391
Could you please add additional `BatchTransformCallback`:

[code]

[2022-01-24 22:15] #1391 closed, assigned to ditwoo, Scitator, bagxi

[2022-01-25 05:01] Inkorak commented on #1391
Thanks, everything is working now. But I would like to see more up-to-date documentation.

[2022-03-04 10:59] alfieroddan opened #1408 "Tensorboard Logger; Log weights and distributions."
## 🚀 Feature Request

Simply add a new function in the `TensorboardLogger(ILogger)` code that allows to add histograms to Tensorboard. This allows better logging in Tensorboard.

### Motivation
I often use the histogram in my deep learning projects and having this feature within the Tensorboard class will allow me to improve my logging in catalyst-dl.

It is not particuarly hard to implement and I

[2022-03-04 15:15] Scitator commented on #1408
Hi, the feature looks cool! 💪
Are you interested in implementation?
Do you have proposals on where should it be integrated for SupervisedRunner (for example)?

[2022-03-05 18:06] #1375 closed, assigned to ditwoo, Scitator, bagxi

[2022-03-07 10:15] alfieroddan commented on #1408
Currently I use a custom Tensorboard class called `TensorboardLogger2`.

I think keeping it as a function within the Logger class is fine since the tensorboard logger is called by default anyway. You could put it within the `log_metrics` function instead of the supervised runner? The issue would be defining the scope for the weights.

Personally I would just like it to be within the Tensorboard Cl

[2022-03-19 21:53] #1390 closed, assigned to ditwoo, Scitator, bagxi

[2022-03-22 18:04] Scitator commented on #1408
As for me, if it's just for custom callback purposes - it's fine to keep it just as an extension of the current TensorboardLogger :)
Nevertheless, if you could propose a general way to log model weights at the end of each epoch (or some general setup), we could easily integrate it into the codebase. Especially if it's a general setup for other loggers.

FYI @AyushExel @jakubczakon

[2022-03-22 18:53] AyushExel commented on #1408
@Scitator hey, is there something to be done in the wandblogger's side?

[2022-03-23 15:50] Scitator commented on #1408
@AyushExel could we update the logger to support model weights logging also?

[2022-03-24 10:34] AyushExel commented on #1408
@Scitator logging artifacts is already supported by the wandbLogger right?

[2022-04-09 14:04] Saharsh1005 opened #1412 "imread( grayscale: bool=True) gives error"
## 🐛 Bug Report

### How To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
1. Run '....'
3. ...

#### Code sample

#### Screenshots

### Expected behavior

### Environment
Please copy and paste the output from our environment collection script
[code]
(or fill out the checklist below manually).

[code]

### Additional context

### Checklist
- [ ] bug description
- [ ] steps to reproduce

[2022-04-11 16:31] Scitator commented on #1408
yes!

[2022-04-11 16:51] Scitator commented on #1412
hi, thanks for your issue.
`catalyst.contrib` could give you some errors, as it's a more community-driven part of the catalyst.
we could drop `imread` in the next release. Nevertheless, if you want to contribute the fix - feel free to open a Pull Request :)

[2022-04-17 10:03] #1412 closed, assigned to ditwoo, Scitator, bagxi

[2022-07-30 19:04] #1408 closed, assigned to ditwoo, Scitator, bagxi