[2018-04-25 08:00] Scitator opened #1 "Tricky dependencies"
TorchNet, installation only through git https://github.com/pytorch/tnt :

`pip install git+https://github.com/pytorch/tnt.git@master`

[2018-07-11 15:25] #1 closed

[2018-09-25 06:27] cclauss opened #3 "'async' is a reserved word in Python 3.7"
'__async__' is a reserved word in Python 3.7.  Cuda has shifted to '__non_blocking__' instead.  https://github.com/pytorch/pytorch/pull/4999

[flake8](http://flake8.pycqa.org) testing of https://github.com/Scitator/prometheus on Python 3.7.0

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-09-25 14:01] Scitator commented on #3
Good catch!
Unet code will be refactored soon for segmentation tutorial purposes.
Nevertheless, I have updated docs and codestyle for correctness.

[2018-09-26 08:55] #3 closed, assigned to nobody

[2018-10-03 05:56] cclauss opened #6 "Suggestion: Add some automated testing like Travis CI, Circle CI, Appveyor"
They are all free for Open Source projects like this one.

https://github.com/marketplace/category/continuous-integration

[2018-10-03 08:39] Scitator commented on #6
Hi,

Thanks for suggestion. Definitely, it's one of  MUST things to do ASAP (just after docs 😄).
I will try to do something like that by myself or ask for community support (cause I have no experience at such stuff) soon.

Nevertheless, you always can PR for such great things - just ping me if you want to make this lib better.

[2018-10-03 08:46] cclauss commented on #6
If you pick one of the three and then I will submit a pr.

[2018-10-03 09:22] Scitator commented on #6
That's great!
From my experience, I usually see Travis CI as a test&deploy service. So, let's try it here too.

By the way, several suggestions, that I think can help with this stuff:
1. As prometheus isn't a lib and works as submodule, the best way to test it - use its' [examples](https://github.com/Scitator/prometheus-examples) as main "lib" project. At least I think so.
2. From my point of view

[2018-10-03 11:20] Scitator commented on #6
solved by https://github.com/Scitator/prometheus/pull/7

[2018-10-03 11:20] #6 closed, assigned to nobody

[2018-10-03 11:45] cclauss opened #9 "Should this repo be 100% flake8 compliant?"
Very few issues to address https://travis-ci.com/Scitator/prometheus/jobs/149428974#L465

[2018-10-03 12:53] Scitator commented on #9
Really interesting question, you know.
I am not sure if we should make it pure flake8 compliant, cause sometimes lambdas are really great.
Nevertheless, `C901` is important one. So, maybe we should just exclude shampoo for now.

[2018-10-03 12:57] cclauss commented on #9
E731 does not object to lambdas.  It merely objects to assigning lambdas to variables.  It recommends defining a function instead.

[2018-10-03 13:31] #9 closed, assigned to nobody

[2018-10-07 06:30] ngxbac opened #11 "[solved] How to train with KFold"
Thank for your awesome library.
I am wondering if this library supports training with KFold Cross-validation?

[2018-10-07 07:04] Scitator commented on #11
Hi,

Long story short, it is available, but not fully automated.
For now, you can make it by:
1. prepare KFold split in your `DataSource` ([config example](https://github.com/Scitator/catalyst-examples/blob/master/finetune/train.yml#L33), [DataSource example](github.com/Scitator/catalyst-examples/blob/master/finetune/data.py#L96)).
2. add `prepare_logdir` for your `model.py` ([example](https://git

[2018-10-07 11:01] ngxbac commented on #11
Thank you.
I got your ideas. It makes sense for me.

[2018-10-07 12:57] #11 closed, assigned to nobody

[2018-10-08 10:25] Scitator commented on #11
examples update:
https://github.com/Scitator/catalyst-examples/tree/master/finetune#kfold-training-metrics-visualization

[2018-10-15 20:32] lext opened #13 "Redundant pooling layers"
Global pooling layers are already easy to implement using adaptive pooling in pytorch: https://pytorch.org/docs/stable/nn.html#pooling-layers, so they can be removed from e.g.

https://github.com/Scitator/catalyst/blob/e55719e74717754c79d190e1aeeb6335bee24402/modules/pooling.py#L16

[2018-10-16 08:05] Scitator commented on #13
You are right, they are already in PyTorch.
Nevertheless, there was an issue with their ONNX support (https://github.com/pytorch/pytorch/issues/5310).

This modules definitely should be replaced after full PyTorch support. But for now, it's better to keep them for compatibility.

[2018-10-18 14:43] #13 closed, assigned to nobody

[2018-10-19 09:59] buriy commented on #13
@Scitator You might put a comment with this explanation in the definition of this class.

[2018-11-04 09:46] ngxbac opened #15 "Memory Leak Issue"
I just want to inform that I am countering with Memory leak issue.
I am not 100% sure that It comes from catalyst. But I am sure that when I use my own code written by myself (without catalyst), there is no leaking issue. I tried to pre-procedure this issue from your [examples](https://github.com/Scitator/catalyst-examples), but it runs very fast and we could not see the leak.

Following is my lea

[2018-11-04 11:04] ngxbac commented on #15
Updated:

1. Train with bigger data by using [finetune](https://github.com/Scitator/catalyst-examples/tree/master/finetune)
I downloaded [dogscats](http://files.fast.ai/data/dogscats.zip) dataset from fastai and tried to run finetune from your examples. There is no leak issue during training one epoch
It seems that the leak comes from my code

2. Debug my code
I am able to figure out where the lea

[2018-11-04 16:48] buriy commented on #15
Hi,

First of all, are you sure it's a leak, not just memory fragmentation
and not too-eager Dataloader piling up a lot of data at the GPU to be
processed later?
A usual advice to distinguish between the two first is to add
 gc.collect() + torch.cuda.empty_cache()
and check if it helped.
For the last two, an idea is to reduce the number of worker threads
and see if that helps.

On Sun, Nov 4, 2018

[2018-11-04 18:00] ngxbac commented on #15
Hi,
Thank for your suggestion.

and see if that helps.

You are right. When I reduced the number of worker threads to 0. It helped. What is the problem here?
Is there any better solution? Because running with workers=0 is very slow.

Many thanks

[2018-11-05 02:57] buriy commented on #15
Try decreasing batch size then.

[2018-11-08 06:31] Scitator commented on #15
Hi,
Sorry, I was out of time during last week.

I am not sure, but you can try things like:
- something like `drawing = self.drawings[idx].copy()`
- stop pinning memory in PyTorch DataLoader
- play with `n_workers` and `batch_size` parameters
- check @buriy idea and add `gc.collect() + torch.cuda.empty_cache()` after the end of each dataloder.

And it's always better if you can share the code (esp

[2018-11-09 02:16] ngxbac commented on #15
Hi,
Thank for your replies.
None of the sugessions above could help me :D.
I searched in Pytorch forum. There are many people getting the similar issue. I guess, probably it comes from pytorch framework.

It is my pleasure to contribute to this awesome library. I will do it in the near future when I can clean my code, I promise.

[2018-11-09 02:16] #15 closed, assigned to nobody

[2018-11-17 22:31] amorgun opened #18 "type object 'UtilsFactory' has no attribute 'create_tflogger'"
It looks like UtilsFactory is missing a method.
The error is in this line: https://github.com/Scitator/catalyst/blob/master/utils/factory.py#L50

[2018-11-19 04:38] Scitator commented on #18
Hi,

Good catch, looks like something go wrong during https://github.com/Scitator/catalyst/pull/17.
Nevertheless, this one (https://github.com/Scitator/catalyst/commit/eaf8386320ae13e4b7be9b3361f1c50657868220) should fix the issue.

[2018-11-19 06:32] amorgun commented on #18
I highly recommend importing `os` and `SummaryWriter` if you want to use them in this method.

[2018-11-19 07:31] Scitator commented on #18
@amorgun That's right. fixed.

[2018-11-19 08:36] #18 closed, assigned to nobody

[2018-12-04 10:05] dodler opened #20 "features support"
Does it support multiple learning rates and tta?

[2018-12-04 17:55] Scitator commented on #20
Hi,

1. Because u can easily define any model and optimizer by yourself – yes, why not. Just set LRs as u want them to be.

2. TTAs are also possible, but still in development – I am not kaggle expert, so they have quite low priority. Maybe you can help with this issue.. :)

[2018-12-05 17:46] #20 closed, assigned to nobody

[2019-01-08 09:43] Scitator opened #39 "Refactor Algorithms"
- [x] default/softmax/quantile as parameter
- [x] prepare_for trainer/sampler to algorithm class method
- [x] ALGO -> ALGORITHM (let's use full name)
- [x] ddpg/sac/td3 -> rl/offpolicy/algorithms
- [x] example

[2019-01-08 09:54] Scitator opened #40 "docs (site, etc)"

[2019-01-08 09:59] Scitator opened #41 "update how to contribute guide"

[2019-01-08 10:30] Scitator opened #42 "add registry for models"

[2019-01-08 12:52] TezRomacH opened #43 "add style transfer runner"

[2019-01-09 09:09] Scitator commented on #42
done: https://github.com/Scitator/catalyst/pull/45

[2019-01-09 09:09] #42 closed, assigned to Scitator

[2019-01-10 04:44] Scitator opened #48 "CI: check examples"

[2019-01-10 17:25] Scitator commented on #48
done: https://github.com/Scitator/catalyst-examples/pull/2

[2019-01-10 17:25] #48 closed, assigned to Scitator

[2019-01-12 23:08] TezRomacH commented on #40
Development is here https://github.com/TezRomacH/catalyst-docs

[2019-01-13 09:48] TezRomacH commented on #40
Development moved to https://github.com/catalyst-team/catalyst-alpha

[2019-01-14 18:10] Scitator commented on #39
done & merged

[2019-01-14 18:10] #39 closed, assigned to Scitator, AlexGrinch

[2019-01-16 17:37] Daiver opened #59 ""float division by zero" exception during notebook-example on anaconda/windows"
Hi guys, thank you for great project.

I tried to run notebook-example over my Anaconda environment and faced with "float division by zero exception"
This is a code which causes exception: https://gist.github.com/Daiver/b4f9115a9e33a1ca233d0defbabee6d9 (basically notebook-example copy-pasted inside one .py file)

This is stacktrace:
[code]

It can be fixed by adding zero check on `elapsed_time` bu

[2019-01-16 18:13] TezRomacH commented on #59
Hi, Davier. Thanks for reporting!

Currently, Catalyst is in alpha and we do a lot of breaking changes right now. Sorry for that!
Within a couple of weeks, we plan to release the stable version of Catalyst with a great number of new features!

Right now, you may add a zero-checker while we fixing it 😄

[2019-01-16 18:15] Daiver commented on #59
Hi @TezRomacH! It's totally ok.
Can't wait for documentation, by the way :)

[2019-01-16 18:49] Scitator commented on #59
Hi,

Good catch! Looks like we need some additional Windows testing, cause all code works like a charm on Linux and MacOS. Just to be sure, I have tested your code with:
[code]

It's a bit weird when batch elapsed_time is == 0, but as a hotfix you can try to:
- turn off GPU
- increase batch size
- use large dataset, like finetune example

Somehow you process your batch so quick, that even python c

[2019-01-17 08:32] Daiver commented on #59
Just checked example on ubuntu machine (with much better hardware, lol). Works perfectly

[2019-01-17 08:51] Daiver opened #60 "[solved] inconsistence learning rate print"
Hi guys!
I tried to run notebook example again (code: https://gist.github.com/Daiver/b4f9115a9e33a1ca233d0defbabee6d9 but i set verbose to False) on ubuntu machine

Script gives me following output
[code]

Everything looks ok, except one thing
[code]

lr should be decreased (at epoch 3), but epoch (3) summary shows me old lr.
Summary of next epoch is ok.
[code]

Same stuff for other epochs

[2019-01-17 17:26] #59 closed, assigned to TezRomacH, Scitator

[2019-01-22 20:12] #41 closed, assigned to Scitator

[2019-01-22 22:11] #40 closed, assigned to TezRomacH

[2019-01-23 18:14] ivbelkin opened #79 "[solved] ResnetEncoder 'frozen' argument doesn't work"
Passing frozen=True to catalyst.contrib.models.ResnetEncoder does not actually make encoder not trainable. Simple code to check that tensor value is changing during training:

[code]

It will print different values. It is so because nn.Module has no attribute 'requires_grad', only nn.Parameter has it. I fix it in my fork, but I don't see 'dev' branch to open PR.

[2019-01-23 19:13] Scitator commented on #79
Hi,

Checked your example, you are right. PR would be welcome.
There is no `dev` branch currently, so just PR it to `master`.

PS. contribution.md fix would be also welcome

[2019-01-23 19:35] Scitator commented on #60
Hi,

Sorry for late response, but by this way we have pip package now :)

The output is correct, after 3rd epoch the LR was decreased - so whole 3rd epoch was trained with old_LR. The only thing, that went wrong - internal scheduler logger, nevertheless log-files and tensorboard are correct.

[2019-01-23 19:50] Scitator commented on #79
PR: https://github.com/catalyst-team/catalyst/pull/81

Thanks!

[2019-01-23 19:50] #79 closed, assigned to nobody

[2019-01-23 19:56] Daiver commented on #60
No problem, happy to hear that

[2019-01-23 20:05] #60 closed, assigned to nobody

[2019-01-24 22:55] ivbelkin opened #85 "some bugs in LRFinder"
In case of default value for `LRFinder` parameter `n_steps=None` training terminates with
[code]

To reproduce just replace sheduler section in `examples/cifar_simple/config.yml` with
[code]
Also doc for `LRFinder` contains unused parameter `init_lr`.

[2019-01-24 22:58] ivbelkin commented on #85
I'll fix this after approving bug status.
In case of `init_lr` there are two options: use it or remove doc string

[2019-01-24 23:13] ivbelkin opened #86 "Some improvements of LRFinder"
As typical use case for `LRFinder` just set some large value for `final_lr`, say 10, it would be convenient to stop iterating in case of divergence. And probably add default value for `final_lr`.
If this sounds good, I'll contribute.

[2019-01-25 18:53] Scitator commented on #85
So, after some investigation on "where the hell state.loader is?" I have fix this bug...(new state API issue)
Sorry ;)

And you was right about `init_lr` docstring, it was deprecated stuff

[2019-01-25 18:53] #85 closed, assigned to nobody

[2019-01-25 20:38] Scitator commented on #86
Hi,

I am not sure about 10, but something like 1.0 will be okay.
Nevertheless, it depends, so for best approach you can checkout original paper (I think so) - [A disciplined approach to neural network hyper-parameters: Part 1--learning rate, batch size, momentum, and weight decay](https://arxiv.org/abs/1803.09820.pdf)

[2019-01-26 23:29] ivbelkin commented on #86
1. After checking Smith's reports I'm not sure about necessity default value. Moreover, after running some tests on my problem I observed expected convergence-divergence but then convergence again with large lr > 1. Such insights will be missed if I use default value. And, probably, it would be better if user would ask himself about final_lr.

2. However, implementing 'terminating on nan' as a sta

[2019-01-27 10:20] Scitator commented on #86
So, speaking about **LRFinder** and 'log' and 'linear' options (as I understand `final_lr` is okay for everyone). There was some experiments with difference lr scheduling options, but in the end `log` one was found most appropriate to find optimal LR.
Nevertheless, different LRFinder options or (learning_rate - loss) plot contribution is always welcome.
Except (learning_rate - loss) plot implement

[2019-01-27 20:08] ivbelkin commented on #86
After some investigation I see that the only way to get (lr-loss) plot is parse logs.txt, isn't it? The easiest way, of course, just use regular expressions in script. But if the log format changes, it will stop working. `logging` module doesn't provide any parsing method, moreover `message` has custom format. However, parsing logs may be required in some other places in perspective. May be, it is

[2019-01-27 20:52] Scitator commented on #86
So, I think you can modify LoggerCallback to write all metrics in some `logs.json` also. It should be quite easy, because all batch metrics are dicts.

PS. btw, speaking about the reports I still hope to implement the idea from https://github.com/Scitator/catalyst-examples/pull/1#issuecomment-444199406, because this grid search plots are amazing.

[2019-01-31 18:54] ivbelkin commented on #86
Hi!
Turning back to (learning rate - loss) plot, where it would be better to place script? contrib/sctipts? Or, may be, dl/scripts, as it provide basic functionality?

[2019-01-31 20:18] Scitator commented on #86
Hi,

Speaking about LrFinder and LR-metric plot, dl-scripts are the best place to use. At least, if you don't need some heave libs like tensorflow or nmslib (current contrib ones).

[2019-02-03 17:31] TezRomacH opened #105 "Move metric managment to separate class"
Currently `RunnerState` owns all metric management

Move it to `MetricState`

[2019-02-05 15:20] lebionick opened #108 "KeyError: 'loss'"
Raises this exception after first epoch.
[code]

I'm using these callbacks:
[code]

Data and processing are taken from here:: https://pytorch.org/tutorials/beginner/transfer_learning_tutorial.html

[2019-02-05 15:45] TezRomacH commented on #108
Did you define your `main_metric`?
Like here https://github.com/catalyst-team/catalyst/blob/master/examples/finetune/train.yml#L26

[2019-02-05 15:48] lebionick commented on #108
@TezRomacH
Nope. How to do this without .yml, just in python code?

[2019-02-05 16:02] Scitator commented on #108
@lebionick Hi, could you please check catalyst version?

[2019-02-05 16:05] lebionick commented on #108
@Scitator '19.02-rc0'

[2019-02-05 16:24] Scitator commented on #108
Interesting, can you run [notebook example](https://github.com/catalyst-team/catalyst/blob/master/examples/notebook-example.ipynb)?

[2019-02-05 16:26] lebionick commented on #108
Tomorrow:)

[2019-02-06 10:24] lebionick commented on #108
@Scitator I've run this example and it works just fine.
Meanwhile the same setup of callbacks crashes in pytorch example. However, I spotted interesting inconsistency: in the first run I get
[code]
And then it disappears, giving KeyError 'loss'. I thought I's because of "saver" callback, and commented him out.
Without "saver" it crashes after the second epoch(!)
I'll put the code below...

[2019-02-06 10:31] lebionick commented on #108
https://yadi.sk/d/12gImIlUex73ZQ

[2019-02-06 11:35] Scitator commented on #108
So, as error said you are trying to save something lambda-like -> check model/criterion/etc for that and remove that for code correctness - python still cannot save different users lambdas. You can find the same ants&bees examples catalyst-friendly [here](https://github.com/catalyst-team/catalyst/tree/master/examples/finetune). Btw, advanced one.

For the second one, I have noticed, that you use `

[2019-02-06 11:47] lebionick commented on #108
@Scitator
so problem was in 'valid'... saving also works fine
🙈

[2019-02-06 11:47] #108 closed, assigned to nobody

[2019-02-13 07:59] #43 closed, assigned to TezRomacH

[2019-02-16 17:30] TezRomacH opened #112 "Several quickstart notebooks"
- [ ] Classification
- [ ] Object-detection
- [ ] Segmentation

[2019-02-17 07:54] Scitator commented on #112
Not sure about object-detection yet.
As for me, it's much better to make less notebooks, but with high quality.

[2019-02-18 07:57] Scitator opened #115 "refactor legacy csv parsers"

[2019-02-24 21:30] hexfaker commented on #105
Fixed in #113

[2019-02-24 21:30] #105 closed, assigned to hexfaker, TezRomacH

[2019-02-25 05:48] TezRomacH commented on #115
code is here #117

[2019-02-26 12:27] EvgenyKashin opened #118 "Multiple dataset source for tag2label"
It will be nice if I can choose not one input dir here https://github.com/catalyst-team/catalyst/blob/master/catalyst/contrib/scripts/tag2label.py

For example it can looks like:
`catalyst-contrib tag2label --in-dir=dataset1,dataset2`

[2019-02-26 18:23] EvgenyKashin commented on #118
I created pull request #119

[2019-02-27 10:54] #118 closed, assigned to nobody

[2019-02-27 11:15] #115 closed, assigned to TezRomacH

[2019-03-13 06:10] gazay opened #120 "Docs for checkpoints logic"
Hey, great framework!

I can't find in docs and don't see from API how to easily change checkpointer behavior - which metric it should monitor for checkpoints, max/min etc.

And I'm not sure about checkpoints at all - where should I find saved models, what is the format, are they enabled by default, what is the logic for saving them right now. And can I customize all of that?

[2019-03-13 08:10] Scitator commented on #120
Hi,

Docs updates are in WIP mode for now, nevertheless the API is quite strainforward.
If you are using catalyst through notebook-interface, like [here](https://github.com/catalyst-team/catalyst/blob/master/examples/notebook-example.ipynb), all you need to specify are:
`main_metric` and `minimize_metric`. For example, in "Setup 4 - training with additional metrics" you can run

[code]
and checkpo

[2019-03-13 15:27] gazay commented on #120
Awesome, thank you!

[2019-03-13 15:27] #120 closed, assigned to nobody

[2019-03-21 01:41] ngxbac opened #124 "[BUG] CheckpointCallback is wrong"
Hi,
I did my experiment, I dont know why best checkpoints are not saved. I tried to `pdb` and found a bug.

# Settings
* metrics: map05
* minimize_metric: False

# Scenario
* From opoch 0->10, `valid map05 = 0` for all
* From epoch 11, `valid map05` starts increasing.
* From epoch 11, the best checkpoints are not saved

Following are console logs and checkpoints folder screenshot
From `epoch 0->10

[2019-03-21 04:53] Scitator commented on #124
Hi,

Looks like a good python issue... Thanks for investigation. 👍

If I understand the bug correctly, the solution is quite simple:
[code]
Nevertheless, I was never thought, that so much code needed for such simple case.

So, to test the hypothesis, could you please:
1. clone the catalyst repo
2. apply code above for CheckpointerCallback there
3. switch to repo catalyst version in your python env

[2019-03-21 11:36] Scitator commented on #124
Btw, should be fixed by https://github.com/catalyst-team/catalyst/pull/125/commits/605f755ec999df51ff05c964c0cc5cdf32099c6b

[2019-03-22 07:04] ghost opened #126 "Can you provide some examples of reinforcement learning?"
foe example : A pointer-generation model with Actor-Critic model.

[2019-03-22 14:50] #126 closed, assigned to nobody

[2019-03-24 08:41] Scitator opened #128 "[feature] FP16 & distributed training improved support"
@TODO:
- refactor and simplify FP16 support
- add distributed training support

good start [here](https://github.com/NVIDIA/apex/tree/master/examples/imagenet)

[2019-03-24 08:43] #86 closed, assigned to nobody

[2019-03-24 08:43] Scitator commented on #112
moved to separate projects 🚀

[2019-03-24 08:43] #112 closed, assigned to TezRomacH

[2019-03-24 09:54] Scitator opened #129 "[feature] python dependencies logging"
For better experiment reproducibility:
- add something like `pip/conda freeze` in the beginning of `catalyst-dl run`
- or just after the logdir creation

sometimes package versions matters.

[2019-03-26 06:30] Scitator opened #130 "[feature] parse tensorboard logs without tensorflow"
@TODO:
- rewrite tensorboard logs parsing
- remove tensorflow dependency

[2019-03-28 19:52] Scitator opened #132 "[feature] weight decay autoremove for biases"

[2019-03-28 19:53] #124 closed, assigned to nobody

[2019-03-28 19:59] Scitator opened #133 "[feature] OneCycle general schduler"
idea:
- assume we have training stage process 0.0 -> 1.0
- on 0 -> {warm_fraction}, increase lr from `init_lr` to `max_lr`
- on {warm_fraction} -> {cool_fraction}, use linear/cosine decay from `max_lr` to `min_lr`
- on {cool_fraction} -> 1.0, use `min_lr`
- `batch` or `epoch` lr schduling

the same thing with momentum

[2019-03-29 06:39] Scitator opened #134 "[fix] fix json metric logger"
@TODO:
- add json formatter to Logger
- check (`import json; data=json.load(open(f'{logdir}/metrics.json')); print(data[-1])`)
- add this check to travis CI

[2019-03-29 06:41] Scitator opened #135 "[fix] fix registry exception for duplicate factory"
@TODO:
- return exception for duplicate factory
- check that all registries usage are correct: both in `__init__.py` and `model.py` for example

[2019-03-30 10:24] hexfaker commented on #134
I suggest adding a check in a form of a test, and not as separate dirty hack. Other tests for loggers would be great as well)

[2019-04-03 12:05] BloodAxe opened #136 "Bug: ZeroDivisionError while computing FPS counter"
Hi.

I've got some weird unhanded exception during simple train run:
[code]

Before it happened, training logs looked totally fine:
[code]

For reference, train script: https://github.com/BloodAxe/pytorch-toolbelt/blob/feature/example-canny-cnn/examples/canny-edge-detector-in-cnn/example_canny_cnn.py

Environment:
OS: Windows 10
Python: 3.6
Catalyst: 19.3
PyTorch: 1.0.1

[2019-04-04 08:03] fedor-chervinskii opened #137 "[BUG] RL: Observation Buffer IndexError"
[code]
From the code it seems like there is nothing preventing from buffer overflow. I cant try to fix it if someone will approve that it's really that easy as it seems or tell me if I am missing something. I would just increase `self.observations` size by one.

UPD: Oh gosh it keeps iterating further, seems like buffer size is not the limit

[2019-04-05 05:08] Scitator commented on #137
For now, for samplers nodes, we have something like `max_trajectory_len` parameter
[code]
and it looks like, your trajectories become longer then they should be (from the config point of view :) ).

As an easy solution, you can just make it x10, like `buffer_size: 50000`. It isn't an effective solution, nevertheless it should work.

PS. we are looking to better solutions.

[2019-04-05 10:15] hexfaker commented on #136
Hello.
Big thanks for reporting. Did it happen more than once?
I assume the problem is caused by timer resolution on windows (info is [here](https://stackoverflow.com/a/1938096/5105443)).
We will think how to fix it in future version.

[2019-04-10 06:45] Diyago opened #139 "Segmentation quickstartnotebook: TypeError: tensor is not a torch image."
I have several png images with corresponding masks:
Getting data:
[code]
Making data looks like in the example notebook:
[code]

(64, 64, 3), (64, 64, 1), 12

Calling `train` returns error:

[code]

Then I tried adding more transforms, but failed to fix that problem, for example something like this:

[code]

What is wrong here?

[2019-04-10 06:46] Diyago commented on #139
Dataset is pretty small, just for checking pipeline https://drive.google.com/open?id=1xGUc2KXILpHL4ZTTpSYp05_MOhmWKT3r

[2019-04-10 09:19] shkorinova opened #140 "[feature] change precision metrics"
The metrics in the function [precision](https://github.com/catalyst-team/catalyst/blob/d3e578d1eda1fcdfa0aabe677e2784a6d3072f55/catalyst/dl/metrics.py#L5) is not actually precision, rather an accuracy.  Same for [average_precision](https://github.com/catalyst-team/catalyst/blob/d3e578d1eda1fcdfa0aabe677e2784a6d3072f55/catalyst/dl/metrics.py#L23) and [mean_average_precision](https://github.com/cata

[2019-04-10 22:36] Scitator commented on #139
Check your augmentations (at least, you need to pass `Tensors` to the network, rather than `PILImages`).
Have you to manage to run [segmentation notebook](https://github.com/catalyst-team/catalyst/blob/master/examples/segmentation-example.ipynb) without any modifications?

PS. as a sanity check, you can take augmentations from [segmentation notebook example](https://github.com/catalyst-team/cataly

[2019-04-10 22:46] Scitator commented on #140
You are right, `precision@1 == accuracy`, nevertheless, the are no `accuracy@3` or `accuracy@5`, etc.  But, there are precision@3`/`precision@5`, and the formula is quite [simple](https://en.wikipedia.org/wiki/Precision_and_recall#Precision), the same, that we use for our metrics.
Our definition of precision is taken from IR area.

[2019-04-14 03:07] ngxbac opened #143 "Out of memory during validation step"
I got OOM error during validation step. Here is the log

[code]

My model uses only 80% of GPU during training. However, in validation step, It is out of memory. That is so weired since I though validation consums less memory than training.
I am not sure it is normal or not. But I guess, probably, GPU does not have time to release GPU before going to validation step.

I also tried to add some call

[2019-04-14 03:13] ngxbac commented on #143
This is my GPU usage during the training:

[code]

[2019-04-14 03:24] ngxbac commented on #143
Well, after reducing the batch size of the validation step by 2. I can run without problem.
[code]
This modification would not hurt performance, but I am so curious about what is the real problem.

[2019-04-14 04:43] ngxbac commented on #143
Updated:
I used `batch_size // 2` for validation step, it is OK for first epoch, however OOM is occured in the next training step. What a problem !

[code]

[2019-04-14 23:24] Scitator commented on #143
Which version do you use? 19.03?

PS. please, check that you have this [grad check](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/experiments/runner.py#L159)

[2019-04-15 00:25] ngxbac commented on #143
I am using `19.03-rc`

You are right. I hotfix the library and this error has gone.
I think it is the time to update my `Catalyst` :cry:

[2019-04-15 00:25] #143 closed, assigned to nobody

[2019-04-17 20:01] Scitator opened #147 "[feature] task-specific callbacks"
Proposal by @BloodAxe, use task-specific callbacks, like:
1) BinaryClassificationMetricsCallback
1) MulticlassClassificationMetricsCallback
1) MultiLabelClassificationMetricsCallback
2) BinarySegmentationMetricsCallback
2) SemanticSegmentationMetricsCallback
3) ObjectDetectionMetricsCallback

With internal metrics definition like:
[code]

[2019-04-19 06:54] #140 closed, assigned to nobody

[2019-04-19 06:54] #139 closed, assigned to nobody

[2019-04-19 06:54] #137 closed, assigned to Scitator

[2019-04-20 19:44] hexfaker commented on #135
Bug was caused by relative import implementation in python. Module code can be executed twice. So smart check was implemented. Now we compare factories on name duplication, and raise error only if factories are not the same.

[2019-04-20 19:47] hexfaker commented on #135
The image showing double module execution stacktraces diff
![image](https://user-images.githubusercontent.com/4684868/56461597-31af0300-63be-11e9-9c2c-22ffe5f9f4e7.png)

[2019-04-21 04:39] #135 closed, assigned to hexfaker

[2019-05-04 12:43] stalkermustang opened #171 "Problem with plot metrics"
Seems like need numpy update to >=1.16.0
and in requirements https://github.com/catalyst-team/catalyst/blob/master/requirements.txt#L2 i see 1.14.6

Problem was on 1.15.3 version, and update resolve problem (check PR)

![image](https://user-images.githubusercontent.com/26546178/57179154-34f8c300-6e83-11e9-8886-66f0baa276bd.png)

[2019-05-04 14:01] #171 closed, assigned to nobody

[2019-05-07 08:00] andrey-avdeev opened #175 "[container] Simple dockerizatino without GPU support"
1. Dockerfile with all required dependencies, build on ubuntu image
2. DockerIgnore file
3. Docker compose file for simplification
4. Docker hub repository creation
5. Docker readme

[2019-05-07 08:02] andrey-avdeev opened #176 "[container] Advanced dockerization with Nvidia GPU support"
1. Create folder docker
2. Move there cpu based Docker file
3. Create DockerFile based on Nvidia image
4. Update Readme with installation guide, hardware\software requirements and usage

[2019-05-07 08:05] #176 closed, assigned to nobody

[2019-05-07 08:06] #175 closed, assigned to nobody

[2019-05-08 13:45] Scitator opened #177 "[feature] hyperopt intergration"
Use [Ax](https://ax.dev) with Catalyst.Experiments for automatic hyperparameters search.

[2019-05-08 13:49] Scitator opened #178 "[feature] add pytorch.tensorboard support"
Use [pytorch.tensorboard](https://pytorch.org/docs/stable/tensorboard.html) instead of tensorboardX.

[2019-05-08 20:13] Scitator opened #179 "[feature] add pytorch.SWA support"
add [Pytorch.SWA](https://pytorch.org/blog/stochastic-weight-averaging-in-pytorch/) to catalyst optimizers

[2019-05-08 20:16] Scitator opened #180 "[feature] add jit.trace support"
Add automated model tracing & packing.

[2019-05-08 23:39] velikodniy commented on #130
I'm going to rewrite TB logs parsing, but I'm not sure if it's enough for removing TF from requirements. Also a parser needs compiled `.proto` files and the easiest way to get them is to import them from `tensorboardX` or `tensorboard`. If the support of `pytorch.tensorboard` is planned to be added, I can use `tensorboard` library instead of `tensorboardX`. Anyway it's needed to make `pytorch.tens

[2019-05-12 10:14] #136 closed, assigned to hexfaker

[2019-05-14 09:00] maksimovkonstantin opened #185 "Feature reauest - add n_steps in train for train loop debug"

[2019-05-16 18:15] TezRomacH commented on #133
done on https://github.com/catalyst-team/catalyst/pull/162

[2019-05-16 18:15] #133 closed, assigned to TezRomacH

[2019-05-17 05:34] Scitator commented on #185
Hi, for train loop debug you can use `check=True` flag.

[2019-05-20 14:38] #130 closed, assigned to nobody

[2019-05-22 05:03] #185 closed, assigned to nobody

[2019-05-22 06:33] andrey-avdeev opened #192 "[devops] Move dependencies to PipEnv"
Now:
-  pip freeze -> requirements.txt - doesn't contains interpreter's version, hash sums e.t.c.
ToDo:
- install pipenv
- pipenv init && create Pipfile and Pipfile.lock
- test

P.S. pipenv repo - https://github.com/pypa/pipenv

[2019-05-22 14:58] #180 closed, assigned to hexfaker

[2019-05-26 10:49] Diyago opened #197 "[solved] IOU metric (IouCallback) is bigger than 1"
I have been using IOUcallback with default parameter to train the Unet model:

[code]

As result metric log looks this way:

[code]

As you can see some of them higher than 1, is it sum of IOU or I'm doing something wrong?

[2019-05-27 01:14] ngxbac opened #200 "[solved] Mixup feedback"
It seems that [`mixup`](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/callbacks/mixup.py#L6) has not been updated for a long time.

I try this callback in version `19.05` and have some feedbacks and comments.

1. The mixup callback raises a [`None error`](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/callbacks/mixup.py#L19)
The reason is, `state.input` has b

[2019-05-27 04:43] Scitator commented on #197
Hi,

Please, give us additional info:
- what version are you using?
- what do your data look like? `[bs; 3, H, W]` features and `[bs; num_class; H, W]` targets?
- any other specific information about your experiment.

PS. the best ways would be to give us colab notebook to reproduce the issue.

[2019-05-27 19:58] Diyago commented on #197
1. Version: catalyst  19.5
2. Yep [bs; 3, H, W] features and [bs; num_class; H, W]
3. Simple binary mask + Unet

I can share the code but not the data. I think IOU measure by function in your rep vs alternative can be enough. It gives to high results:
[qq.zip](https://github.com/catalyst-team/catalyst/files/3225795/qq.zip)

[2019-05-28 01:29] ngxbac opened #202 "Does FP16 still work?"
Hi,

I am trying to train with `FP16` mode. Following is the error I got:
[code]

My environments:
- GPU V100
- Catalyst 19.5

Does it still work?

[2019-05-28 07:20] ngxbac commented on #202
It seems that you will include `apex` next release. So, I would like to close this.
I can't wait to see your next update :tada:

[2019-05-28 07:20] #202 closed, assigned to nobody

[2019-05-30 04:19] Scitator commented on #197
So, as you can share the code, could you please share it in colab format with some data (we have an example one, or you can use yours, from `qq`), so we can easy run and check the possible bug?
Or, would you like to contribute tests for [iou metric](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/metrics.py#L130) to solve the overall problem and check, that metric is implemented

[2019-05-30 04:32] Scitator commented on #197
tl;dr solution `iou(gt_mask_, pr_mask_, activation=None)`
all catalyst metrics are **logits**-based, and iou have `sigmoid` activation applied
for more, please check the [iou docs](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/metrics.py#L130)

PS. nevertheless, your contribution for iou tests is always welcome :)

[2019-05-30 04:32] #197 closed, assigned to nobody

[2019-05-30 04:50] Scitator commented on #200
Hi,

You are right, the mixup was developed before the 19.02 version and so remains legacy piece of the catalyst. So, if you would like to contribute this functionality, I think, there are several steps in implementing... MixupLossCallback (?):
- during `batch_start` (before batch prediction) we need to permute the features and labels based on `self.lamda` & `self.alpha`
- during `batch_end` (afte

[2019-06-01 19:02] Diyago commented on #197
I can offer you `assert IOU <= 1` :smile:

[2019-06-02 04:37] ngxbac opened #209 "[solved] Multi-GPUs with Apex FP16"
Hi,

I am excited to see `release 19.6`. Especially, I am looking for `FP16` support.
Thank for your hardworking!
I got a problem where I could not run multi GPUs under `FP16`.

* Hardware: V100 x 2
* Code:
[code]

=> Only one GPU is used

After looking at the code at: https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/utils/utils.py#L113
I tried to change the parameters as:
[code]

[2019-06-02 04:50] ngxbac commented on #209
I hacked the process as following to work with multi GPUs.
I am not sure the final result is wrong or not.

[code]

[2019-06-03 10:32] Scitator commented on #209
Hi,

So, for now true distributed training with fp16 support is available thought Config API only, an example bash script available on our [19.06 release notes](https://github.com/catalyst-team/catalyst/releases/tag/v19.06)

Nevertheless, your workaround looks good (and should work fine, I think). I suggest you to contribute this solution with `if torch.cuda.device_count() > 1` check if it's not a

[2019-06-06 04:46] #209 closed, assigned to Scitator

[2019-06-06 08:22] #128 closed, assigned to BloodAxe, Scitator

[2019-06-06 09:57] belskikh opened #215 "OneCycle Scheduler bug"
There is a problem in OneCycle Scheduler parameters.
According to https://catalyst-team.github.io/catalyst/api/contrib.html#catalyst.contrib.scheduler.OneCycleLR it has parameters `lr_range` and `momentum_range`, that are tuples with max/min, min/max and final values.
But lr and momentum changes in the opposite way: lr decreases and momentum increases.
If I change parameters order, it works fine.

[2019-06-06 12:16] belskikh commented on #215
Actually, the solution with parameters order changing doesn't work too: it's just increases LR constantly
![image](https://user-images.githubusercontent.com/13022305/59032041-fd0fe180-886d-11e9-81d8-ffba6badfa1e.png)

[2019-06-06 12:40] belskikh commented on #215
Tried config params from here: https://github.com/catalyst-team/catalyst/blob/master/examples/_tests_mnist_stages/config1.yml#L30

Still doesn't work properly. (Logs obtained with `--check` flag)
![image](https://user-images.githubusercontent.com/13022305/59033415-588f9e80-8871-11e9-9efa-798221c009c6.png)

[2019-06-07 08:31] TezRomacH commented on #215
Hi! I couldn't reproduce this bug. Make sure you set up `warmup_steps` or `warmup_fraction`

[2019-06-07 10:57] belskikh commented on #215
Yeah, setting `warmup_steps` or `warmup_fraction` works. thanks!

[2019-06-07 10:57] #215 closed, assigned to TezRomacH

[2019-06-13 11:49] andrey-avdeev commented on #192
Done. Gonna create pull request today

[2019-06-13 14:09] ai-niki opened #226 "log_on_batch_end doesn't work in TensorboardLogger"
When I add `log_on_batch_end=False` to `TensorboardLogger` it doesn't produce proper logs for tensorboard.

Tensorboard gives this error in logs (same for valid_log): `W0613 15:40:33.097291 123145404850176 core_plugin.py:172] Unable to get first event timestamp for run cifar_simple/train_log`

Steps to reproduce:
1. Add `log_on_batch_end=False` to `TensorboardLogger` in https://github.com/catalyst

[2019-06-13 14:41] ngxbac commented on #200
Hi,
I understand the sequence

If you do `mixup` at the `batch_start`, you will get the error at the first batch as I mentioned above: `None error`.

Please refer this: https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/experiments/core.py#L206

[code]

- At the first batch, after call: `self._run_event("batch_start")`, you will go to [this](https://github.com/catalyst-team/catalyst

[2019-06-18 05:15] Scitator commented on #200
HI,

First of all, don't be scared, the catalyst is quite flexible to handle different issues and evolve for features needs.

The `None` bug should be fixed after https://github.com/catalyst-team/catalyst/pull/230. I hope, this would be enough to implement MixupCallback (btw, it was removed during https://github.com/catalyst-team/catalyst/pull/223, so it's an open question now). Nevertheless, I th

[2019-06-19 05:54] Scitator opened #232 "[docs] classification notebook tutorial"

[2019-06-19 05:57] Scitator opened #233 "[docs] segmentation notebook tutorial"

[2019-06-19 05:59] Scitator opened #234 "[docs] catalyst.dl post tutorial"

[2019-06-19 06:00] Scitator opened #235 "[RL] add RNN support"

[2019-06-19 06:00] Scitator opened #236 "[RL] add `max_updates_per_sample` to offpolicy trainer"

[2019-06-19 06:04] Scitator opened #237 "[docs] docs autodeploy to github.pages"

[2019-06-19 07:49] lightforever commented on #200
@ngxbac, Hi.
There is an implementation of a mixup [here](https://github.com/lightforever/mlcomp/blob/master/mlcomp/contrib/catalyst/callbacks/mixup.py)

It works with the current master. Thanks to Scitator for the pull request #230

[2019-06-21 09:29] cris opened #242 "Version 19.6.3 is broken due to refactoring"
## Description

I installed a new `19.6.3` version from pip. Trying to run 30 seconds tutorial got such an error:
[code]

After checking sources looks like `FrozenClass` was moved to `catalyst.utils.frozen`. After fixing import directly in the installed package it started producing a new error:
[code]
I did not check further and just used `19.6.2`. It worked well.

Looks like `master` already has

[2019-06-21 16:41] Scitator commented on #242
Hi,
Please check the catalyst version and reinstall it with `uninstall`, `install -U` or `--no-cache-use` flags (pip issues). Nevertheless, we have also release 19.06.4 and update `30 seconds tutorial`, thanks!

[2019-06-23 10:48] #242 closed, assigned to nobody

[2019-06-25 06:29] #200 closed, assigned to nobody

[2019-07-01 05:17] Scitator commented on #236
done

[2019-07-01 05:17] #236 closed, assigned to Scitator

[2019-07-02 08:58] Scitator opened #251 "PPO with distributional value functions"

[2019-07-06 06:23] Scitator opened #256 "[request] tensorboard logs parsing update"
Move tensorboard logs parsing to [tbparser](https://github.com/velikodniy/tbparser)

[2019-07-30 20:12] ternaus opened #275 "Add doc on how to run training without validation."

[2019-08-01 11:07] Scitator commented on #275
Hi,
You can find an updated example [here](https://colab.research.google.com/github/catalyst-team/catalyst/blob/master/examples/notebook-example.ipynb#scrollTo=4cYsDdYl26zQ).

[2019-08-01 17:56] vaklyuenkov opened #280 "RL illustrated easy-to-go tutorial."

[2019-08-04 13:11] jovenwayfarer opened #282 "Encoder for Unet"
Hello, first of all thanks for an awesome library!
How may I define encoder for U-net from `from catalyst.contrib.models.segmentation import Unet`?

[2019-08-04 13:35] TezRomacH commented on #282
Hi, you can use `ResnetUnet` with encoders

[code]

[2019-08-05 08:27] #282 closed, assigned to nobody

[2019-08-07 20:01] lightforever opened #289 "[fix] utils.plot_metrics error"
Catalyst 19.08
tensorboardX=1.8

How to reproduce: examples/notebook-example.ipynb

Intro, NUM_EPOCHS, change to 1, i.e.

NUM_EPOCHS = 1

After the training:

utils.plot_metrics(logdir=logdir)

[code]

The same situation if I train outside of Jupyter(from CLI). For examples, after cifar_simple.

[2019-08-07 20:11] lightforever opened #290 "[fix] bin/check_dl.sh CUDA errors"
How to reproduce:

Use a system with a GPU, run:

./bin/check_dl.sh

You will get some errors. Using CPU there are no such errors

[code]

[2019-08-12 15:11] #237 closed, assigned to TezRomacH

[2019-08-12 15:12] #232 closed, assigned to TezRomacH

[2019-08-12 15:13] TezRomacH commented on #132
done in #293

[2019-08-12 19:41] #132 closed, assigned to TezRomacH

[2019-08-12 19:43] #275 closed, assigned to nobody

[2019-08-15 19:16] Scitator commented on #289
should be fixed by https://github.com/catalyst-team/catalyst/pull/294

[2019-08-16 15:32] #289 closed, assigned to nobody

[2019-08-17 19:07] TezRomacH commented on #134
It can't be done through `ConsoleLogger` because it can only append text to a file or a stream.
In the case of JSON, we should not only append some texts but also support the format.

Probably we may fix this with some kind of `JsonLogger` class with different logic, but I, personally,  don't think we really need this feature

@Scitator

[2019-08-17 22:17] ternaus opened #305 "AttributeError: 'SummaryWriter' object has no attribute 'flush'"
[code]

[2019-08-18 10:24] Scitator commented on #305
should be fixed by requirements update in https://github.com/catalyst-team/catalyst/pull/304

[2019-08-19 07:29] #305 closed, assigned to nobody

[2019-08-19 16:06] reyzharkov opened #312 "[feature] add multiple model/optimizer/criterion/scheduler support in single stage"
For now there is no support for multiple models/optimizers/etc in the single stage of an experiment, which is essential, for instance, for GAN training.

My suggestion is the following:
1. Refactor `RunnerState` to have all model/optimizer/scheduler/criterior attributes in plural form (model**s**/optimizer**s**/scheduler**s**/criterion**s**) in form of `OrderedDict`. Or alternatively subclass `Mul

[2019-08-20 12:05] Felix-neko opened #314 "Atari example fails with an error"
Hi! I'm trying to run atari example just like in the manual and get the following error:

`CUDA_VISIBLE_DEVICES="" catalyst-rl run-samplers --config=./config_dqn.yml
Process Process-1:
Traceback (most recent call last):
  File "/usr/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._tar

[2019-08-20 12:19] Felix-neko commented on #314
Please take a PR.

[2019-08-20 12:32] Scitator commented on #314
Hi,

You are right, there is an issue with `sampler_id`. The correct way to handle it can be found [here](https://github.com/catalyst-team/catalyst/blob/master/catalyst/rl/environment/gym.py#L26).

[2019-08-21 08:55] #129 closed, assigned to hexfaker

[2019-08-22 11:26] hexfaker commented on #290
Ok, I fixed first stack trace. But second one below is more tricky. Working on it
[code]

[2019-08-22 19:16] reyzharkov opened #324 "[bug] os.uname not supported on Windows"
Hi! The newest release 19.8.6 uses os.uname which is not supported on Windows. Possible alternative is platform.uname

[2019-08-22 19:51] TezRomacH commented on #324
Fixed in your PR #325 :) 👍
And will be released in #326 with environment display fix in tensorboard

Thank you very much!

[2019-08-22 19:51] #324 closed, assigned to nobody

[2019-08-27 14:21] Felix-neko opened #334 "classification-tutorial notebook fails with an error on multi-GPU machine"
Hi! I'm trying to run your `classifcation-tutorial` notebook on a multi-gpu node.

Alas, it fails with the following error message:

[code]

How can I fix it?

P.S. I've set `os.environ["CUDA_VISIBLE_DEVICES"] = "0,1,2,3"`, it had no effect. I've also set I've set `os.environ["CUDA_VISIBLE_DEVICES"] = "", it gave the same message. `os.environ["CUDA_VISIBLE_DEVICES"] = "0" also gave the same messag

[2019-08-29 06:41] Scitator commented on #334
Could you please confirm, that everything works like a charm during colab run?

[2019-09-02 12:56] i-zaitsev opened #344 "[proposal] Visdom support"
You probably know about a great dashboard library called [`visdom`](https://github.com/facebookresearch/visdom) that helps to easily report training logs and stats when working with PyTorch. Especially for basic cases when one just needs to draw a loss curve. For example, if you want to send a tensor parameter into dashboard, you can do something like this:
[code]
And the value will show up in the

[2019-09-04 21:06] Scitator commented on #344
Hi,
Proposal looks great!
Would you like to contribute something like VisdomLogger (you can take the logic from [Tensorboard one](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/callbacks/logging.py#L113))?

And it looks like we need to add this logger to `state.loggers`, somewhere [here](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/core/state.py#L83).
Maybe

[2019-09-05 10:50] i-zaitsev commented on #344
@Scitator ok great! Sure, let's try to figure it out. I'll create a PR with some proposal and then we can adjust it to the codebase and vice versa.

[2019-09-06 05:44] #314 closed, assigned to nobody

[2019-09-06 05:44] Scitator commented on #314
fixed

[2019-09-09 01:37] ngxbac opened #356 "How to run catalyst with distributed training?"
Hi,
I am trying to run distributed training, but I havent had success yet.
It seems that we need to run with command like: `python -m torch.distributed.launch` to start distributed training. However, I havent seen any documents related to this feature.

I played around with some settings as follow:
My environment: 4 GPUs, I want to use 2 GPUs for distributed training.
- config.yml:
[code]

- Bash

[2019-09-09 01:49] ngxbac commented on #356
[code]

I found this script from the previous release. Hope it helps.

[2019-09-09 02:22] ngxbac commented on #356
Follow the instruction above, It seems that I can toggle the distributed training. The terminals display as:

`0/2 * Epoch (train):   0% 0/251 [00:00<?, ?it/s]`
Without distributed training, it should be:
`0/2 * Epoch (train):   0% 0/502 [00:00<?, ?it/s]`

=> Look right.

However, the terminal is freezing without updating log.
I tried to check GPU: `nvidia-smi`
[code]
GPU2 still working right?

[2019-09-10 15:40] DBusAI opened #360 "Change API for valid_loader='train' (when validation is empty)"
This is quite frequent feature. The simplest way to do it - just add
[code]
in catalyst/dl/runner/supervised.py
Am i right?

[2019-09-10 18:44] Scitator commented on #360
I think, it is better to check, that there is only one loader and use its key.
Nevertheless, you also need to warn user, cause you can easily forget to pass several loaders :)

[2019-09-11 06:31] DBusAI commented on #360
It has to be smth like this ?
[code]

[2019-09-11 10:01] Scitator commented on #360
Looks good 👍

[2019-09-12 08:56] fanranGit opened #363 "Error after resuming model training with multiple criterions"
When I'm trying to resume model training with last checkpoint I get an error:
[code]
Seems like catalyst doesn't save all losses states. `'criterion_hm_state_dict'` relates to the one of losses, hm is a key in criterion params. Config looks like that:

[code]

[2019-09-12 10:50] Scitator commented on #360
fixed https://github.com/catalyst-team/catalyst/pull/362

[2019-09-12 10:50] #360 closed, assigned to nobody

[2019-09-12 13:30] Thanatoz-1 opened #364 "AccuracyCallback with OneHotEncoded throws up errors."
When working with simple classification problem, the SupervisedRunner throws up the following error:
[code]

Just to simplify, it is asking me to remove the one-hot-encoding from the labels and predictions. Could you suggest how can I get through it?

32 - is the batch size
102 is the number of classes

[2019-09-12 14:09] TezRomacH commented on #364
If I understand you correctly, you need to mix the targeting in non-one_hot format into the data set, like here:
https://render.githubusercontent.com/view/ipynb?commit=9bce7ef869d52acd83cae40698fff7f31aa09fd4&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f636174616c7973742d7465616d2f636174616c7973742f396263653765663836396435326163643833636165343036393866666637663331616

[2019-09-13 13:10] bamps53 opened #366 "How to resume training from checkpoint?"
I found resume argument in predict_loader function, but not in train function. How can I resume from best checkpoint??

[2019-09-14 22:47] #364 closed, assigned to TezRomacH

[2019-09-15 19:51] #290 closed, assigned to hexfaker

[2019-09-16 05:29] Scitator commented on #356
Hi,

Sorry for late replay.
We will try to check/fix fp16 support soon.
You can check the process [here](https://trello.com/c/7kKkDjOZ/45-dl-check-fix-nvidia-apex-support).

[2019-09-18 03:24] ternaus opened #371 "AttributeError: 'MulticlassDiceMetricCallback' object has no attribute 'order'"
What exactly should I add to the Callback to avoid this error?
[code]

[2019-09-18 03:39] ternaus commented on #371
Am I right that the solution is to add

`self.order = 80`, following https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/core/callback.py#L7 ?

[2019-09-18 04:41] Scitator commented on #371
Your are quite close, solution:
https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/core/callback.py#L87

Looking forward to see your `MulticlassDiceMetricCallback` contribution :wink:

[2019-09-18 05:23] ternaus commented on #371
[code]

[2019-09-20 04:23] ternaus opened #376 "AttributeError: 'JaccardScoreCallback' object has no attribute 'order'"

[2019-09-20 04:40] #376 closed, assigned to nobody

[2019-09-22 11:30] ngxbac commented on #366
Very good question!.
I think Catalyst hasnt supported it, is it? @Scitator
I encountered this problem before. Here is my solution.

1. In the configure file (ex: config.yml), you should to add `resume` to the config:
[code]
2. Modify your `runner.py`
[code]

In here, I resume from `epoch 18`.

[2019-09-22 11:38] ngxbac commented on #371
Is it you are looking for?

[code]

[2019-09-24 18:33] Scitator commented on #366
Hi,

Sorry for long answer – there are few conferences and competitions now :)

So, it's really good question... or even proposal.
For now, you can use workaround like (Notebook API)
[code]

For config API, all you need to do is something like
[code]

[2019-09-24 18:34] Scitator commented on #363
Could you please add some minimal example to reproduce the issue?

[2019-09-25 06:04] Scitator commented on #366
merged, should work now :)

[2019-09-25 06:04] #366 closed, assigned to nobody

[2019-09-25 06:05] Scitator commented on #334
closed due to inactivity

[2019-09-25 06:05] #334 closed, assigned to nobody

[2019-09-25 08:57] fanranGit commented on #363
Fixed with checkpoint `_full` version.  Everything works if I resume training with last_full.pth

[2019-09-25 08:57] #363 closed, assigned to nobody

[2019-09-25 12:25] bamps53 commented on #366
Thanks, it's working correctly now :)

[2019-09-26 09:19] Dipet opened #380 "Exponential format for floats in experiment config"
At this time if I set some value in exponential format, like `lr: 1e-3` all this values transforms to strings.

[2019-09-26 14:27] Scitator commented on #380
Could you please describe your proposal in more details?

[2019-09-26 14:33] Scitator commented on #366
Easy, you always can ping us

- [Telegram](https://t.me/catalyst_team)
- [Gitter](https://gitter.im/catalyst-team/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)
- [Slack](https://opendatascience.slack.com/messages/CGK4KQBHD)

[2019-09-26 15:20] Dipet commented on #380
At this time I need write something like this
[code]

In exponential format I will can write like this:
[code]

[2019-09-26 15:22] Dipet commented on #380
Exponential format for very little values more readable

[2019-09-26 15:27] Dipet commented on #380
In this post shows how we can resolve this problem.
https://stackoverflow.com/questions/30458977/yaml-loads-5e-6-as-string-and-not-a-number

[2019-09-26 18:45] ternaus commented on #371
@ngxbac Not really. Your implementation calculates Dice coefficients per batch and averages them.

I would prefer to calculate global Dice Score, calculated for all pixels in all the images.

I implemented it here: https://github.com/ternaus/iglovikov_helper_functions/blob/master/iglovikov_helper_functions/dl/catalyst/metrics.py

Will play a bit more with it and will create PR to the main Catalyst

[2019-09-26 18:45] #371 closed, assigned to nobody

[2019-09-27 03:12] ternaus opened #382 "Feature request: Batch inference with multiple GPU"
It would be nice to have a feature + example on how to use inference on multiple GPU.

[2019-09-27 03:12] ternaus opened #383 "Feature request: batch inference using fp16"
It would be nice to have a feature + example to run batch inference using fp16.

[2019-09-27 03:14] ternaus opened #384 "Feature request tiled inference"
It would be a killer feature for medical and satellite imagery tasks to run inference on large images.

Example: https://github.com/BloodAxe/pytorch-toolbelt#inference-on-huge-images

[2019-09-27 05:42] ternaus opened #386 "Feature request load epoch from checkout properly"
[code]

1. `0/200 * Epoch 107 (train)` does not look nice. I would expect `107/200`
2. `lr=0.0100` should be `lr = 0.0030` => lr was not loaded properly

[2019-09-27 07:54] Scitator commented on #371
@ternaus When should we wait for your PR with callback? :)

[2019-09-27 08:06] Scitator commented on #380
Hmm, sounds legit, we should add such proposal to our trello-board 👍

PS. Nevertheless, if it takes only 15 minutes and you understand all the details, I can suggest you to update our [config load](https://github.com/catalyst-team/catalyst/blob/master/catalyst/utils/config.py#L23L47).

[2019-09-30 08:55] fanranGit opened #392 "Model tracing failed"
When I'm trying to trace model with command: `CUDA_VISIBLE_DEVICES=2 catalyst-dl trace /path_to/my_model_logdir -c best -m predict`
get an error:
[code]

Version: 19.9.5

[2019-09-30 09:11] fanranGit commented on #392
Config api.
Runner:
[code]

[2019-09-30 10:04] fanranGit commented on #392
For now problem solved with adding missing arguments to runner:
[code]

[2019-09-30 11:24] Scitator commented on #392
Please, check the [Runner](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/core/runner.py#L17) init signature. You should have `model` and `device` as a parameters

[2019-10-01 21:24] ternaus opened #395 "Feature request: add ignore_index to Dice loss"
For pixels that are `target_mask == ignore_index` loss should not be calculated and should be equal to zero.

[2019-10-02 12:52] #392 closed, assigned to nobody

[2019-10-02 17:24] sergeyshilin opened #400 "Add more details to CONTRIBUTING.md"
There are two options I see:

1. `pip install -r requirements/requirements-dev.txt`, `pytest` version has to be upgraded (current one fails)
2. List libraries to install in the `CONTRIBUTING.md` file: `flake8`, `flake8-quotes`, `yapf`, `pytest`, `sphinx`

[2019-10-02 17:32] sergeyshilin opened #401 "Cover catalyst-data process-images with tests"
1. Load jpg/jpeg dataset tests
2. Load png dataset tests (some other formats?)
3. Match the number of images processed
4. Match the file size after processing
5. Test parameters --grayscale, --clear-exif, --expand-dims

[2019-10-02 17:43] sergeyshilin opened #402 "Make process-images case-insensitive to file types."
File: `contrib/scripts/process_images.py`
When processing a folder with `--extension=jpg`, `JPG` files will be ignored.

Would be nice to have a file type handler that converts the extension to the unique format, e.g. if a folder has mixed file extensions like 'jpg', 'JPG', 'JPEG', 'jpeg', we should be able to read them all using `--extension=jpg`.

[2019-10-02 21:03] ternaus opened #404 "[tutorial request] Distributed training."
It would be great to have a tutorial that covers:

1. A couple of ec2 instances initialized.
2. Something is trained there in distributed facion.
3. Weights are uploaded somewhere, let it be Weights&Biases.
4. Instances are closed.

[2019-10-04 17:22] vengodelsur opened #408 "[discussion] What are the plans for NLP support?"
If I'd like to contribute to catalyst (NLP tasks), what should I start with? What is the progress on RNN support? https://github.com/catalyst-team/catalyst/issues/235

[2019-10-04 17:41] Scitator commented on #408
Hi,

This PR is only for Catalyst.RL part. If you are interested in NLP – we would be happy to help you with RNNs/Transformers integration to Catalyst.DL.

At early beginning, we even have some NLP stuff:
https://github.com/catalyst-team/catalyst/blob/aefc813f16198f82cc748afc6d21b3122aab3671/utils/text.py
https://github.com/catalyst-team/catalyst/blob/aefc813f16198f82cc748afc6d21b3122aab3671/data/

[2019-10-04 18:27] vengodelsur commented on #408
@Scitator Thank you! I'm planning to start working on RNN text classification in Sunday meeting.

[2019-10-05 00:00] reyzharkov commented on #312
implemented in #407

[2019-10-05 00:00] #312 closed, assigned to nobody

[2019-10-05 05:24] Erlemar opened #409 "Python api: training takes a lot of disk space"
I tried to train a multilabel classification model with densenet169 as a backbone on Kaggle Kernels.

![example](https://i.imgur.com/jreQh5u.png)

Within 1 epoch all 5GB of disk space were consumed.

[2019-10-05 10:48] TezRomacH commented on #409
Hi! Please check how many checkpoints you save (save_n_best parameter in CheckpointCallback).

[2019-10-05 12:01] Erlemar commented on #409
I used the default value - it should be equal to 1.

[2019-10-07 20:41] ostamand opened #414 "[proposal] Add never_show_list to VerboseLogger"
When logging a lot of metrics, we sometimes don't want to show all of them in the console.
For example, when looking at the means & stds of 10+ activations.

Proposal is to add a `never_show_list` to `VerboseLogger`.

[code]

That way, it is possible to exclude easily metrics for the console logging while keeping them in the logs files for further analysis using `TensorBoard` or `plot_metrics`.

[

[2019-10-08 06:58] Scitator commented on #356
Hi,

Based on our internal experiments, it looks like now everything works like a charm.
Could you please update the issue with last Catalyst version?

[2019-10-08 11:03] ngxbac commented on #356
Thank for your inform.

I upgraded to version 19.10.
However, the problem above still occurs.
Here is my script:

[code]
Here is my log:

[code]
Without distributed learn, number of mini-batch is `3343x2` exactly.

Here is `nvidia-smi`:

[code]

[2019-10-08 18:35] Scitator commented on #380
Merged.

[2019-10-08 18:35] #380 closed, assigned to nobody

[2019-10-09 05:33] Scitator commented on #384
As `pytorch-toolbelt` is Catalyst-friendly lib and already have an example, would you like to make a PR?

[2019-10-10 10:09] TezRomacH opened #426 "Text sentiment classification tutorial"
**Is your feature request related to a problem? Please describe.**
We need a simple NLP-related tutorial on Catalyst with a sentiment classification task.

**Describe the solution you'd like**
A well-documented notebook with name `nlp-sentiment-tutorial.ipynb` in `catalyst/examples/notebooks/` folder.

It has to use PyTorch and Catalyst as a train-loop.

**Describe alternatives you've considered**

[2019-10-10 12:16] TezRomacH opened #430 "Add trace method to SupervisedRunner"
**Is your feature request related to a problem? Please describe.**
We have tracing support for Config API (https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/scripts/trace.py). Usage example: https://github.com/catalyst-team/catalyst-info#catalyst-info-2-tracing-with-torchjit

But our Notebook API doesn't support it yet.

**Describe the solution you'd like**
Add to SupervisedRunner

[2019-10-10 12:42] TezRomacH opened #431 "Fix in BaseCheckpointCallback `_metrics` not only for the last stage but for all"
**Describe the bug**
Now the `_metrics.json` file created by [BaseCheckpointCallback](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/callbacks/checkpoint.py#L13) stores only the latest stage metrics (because the file is [simply overwritten there](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/callbacks/checkpoint.py#L30))

We need to make a normal metric manag

[2019-10-10 20:10] TezRomacH opened #434 "Add runner_params for Runner in Config API"
**Is your feature request related to a problem? Please describe.**
When initializing SupervisedRunner, you can set many useful parameters: `input_key`, `output_key` and `input_target_key`.

However, with ConfigAPI, the Runner [is imported and initialized](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/scripts/run.py#L76) without parameters:
[code]

Because of this, unfortunately

[2019-10-10 21:54] TezRomacH opened #435 "Add native Tensorboard from PyTorch"
**Is your feature request related to a problem? Please describe.**
All Tensorboard logs are currently saved with TensorboardX. Since version 1.2, PyTorch has received native support via `torch.utils.tensorboard`.

**Describe the solution you'd like**
Guided by these two tutorials:
- [TORCH.UTILS.TENSORBOARD](https://pytorch.org/docs/stable/tensorboard.html)
- [VISUALIZING MODELS, DATA, AND TRAININ

[2019-10-10 22:56] Arquestro opened #436 "Flake8 error while executing "make codestyle" command"
**Description:**
Command "make codestyle" exits with flake8 error: "no such option: --inline-quotes".

**To reproduce:**
1. Install flake8, version 3.7.8.
3. Run "make codestyle" in root of catalyst repository on HEAD if master remote branch.

**Expected:**
Codestyle checked successfully with no errors from flake8.

**Screenshot:**
![image](https://user-images.githubusercontent.com/7341001/6661237

[2019-10-10 23:41] Arquestro commented on #435
I can look into this one, i'll try to make sane changes and send PR tomorrow on that.
But, PyTorch version migration can bring it's own surprises to whole repo imo.

[2019-10-11 06:47] Scitator commented on #436
Hi, @Arquestro

Thanks for reporting! Could you please `pip install -r ./requirements/requirements-dev.txt`? We have additional flake extensions for code-style check :)
Somehow, we have just forgot to add this like to contribution guide. Is it okay for you to check `pip install` and make a PR with contribution guide update? As a person, who have just passed this relevant experience you could propo

[2019-10-11 08:23] Arquestro commented on #436
Thanks for update, ill check it and do my best :)

[2019-10-11 09:30] kormalev opened #437 "segmentation-tutorial.ipynb crashes without Apex"
**Describe the bug**
In `examples/notebooks/segmentation-tutorial.ipynb`, if you skip NVIDIA Apex installation (as per the comment in the first code cell saying `if Your machine doesn't support FP16, comment this lines`),  the notebook will crash on `runner.train(...)`.

**To Reproduce**
Steps to reproduce the behavior:
1. Comment out
[code]
2. Run all cells.

**Expected behavior**
Successful exec

[2019-10-11 12:23] Scitator commented on #436
Done :)

[2019-10-11 12:23] #436 closed, assigned to TezRomacH, Scitator

[2019-10-12 09:11] TezRomacH commented on #437
Thank you so much. It will be fixed in #441

[2019-10-12 09:21] TezRomacH opened #442 "Distributed training tutorial"
**Is your feature request related to a problem? Please describe.**
We need a tutorial about distributed training in Config API using Catalyst

**Describe the solution you'd like**
A Config API project in `examples` folder (you can create an empty project with `catalyst-dl init` and finish it)

It has to use PyTorch and Catalyst as a train-loop.

Needed features:
- A couple of ec2 instances initial

[2019-10-12 09:28] TezRomacH commented on #404
moved to #442

[2019-10-12 09:28] #404 closed, assigned to nobody

[2019-10-12 15:58] ternaus commented on #442
I am actually more interested in jupyter API. Can we extend the tutorial?

[2019-10-12 16:09] TezRomacH commented on #442
@ternaus
This is a bit more complicated for the Notebook API. I suggest we make the first tutorial for Config and then look at Notebook.

[2019-10-12 16:10] TezRomacH commented on #437
fixed

[2019-10-13 00:05] ternaus opened #445 "Feature request: log more system metrics with W&B"
It would be nice to add logging for

`learning rate`, `momentum`, `batch_time`, `data_time` to Weights & Biases

[2019-10-13 20:19] kormalev commented on #437
Now it fails on `tta_predictions = tta_runner.forward(batch)`.
Supposedly, that is due to unconditional `.half().` in the cell above.

[2019-10-13 20:38] TezRomacH commented on #437
fair enough :(

[2019-10-15 11:38] TezRomacH commented on #437
Try again, please :)

[2019-10-15 11:38] #437 closed, assigned to TezRomacH, Scitator

[2019-10-16 08:02] znake77 opened #453 "MPI support ?"
Hi All,

Thanks for sharing this project !  Really enjoying playing with it.
I have a question regarding multiprocessing and cohabitation between Catalyst framework and MPI.
I have some code that uses CMAES and MPI to dispatch the work to different worker. I use that to learn low level controllers to be used in combination with RL controller.

To launch my CMAES optimization I do something like th

[2019-10-16 08:31] Arquestro commented on #435
Guess we can close it now :)

[2019-10-16 09:28] Arquestro commented on #435
Pull request head message is confusing btw.
Next time i'll try to edit it before merge. Or isn't worth it?

[2019-10-16 10:04] #435 closed, assigned to TezRomacH, Scitator, bagxi

[2019-10-16 10:54] Arquestro commented on #431
I'll work on this one.

My first thoughts on this is to add default argument for custom metrics filename in BaseCheckpointCallback:
[code]

And in CheckpointCallback:
[code]

Something like that. I'll check the implementation myself, because i feel that there is something else has to be done with callbacks to get it working right. :)

[2019-10-16 10:56] Arquestro commented on #431
Or we can just change `metric_filename `in `CheckpointCallback `before saving, and don't touch `save_metric` in `BaseCheckpointCallback`.

[2019-10-16 11:52] Arquestro commented on #431
I've ran an example on master unchanged code catalyst/examples/_tests_mnist_stages/config1.yml, but with 9 stages.
Got a _metrics.json file with 3 checkpoints + last and best.

I think that for collecting all metrics we need to add separate metrics list with all the metrics and make one save for this one at stage end in separate file.

Or we can save all metrics + n_best + best + last in one metri

[2019-10-16 14:42] lightforever commented on #426
Related issue: https://github.com/catalyst-team/bert/issues/3

There is a plan to union https://github.com/catalyst-team/bert/ and Catalyst and create a text classification example.

[2019-10-17 10:45] Arquestro commented on #409
Hello! Please, can you measure size of the delta between start and end of training? Is it near 5GB or smaller?

[2019-10-17 11:28] Arquestro commented on #400
I guess these problems have been solved with PR for this issue https://github.com/catalyst-team/catalyst/issues/436

[2019-10-17 11:32] #400 closed, assigned to nobody

[2019-10-17 12:37] Arquestro commented on #434
I'll work on this one, next PR.

[2019-10-18 20:17] lightforever commented on #453
Hi. Pardon, I don't understand your issue.

Could you, please:

- describe the problem. Does the Catalyst hangs or crashes?

- provide us with a fully-reproducible example

[2019-10-18 21:05] lightforever commented on #445
This issue will be closed after https://github.com/catalyst-team/catalyst/pull/458

[2019-10-18 21:15] lightforever commented on #408
@vengodelsur , Hi!

We have finished RNN key phrase extraction here: https://github.com/catalyst-team/bert

And our collaborators work on text classification example now. Have you finished the example?

[2019-10-18 23:06] TezRomacH commented on #414
The PR is still under development, but I work on this feature :)

https://github.com/catalyst-team/catalyst/pull/443/commits/1f945a79015d315ecf09851357e734fa9b0ed7a9

[2019-10-19 00:16] ermakovpetr opened #459 "Triplet loss epic"
best triplet loss ever

https://github.com/adambielski/siamese-triplet
https://github.com/andreasveit/triplet-network-pytorch
https://github.com/CoinCheung/triplet-reid-pytorch
https://discuss.pytorch.org/t/triplet-loss-in-pytorch/30634

[2019-10-19 00:24] ermakovpetr commented on #459
@Scitator Assigne

[2019-10-19 12:45] #445 closed, assigned to TezRomacH, Scitator, lightforever, bagxi

[2019-10-21 13:11] fedor-chervinskii opened #460 "Make it clear when the observation doesn't match the defined space"
I've been implementing my own env wrapper and run into the problem with this traceback:

[code]

Which tells nothing about what actually happened. It happened that I forgot to instantiate my observation space as a gym.spaces.Dict(). So I'm proposing to add a little self-explanatory exception to help if people who will run into the same problem.

[2019-10-21 16:39] ostamand commented on #414
Sweet! I will close this issue.

[2019-10-21 16:43] ostamand commented on #414
Bah let's keep opened while the PR is being developed. That way people will know the  feature is being developed.

[2019-10-21 19:01] ternaus opened #464 "Feature request polynomial LR"
Would be nice to have a way to adjust learning rate with respect to the schedule:

[code]

[2019-10-22 07:49] Scitator commented on #464
Have you tried https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.ExponentialLR ?

[2019-10-22 09:51] Yorko opened #465 "tensorboard - 'tensorflow._api.v1.io' has no attribute 'gfile'"
**Describe the bug**
A clear and concise description of what the bug is.

When running the basic `cifar_simple` example, tensorboard throws AttributeError: module 'tensorflow._api.v1.io' has no attribute 'gfile'

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout the master branch
2. Install catalyst-19.10.2 from source: `pip install -e .`
3. `cd examples`
4. `catalyst-dl run -C cifar_s

[2019-10-22 09:59] Yorko commented on #465
Actually, the same error when running `sh bin/check_dl.sh`

[2019-10-22 16:09] andrey-avdeev opened #466 "TelegramCallback for SupervisedRunner"
It will be helpful to add telegram notification into supervised runner.

User will be able to receive score, epoch number e.t.c. right into his mobile & this integration requires only requests module dependency.

Solution:
Additional callback, where you should point channel_id, telegram_bot_token and message template.

Alternative - add slack or universal webhook callback

[2019-10-22 16:33] Yorko commented on #465
Well.... actually, I wasn't able to reproduce the error - so I'm closing the issue.

In a freshly created conda environment workes fine, though the `tensorboard` version is the same, strange. Whatever

[2019-10-22 16:33] #465 closed, assigned to nobody

[2019-10-22 17:25] ternaus commented on #464
Not the same. I would prefer learning rate to change every step and not every epoch.

[2019-10-23 05:35] Scitator commented on #464
For this you can use `mode="batch"` for SchedulerCallback... with every PyTorch Scheduler :)

[2019-10-23 05:36] Scitator commented on #460
Merge 👍

[2019-10-23 05:36] #460 closed, assigned to nobody

[2019-10-23 13:42] smivv commented on #459
@ermakovpetr, @Scitator, almost done metric learning with catalyst and triplet loss. I can help if needed :)

[2019-10-23 15:56] ruslangrimov opened #467 "Remove log's strings with last batch info after epoch ends"
**Is your feature request related to a problem? Please describe.**
After a train epoch ends there are four rows left in the log.
[code]
Two last rows contain summary information about the entire epoch. Two first contain information about last train and valid batches. The latest is not much important and yet confusing.

**Describe the solution you'd like**
It would be nice if there were only two ro

[2019-10-23 17:02] smivv opened #468 ""Lifted Struct Loss" feature request"
"Lifted Struct Loss" feature request.

Paper: https://arxiv.org/abs/1511.06452
Implementations:
1. https://github.com/bnu-wangxun/Deep_Metric/blob/master/losses/LiftedStructure.py
2. https://gist.github.com/bkj/565c5e145786cfd362cffdbd8c089cf4

[2019-10-24 05:41] nischal-sanil opened #469 "Attribute Error in the resume feature."
Hello,

If I set the resume argument and give a list of callbacks, then I get an attribute error `AttributeError: 'list' object has no attribute 'values'` from [this line](https://github.com/catalyst-team/catalyst/blob/fddb516cc380380f1777dad5aef27fd298375ca2/catalyst/dl/runner/supervised.py#L171).

But If I give `CheckpointCallback(resume=checkpoint)` with the list of callbacks, it works.

Is tha

[2019-10-27 08:10] virilo opened #470 "less verbose mode - progressbar exhausts stdout in kaggle kernels"
I'm using catalyst in the context of Kaggle competitions, using Kaggle kernels/notebooks

After some epochs, the log gets truncated:

... stdout truncated after 1,048,576 bytes ...

The problem is that the progressbar is very verbose, and writes a new line per step.

**Describe the solution you'd like**

It could be great to have a less verbose mode, just one line per epoch

Thanks a lot for Catal

[2019-10-27 16:32] TezRomacH commented on #470
For a basic solution, you can disable `verbose` flag and view logs through tensorboard.

[2019-10-28 08:17] Rauf-Kurbanov opened #472 "imread fails with non-jpg files"
`catalyst.utils.image.imread` fails to read non-jpreg files e.g. `.tif` or `.png` because it uses outdated `imageio.imread` API

[code]
Provides following error with `imageio==2.5.0`:
[code]

[2019-10-28 09:57] TezRomacH commented on #472
Thank you!

[2019-10-28 09:57] #472 closed, assigned to nobody

[2019-10-29 09:28] Scitator commented on #459
@smivv Sure, do you have a pipeline proposal or something like that?

[2019-10-29 23:08] the-lay commented on #469
Stumbled upon the same issue, specifying resume through SupervisedRunner crashes with `'list' object has no attribute 'values'`.

[2019-10-29 23:18] the-lay opened #478 "Specifying cuda device through SupervisedRunner doesn't get picked up"
When you specify cuda device in SupervisedRunner (and SupervisedWandbRunner), it doesn't influence what GPUs will be used. Manually setting `CUDA_VISIBLE_DEVICES` works though.

**Example**
[code]
Expected behavior: Only GPU with ID 1 should be used.
Actual behavior: Catalyst uses all available devices.

[2019-10-30 07:22] 421psh opened #479 "Symmetric Cross Entropy"
"Symmetric Cross Entropy" feature request.

Paper: https://arxiv.org/abs/1908.06112
Implementations:

    https://github.com/YisenWang/symmetric_cross_entropy_for_noisy_labels
    https://github.com/HanxunHuangLemonBear/SCELoss-Reproduce

Thank you a lot for the Catalyst

[2019-10-30 11:40] smivv commented on #459
@Scitator yeah, since I am working with metric learning, I have already implemented:

1. Triplet loss class (taken from [here](https://github.com/NegatioN/OnlineMiningTripletLoss))
2. Callback class to measure accuracy using kNN algorithm.

I can already create pull request for the triplet loss, but callback, at least for me, seems to be very specific to my case.

What I'd like to do is to impleme

[2019-10-30 12:21] TezRomacH commented on #478
Thanks, should be fixed in #482

[2019-10-30 14:11] Scitator commented on #479
Hi, thanks for the papers.
Would you like to make a PR for our contrib.losses?

[2019-11-01 03:44] sparkfax commented on #409
I have similar problem in kaggle
Disk space error: Disk writes might have failed due to insufficient space.
callbacks=[
        # Each criterion is calculated separately.

        CriterionCallback(
            input_key="mask",
            prefix="loss_dice",
            criterion_key="dice"
        ),
        CriterionCallback(
            input_key="mask",
            prefix="loss_bce",

[2019-11-01 07:36] lgqfhwy opened #485 "run catalyst-dl trace /logs report config.json doesn't exist!"
Hello, when I run [segmentation example](https://github.com/catalyst-team/catalyst/blob/master/examples/notebooks/segmentation-example.ipynb), It only generate checkpoint, so when I run catalyst-dl trace /logs, it report: Exception: Path '/logs/configs/_config.json' doesn't exist!
 I find that when I run this [segmentation example](https://github.com/catalyst-team/catalyst/blob/master/examples/not

[2019-11-01 15:55] reyzharkov opened #487 "Weighted sum aggregation in CriterionAggregationCallback"
'weighted_sum' aggregation mode with provided criterion weights for CriterionAggregationCallback

In the current setting the simplest solution is to add weight to each CriterionCallback separately, but it will cause the same normalization in logging which is undesired most of the times.

[2019-11-02 08:52] TezRomacH commented on #478
Fixed

[2019-11-02 08:52] #478 closed, assigned to nobody

[2019-11-03 16:08] jchen42703 opened #488 "AssertionError: wrong output size (1D expected) when using PrecisionRecallF1ScoreCallback for Segmentation"
**Describe the bug**
`PrecisionRecallF1ScoreCallback` didn't work on a segmentation task.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a CNN with `PrecisionRecallF1ScoreCallback` with mask labels

**Expected behavior**
`PrecisionRecallF1ScoreCallback` should work on segmentation tasks as well (not just on classification).

[2019-11-03 16:08] jchen42703 commented on #488
I'll investigate this hopefully tonight

[2019-11-03 17:40] wmmxk opened #489 "runner.train(resume=resume_path) failed"
**Describe the bug**
I was trying to resume my training of a model. The resume_path is a string "./saved_model/best.pth".
I run into this error:
    168             checkpoint_callback_flag = any([
    169                 isinstance(x, CheckpointCallback)
--> 170                 for x in callbacks.values()
    171             ])
    172             if not checkpoint_callback_flag:

AttributeError:

[2019-11-03 20:52] bamps53 opened #490 "[Question] is it possible to save both best loss checkpoint and best metric checkpoint??"

[2019-11-04 07:01] #488 closed, assigned to nobody

[2019-11-04 16:26] Yorko opened #494 "AMP wants the model to be first sent to CUDA device"
**Describe the bug**
When training with `fp16`, AMP says that we need to provide a model with parameters located on CUDA.

**To Reproduce**
The problem is reproduced in [this Kernel](https://www.kaggle.com/kashnitsky/distillbert-catalyst-amazon-product-reviews?scriptVersionId=22987225) (Version 3).

**Expected behavior**
Expect the model to train normally

**Screenshots**
Calling `runner.train`

<

[2019-11-04 16:43] Yorko opened #495 "Shape mismatch in F1ScoreCallback"
**Describe the bug**
Get this when I add `F1ScoreCallback` to `runner.train`:

[code]
Here 4 is batch size, and 3 is the number of classes.

**To Reproduce**
A bit tedious. So I'm attaching [the notebook](https://drive.google.com/file/d/1bcuav_Z_iwqZvIkpf7eC9iOhmuqd-Km6/view?usp=sharing) reproducing the error.

**Screenshots**
<img src="https://habrastorage.org/webt/jc/x5/ew/jcx5ew0a8m2nicsfopvo-8

[2019-11-04 17:08] Yorko commented on #494
The issue happened when using Kaggle. Strange. This is not reproduced on my machine. Trains fine.

[2019-11-04 23:43] jchen42703 commented on #485
Related: #430. As far as I know, there isn't an easy way to do it unless you used catalyst's config/experiments API (i.e. through [mlcomp](https://github.com/catalyst-team/mlcomp) or something like [this](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/scripts/run.py)). This is because `__config.json` is made through `catalyst.utils.config.dump_environment` which is dependent on

[2019-11-05 13:34] #431 closed, assigned to TezRomacH, Scitator

[2019-11-05 13:35] #233 closed, assigned to TezRomacH

[2019-11-05 13:36] TezRomacH commented on #414
Added :)

[2019-11-05 13:36] #414 closed, assigned to nobody

[2019-11-05 13:43] TezRomacH commented on #490
Hi! At the moment, there is no such possibility, for CheckpointCallback we take `state.main_metric`, but the idea to pass `reduce_metric` as in SchedulerCallback is excellent!

Would you like to contribute this feature? :)

[2019-11-05 14:11] ostamand commented on #414
Sweet. Thank you!

[2019-11-05 15:08] bamps53 commented on #494
I had same issue when I use Catalyst 19.11. on google colab. When I change the version to 19.10, the error didn't show up.

[2019-11-05 16:59] TezRomacH commented on #494
🤔

[2019-11-05 20:09] Scitator commented on #459
@smivv Hi,
Could you please create a PR, so we can check all the features?
For now, I don't think we have some special criteria.... for criterions :)
Or Callbacks... if your Callback is too specific, our contrib is always open, so we can try it there

[2019-11-06 16:55] smivv commented on #459
@Scitator, agreed! By the way I will split the whole metric learning pipeline to several PRs.

[2019-11-07 08:04] lgqfhwy commented on #485
Ok. thank you so much!

[2019-11-07 21:28] wmmxk opened #507 "Accumulate gradient"
I was trying to use the accumulate gradient feature but run into an error. The training works without the ```OptimizerCallback(accmulation_steps=2)```.

[code]
**FYI,  the error message:**

0/60 * Epoch (train):   0% 0/624 [00:00<?, ?it/s]
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython

[2019-11-08 10:40] TezRomacH commented on #507
Hi! Is there an error if you set `accumulation_steps` to 1?
`OptimizerCallback(accumulation_steps=1)`

[2019-11-08 13:08] TezRomacH commented on #494
@Yorko try now with `19.11.1` please

[2019-11-10 11:38] Yorko commented on #494
Looks like it's fine now, same [Kernel](https://www.kaggle.com/kashnitsky/distillbert-catalyst-amazon-product-reviews), 11th version. Closing.

[2019-11-10 11:38] #494 closed, assigned to nobody

[2019-11-10 11:41] Yorko commented on #507
I had the same issue, not sure what exactly fixed it, but try to run the same with catalyst 19.11.1

[2019-11-10 21:03] wmmxk commented on #507
Hi! Thanks for your reply.

When I  set the step to 1 ```OptimizerCallback(accumulation_steps=1)```, I run into exactly the same error.

[2019-11-10 21:15] TezRomacH commented on #507
Okay, this is interesting. What version of Catalyst do you use?

[2019-11-11 03:20] wmmxk commented on #507
I am using version 19.10.2. I installed by ```pip install catalyst```.

[2019-11-11 03:21] wmmxk commented on #507
Did it work when testing this module?

[2019-11-11 06:06] wmmxk commented on #507
I looked in that line of code, [```getattr(self, key)[inner_key]```](https://github.com/catalyst-team/catalyst/blob/af3572f7197109e04891359558a53f194ef36ba9/catalyst/dl/core/state.py#L99) causing that error. The ```key``` is 'loss', but ```self.loss``` is a ```none```. (see the [code)](https://github.com/catalyst-team/catalyst/blob/af3572f7197109e04891359558a53f194ef36ba9/catalyst/dl/core/state.py

[2019-11-11 06:53] wmmxk commented on #507
Hi! I think I found the reason. When I pass an ```OptimizerCallback``` explicitly, without using the default one. The ```OptimizerCallback``` is the first one in all callbacks. I checked that line [```for callback in self.callbacks.values()```](https://github.com/catalyst-team/catalyst/blob/af3572f7197109e04891359558a53f194ef36ba9/catalyst/dl/core/runner.py#L109).
Because the ```OptimizerCallback`

[2019-11-11 07:03] wmmxk commented on #507
I found the reason. It is because the order of the OptimzerCallback is small as you can see in [```Optimizer = 40  Schedule = 60```](https://github.com/catalyst-team/catalyst/blob/af3572f7197109e04891359558a53f194ef36ba9/catalyst/dl/core/callback.py#L17).
So when the order gets unexpected when [sorted](https://github.com/catalyst-team/catalyst/blob/af3572f7197109e04891359558a53f194ef36ba9/catalyst

[2019-11-11 08:02] wmmxk commented on #507
Maybe this is a bug. When I set ```self.accumulation_steps=2```, because of [```self._accumulation_counter +=1``` ](https://github.com/catalyst-team/catalyst/blob/af3572f7197109e04891359558a53f194ef36ba9/catalyst/dl/callbacks/optimizer.py#L122). The if [statement] (https://github.com/catalyst-team/catalyst/blob/af3572f7197109e04891359558a53f194ef36ba9/catalyst/dl/callbacks/optimizer.py#L139) is al

[2019-11-12 02:51] bamps53 commented on #507
Me too, but when I tried to reproduce this issue with [segmentation tutorial](https://colab.research.google.com/github/catalyst-team/catalyst/blob/master/examples/notebooks/segmentation-tutorial.ipynb), I couldn't.
So, there might be something we cannot use with OptimizerCallback??
I just added OptimizerCallback(accumulation_steps=2).
[code]

[2019-11-12 05:02] bamps53 commented on #490
Thanks, I'll try!!

[2019-11-12 12:30] MasterScrat opened #509 "[RL] Support for Prioritized Experience Replay?"
Is there any plan to implement support for Prioritized Experience Replay, as described either in the original PER paper (https://arxiv.org/abs/1511.05952), or in the Ape-X one (https://openreview.net/pdf?id=H1Dy---0Z)?

[2019-11-13 04:20] SindhuVenna commented on #489
I had the same issue.
Modify line 167 to **callbacks = process_callback(callbacks)**

after importing from **catalyst.dl.utils import callbacks**

After making this change , it works as expected. The code didnot consider the case when callbacks is a list and not a dictionary. Adding that line corrects it.

[2019-11-13 05:56] Scitator commented on #466
merged & done, thanks!

[2019-11-13 05:56] #466 closed, assigned to nobody

[2019-11-14 03:51] gazay opened #512 "Infer stages"
My idea is to separate train stages from infer stages. In train stages could be lots of common params, and it is useful to have the possibility to write, for example common `state_params` section where you can set `num_epochs` to 3 for all train stages. But in most cases, it will be meaningless for infer stage - you don't want to run your inference process three times. The same thing about criteri

[2019-11-15 04:10] dlazerka opened #513 "Classification tutorial: (224,224,1) doesn't match the broadcast shape (224,224,3)"
**To Reproduce**
Steps to reproduce the behavior:
1. Run on Google Collab (no single change made)
https://colab.research.google.com/github/catalyst-team/catalyst/blob/master/examples/notebooks/classification-tutorial.ipynb

Observed:
Cell 31 (`runner.train()`):
[code]

[2019-11-15 04:17] TezRomacH commented on #513
Hi! Thanks for the bug report, I'll be sure to check it out.

[2019-11-15 17:14] sergregory opened #516 "Metrics callbacks should support ignore label"
**Description**
Sometimes, not all samples in the dataset have annotations for all labels. In this situation, common solution is to use special "ignore" value for the not annotated label. However, one-hot encoding, that is required for many metrics callback (e.g. AUCCallback) does not support ignore labels (this is by design of one-hot encoding, for sure), so we cannot calculate metrics for such d

[2019-11-15 19:52] IliaLarchenko commented on #507
@wmmxk try to add `CriterionCallback()` to `callbacks`.
I'm not sure, but it seems to me, you should explicitly use `CriterionCallback` if you explicitly use `OptimizerCallback`

[2019-11-16 01:08] ghost opened #517 "Output while using utils.plot_metrics"
**Describe the bug**
I am using

`
utils.plot_metrics(
    logdir=logdir,
    # specify which metrics we want to plot
    metrics=["loss", "dice", 'lr', '_base/lr']
)
`
in google colab and the results are not plotted.

Can you suggest what can be the issue or any other way to get the same.

Thanks.

[2019-11-16 01:19] ghost commented on #517
Screenshot is attached -
![Screenshot from 2019-11-16 06-47-38](https://user-images.githubusercontent.com/46820227/68985543-43199a00-083d-11ea-956b-5f6198bf7f00.png)

[2019-11-16 06:10] TimSYQQX opened #518 "Supervised runner stuck at 0 percent"
**Describe the bug**
When I run Supervisedrunner().train(). The progression bar is stucked and the system freeze when I try to terminate the process in anyways.

**To Reproduce**
Steps to reproduce the behavior:
1. Use ubuntu 18.04LTS
2. create a python3.7 Conda environment
3. run https://www.kaggle.com/timsyqqx/segmentation-in-pytorch-using-convenient-tools in that environment.

**Expected behavi

[2019-11-16 07:06] ghost commented on #517
As an alternative, I have now tried -

`utils.plot_tensorboard_log (logdir = logdir,metrics = ['loss' , 'dice'] )
![by_batch](https://user-images.githubusercontent.com/46820227/68989492-c4892080-086d-11ea-865a-9637b322ff14.png)
`
It does plot the output but "by batch", when I use -

`utils.plot_tensorboard_log (logdir = logdir,metrics = ['loss' , 'dice'] , step = 'num_epochs')
`
the output is null

[2019-11-16 07:19] TezRomacH commented on #517
Try reloading both `configure_plotyly...` and `utils.plot_metrics`

[2019-11-16 16:37] ghost commented on #517
Done it multiple times.
Can you tell a way to include epoch in the below -

`utils.plot_tensorboard_log (logdir = logdir,metrics = ['loss' , 'dice'] , step = 'num_epochs')`

This can be the workaround.

[2019-11-18 04:26] gazay opened #520 "Configurable checkpoints"
Right now checkpoint logic in Config API is following: if it's not a first stage, then we'll take `{logdir}/checkpoints/best.pth` as a checkpoint (https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/experiment/config.py#L117-L121)

I think that would be great and more flexible if we'll add possibility to configure this behavior. What comes in mind:

1. We can add an option on `stages

[2019-11-18 19:59] IliaLarchenko opened #522 "Update dice function"
I think that the current version of `dice` is not 100% correct (but maybe there is some rationale behind it I don't see).

Current approach:
[code]

1. In the case of empty targets, mask and empty predicted mask `intersection == 0` therefore `dice == 0`. But it seems wrong because everything is predicted correctly. The small change can fix it:
[code]

2. The metric is computed as if `targets` and

[2019-11-19 17:54] maksimovsv opened #524 "TypeError: 'int' object is not callable"
**Describe the bug**
Trying to run the last notebook on Colab with a segmentation pipeline.
https://colab.research.google.com/github/catalyst-team/catalyst/blob/master/examples/notebooks/segmentation-tutorial.ipynb

**To Reproduce**
Just run the following notebook and you will get the error in the cell
[code]
---------------------------------------------------------------------------
TypeError

[2019-11-19 19:36] maksimovsv commented on #524
sorry, guys, my fault, please close the issue

[2019-11-19 19:36] #524 closed, assigned to nobody

[2019-11-20 08:38] TimSYQQX commented on #518
Also, its worth noting that I'm using ryzen 1700 processor. After tracing the process, it seems like its a threading problem.

[2019-11-20 10:41] markson14 commented on #517
Have you fix this problem? I'm facing the same situation

[2019-11-20 11:13] TezRomacH commented on #517
Okay, all right. Try to execute this snippet before importing catalyst/matplotlib/plotly.

[2019-11-20 20:51] Scitator commented on #513
resolved by 19.11.4 version (there was a bug in 19.11.3)

[2019-11-20 20:51] #513 closed, assigned to TezRomacH

[2019-11-21 17:34] fedor-chervinskii opened #525 "To forward global random seed to RL Sampler class"
**Is your feature request related to a problem? Please describe.**
When running RL experiment, sampling is always starting with the same random seed (if not train_seeds specified in config), even if the global seed passed to `run_samplers` is different.

Problem is in this line https://github.com/catalyst-team/catalyst/blob/c5e7d6327e7d7cbefd17029b75fb82a996c8ec13/catalyst/rl/core/sampler.py#L74

[2019-11-25 19:58] Scitator commented on #525
merged

[2019-11-25 19:58] #525 closed, assigned to nobody

[2019-11-26 08:48] smivv opened #530 "Bug in MulticlassIOUMetricCallback & MulticlassDiceMetricCallback"
Ciao guys,

I am receiving ```AttributeError: 'numpy.ndarray' object has no attribute 'items'``` error in [this line](https://github.com/catalyst-team/catalyst/blob/b80857391ff1ac752e5a498fe761d2d377b63146/catalyst/dl/callbacks/metrics/iou.py#L126), probably because ```calculate_jaccard``` function  [returns](https://github.com/catalyst-team/catalyst/blob/b80857391ff1ac752e5a498fe761d2d377b63146/c

[2019-11-26 10:12] smivv commented on #530
And seems like we have the same issue for ```MulticlassDiceMetricCallback```.

[2019-11-26 13:04] smivv commented on #459
@Scitator, this issue can be closed.

[2019-11-26 13:08] Scitator commented on #459
@smivv but there was only one PR.... :)

[2019-11-26 13:56] smivv commented on #459
@Scitator, I thought this issue related only to triplet loss, but now I got you ;)

[2019-11-26 18:07] ghost commented on #517
@markson14  - did you tried the above as suggested ?

[2019-11-27 18:39] Scitator commented on #459
@smivv what would be an appropriate name for this initiative? could you please share, what next steps do you see?

[2019-11-27 19:05] smivv commented on #459
@Scitator, I am already working on knn metric callback and feature collection meter.
I am just thinking maybe it is possible to derive that classes from others that are already exists in order to do not add complexity to the repository or maybe create very generic ones?

[2019-11-28 11:48] markson14 commented on #517
@PN12 I use tensorboard to open those logs instead of this func in the end.

[2019-11-28 16:07] ghost commented on #517
@markson14  - were you able to visualise plots by epoch?

[2019-11-29 15:00] Zillibub opened #537 "Pycharm debugger problems with logdir==''"
**Describe the bug**
If I'll set logdir='' in runner.train method, folder code will be created.
That folder will become source of an unexpected behavior on next code runs of this script in PyCharm debugger.

During PyCharm debugger start following code will be evaluated:
[code]
And will end up with error
`ImportError: cannot import name 'InteractiveConsole'`
`SyntaxError: Missing parentheses in ca

[2019-12-02 08:25] markson14 commented on #517
@PN12 No, by datetime or by step i think

[2019-12-02 15:19] Scitator commented on #459
@smivv Is it okay for you to add your Callback to Catalyst.contrib? By this way, we can easily check the it and guide about its development. Maybe, make it more general :)

[2019-12-06 12:41] Inkln opened #548 "Incorrect tensorflow versions comparison"
**Describe the bug**
https://github.com/catalyst-team/catalyst/blob/master/catalyst/utils/seed.py incorrect compare of tf versions
`if tf.__version__ >= "2.0.0":
            tf.random.set_seed(seed)
        elif tf.__version__ <= "1.13.2": # here ("1.4.1" <= "1.13.2") is False
            tf.set_random_seed(seed)
        else:
            tf.compat.v1.set_random_seed(seed) # And code fails here
`

[2019-12-12 06:52] jchen42703 commented on #517
You should be able to view your plots by epoch with tensorboard

[2019-12-13 17:42] Podidiving opened #557 "Incorrect Tensorboard import"
**Describe the bug**
in https://github.com/catalyst-team/catalyst/blob/master/catalyst/utils/tensorboard.py
[code]
There is incorrect `SummaryWriter` and `Event` imports while having tensorboard < 1.14.0

**To Reproduce**
1. torch==1.3.1
2. tensorboard==1.12.2
3. from catalyst.dl import utils

**Expected behavior**
`from tensorboardX import SummaryWriter` and `from tensorboardX.proto.event_pb2 imp

[2019-12-13 17:58] Arquestro commented on #557
Hello! Thank you for the report. I don't think that this issue can be considered as a bug, because there is latest version of tensorboard in requirements.txt.

[2019-12-13 18:09] Podidiving commented on #557
Hi! Yes, I totally agree, but if you first install tensorboard of the old version and then catalyst, you will have the wrong version of tensorboard
Plus, i believe, that this can be easily fixed by additional version checking in if-statement

[2019-12-13 19:10] Arquestro commented on #557
I guess it can be fixed with requirements rewrite. Just need to change the requirements to `tensorboard>=1.14.0`, instead of plain `tensorboard`.
No need for checking old versions, there will be more pain of legacy support. Even this import decision was not easy, and has been made this way because most users are still on PyTorch version >=1.2.0.
That's all just in my opinion. Feel free to make PR,

[2019-12-13 20:42] TezRomacH commented on #557
@Podidiving thanks for reporting the bug and @Arquestro thanks for a quick and reasonable solution 😄

Could you please provide a PR with this? 🙂

[2019-12-14 08:06] Podidiving commented on #557
Thanks for respond!
I agree, it's better to fix tensorboard version
But still, I believe, that there are some people who use `catalyst` and `tensorflow` with version `<1.14.0` in their projects, and it's seems that compatibility issue can be solved with different import
Or it will be bad in terms of legacy support?

[2019-12-17 20:08] Scitator commented on #557
Hi, for now let's hotfix with version requirements. Nevertheless, @Podidiving if you would like to contribute better support for older versions – it would be great.

[2019-12-17 20:09] Scitator commented on #530
Dear @smivv could you please check if the bug is still raised? We have updated these callbacks.

[2019-12-18 19:27] smivv commented on #459
@Scitator, please see [PR](https://github.com/catalyst-team/catalyst/pull/560)

[2019-12-19 20:24] gazay commented on #548
@Avi2011class is this issue is solved by https://github.com/catalyst-team/catalyst/pull/547 and can be closed?

[2019-12-19 21:26] Inkln commented on #548
Yes, it's solved

[2019-12-20 02:13] adriangrepo opened #562 "Fixes required to run segmentation-tutorial.ipynb"
torch: 1.3.1, catalyst: 19.12.2

To get examples/notebooks/segmentation-tutorial.ipynb to train I made some modifications:

segmentation_models_pytorch api has changed since the nb was written, now need to do:

`

    import segmentation_models_pytorch as smp

    aux_params=dict(
        dropout=0.5,               # dropout ratio, default is None
        classes=1,                 # define number

[2019-12-21 09:07] Arquestro commented on #557
Can be closed now, I guess. Gratz with first catalyst PR, @Podidiving!

[2019-12-21 10:14] #557 closed, assigned to nobody

[2019-12-23 06:23] Scitator commented on #134
@TezRomacH @bagxi  Is there any updates, or its better to close the issue?

[2019-12-23 06:23] #147 closed, assigned to nobody

[2019-12-23 06:24] Scitator commented on #178
done

[2019-12-23 06:24] #178 closed, assigned to nobody

[2019-12-23 06:24] Scitator commented on #226
Looks like we have already fixes that issue :)

[2019-12-23 06:24] #226 closed, assigned to nobody

[2019-12-23 06:25] Scitator commented on #234
done

[2019-12-23 06:25] #234 closed, assigned to Scitator

[2019-12-23 06:25] Scitator commented on #235
working on during Catalyst.RL 2.0 refactoring

[2019-12-23 06:25] #235 closed, assigned to AlexGrinch

[2019-12-23 06:26] Scitator commented on #280
work in progress during Catalyst.RL 2.0 refactoring

[2019-12-23 06:26] #280 closed, assigned to vaklyuenkov

[2019-12-23 06:27] Scitator commented on #344
@devforfu Hi, is this issue still alive?)

[2019-12-23 06:28] Scitator commented on #356
Hi,
Do you still have any troubles with distributed training?
@TezRomacH fyi

[2019-12-23 06:28] Scitator commented on #382
Looks like we already have a tutorial update for this issue.
If no, please reopen this one again :)

[2019-12-23 06:28] #382 closed, assigned to nobody

[2019-12-23 06:29] Scitator commented on #384
Hi,
Do you have any update on your issue/proposal/possible-pr?

[2019-12-23 07:52] Scitator commented on #408
Hi,
During 19.12 release we have finished [BERT sentence classification example](https://github.com/catalyst-team/catalyst/tree/master/examples/distilbert_text_classification). Check it out and write a feedback please.

[2019-12-23 11:11] #548 closed, assigned to nobody

[2019-12-23 11:57] TezRomacH commented on #562
Thank you for the feedback!

I removed AUX params for a while #566 to make the tutorial work, then we will think about how to avoid situations with `output[0]` because we do not always need the first element of the tuple.

[2019-12-23 20:49] #402 closed, assigned to bagxi

[2019-12-24 12:25] Scitator commented on #562
fixes by https://github.com/catalyst-team/catalyst/pull/566

[2019-12-24 12:25] #562 closed, assigned to nobody

[2019-12-26 11:42] jakubczakon opened #570 "Neptune support"
**Is your feature request related to a problem? Please describe.**
I want to create integration with the experiment tracking tool neptune.ml.

**Describe the solution you'd like**
Almost exactly the same as [wandb logger](https://github.com/catalyst-team/catalyst/blob/master/catalyst/contrib/runner/wandb.py)

**Note**
Goes without saying that I will create this integration myself.

[2019-12-28 13:09] ai-niki commented on #530
@Scitator there is no such bug now, you can close this issue

[2019-12-29 10:48] #530 closed, assigned to nobody

[2019-12-29 10:53] #177 closed, assigned to nobody

[2019-12-29 10:53] #192 closed, assigned to nobody

[2019-12-29 10:54] Scitator commented on #192
Closed due to poetry usage for deps logging.

[2019-12-29 10:54] Scitator commented on #356
closed due to inactivity

[2019-12-29 10:54] #356 closed, assigned to nobody

[2019-12-29 10:55] #408 closed, assigned to nobody

[2019-12-29 10:56] Scitator commented on #430
done

[2019-12-29 10:56] #430 closed, assigned to TezRomacH, Scitator, bagxi

[2019-12-29 10:56] Scitator commented on #426
done

[2019-12-29 10:56] #426 closed, assigned to TezRomacH, Scitator, lightforever

[2019-12-29 10:57] Scitator commented on #401
Hi,
@sergeyshilin Are you proposing a PR with such test coverage? Or you are looking for such tests?

[2019-12-29 10:57] Scitator commented on #434
done

[2019-12-29 10:57] #434 closed, assigned to TezRomacH, Scitator, bagxi

[2019-12-29 10:58] Scitator commented on #453
closed due to inactivity

[2019-12-29 10:58] #453 closed, assigned to TezRomacH, Scitator, lightforever, bagxi

[2019-12-29 10:58] Scitator commented on #464
Looks like everything works correctly, closed due to inactivity.

[2019-12-29 10:58] #464 closed, assigned to nobody

[2019-12-29 10:59] Scitator commented on #468
Dear @smivv
Would you like to make a PR with such functionality? Just like our TripletLoss epic :likeacatalyst:

[2019-12-29 11:01] Scitator commented on #470
Thanks to Logger restructuration, you can handle logging metrics.
Please check [LoggerCallback](https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/callbacks/logging.py#L17)

[2019-12-29 11:01] #470 closed, assigned to nobody

[2019-12-29 11:01] #485 closed, assigned to nobody

[2019-12-29 11:01] Scitator commented on #485
Looks like solved :)

[2019-12-29 11:01] Scitator commented on #489
Looks like solved :)

[2019-12-29 11:01] #489 closed, assigned to TezRomacH

[2019-12-29 11:02] Scitator commented on #479
done, thanks!

[2019-12-29 11:02] #479 closed, assigned to nobody

[2019-12-29 11:03] Scitator commented on #522
@pokidyshev @TezRomacH  Have not we already solve this issue?

[2020-01-02 18:23] ogvalt opened #576 "Optimizer Callback able to store gradient info for tensorboard"
**Is your feature request related to a problem? Please describe.**
I was unable to harvest any gradient info in order to analyze my model training via tensorboard. I've tried to create a callback with CallbackOrder same as Optimizer, but it does not guarantee execution order.

**Describe the solution you'd like**
I would like to improve basic Optimizer Callback to be able to store gradient informa

[2020-01-02 18:28] TezRomacH commented on #576
Hi!
Given that `CallbackOrder` is just an integer, you can set it as `CallbackOrder.Optimizer - 1`

[2020-01-02 18:59] ogvalt commented on #576
@TezRomacH The issue isn't in Callback Order, but in Optimizer CallBack itself. After self.grad_step it calls model.zero_grad() and all my grads become zeros and makes me unable to get correct grads.
One solution that probably should work is to calculate grads on_batch begin without actually updating the model, but I see this as overhead.

[2020-01-02 19:14] TezRomacH commented on #576
Alright, I see.

I'll think what we can do :)

[2020-01-03 01:51] ogvalt commented on #576
@TezRomacH
I thought a little and come to a solution. The simplest way is to add grads info to runner state and copy them before zero_grads in on_batch_end method call of Optimizer callback

[2020-01-08 14:51] ogvalt opened #579 "Frozen class implementation"
**Describe the bug**

According to comment FrozenClass should prohibit change in existing attributes of coresponding instance. But if you look in the code below you could clearly see that it rather make unable to set new field to existing class dynamically.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. state.epoch = 5 - allowed
2. state.random_new_assignment = 5
TypeError: <catalyst

[2020-01-09 19:24] smivv opened #583 "MetricAggregatorCallback"
I just faced problem of aggregation of multiple metric callbacks into one value in order to find best epoch based on them.

Simple use case - multitask problem - neural net with several heads. For every head we have an AccuracyCallback. In that case we can aggregate these values into one.

So I propose to create MetricAggregatorCallback to do that. Already working on that.

I will put it into cata

[2020-01-09 19:37] smivv opened #584 "Bug with default input and output keys"
As far as I understood, criterion module is wrapping now with CriterionCallback.
But the problem is that in CriterionCallback there is a default output_key='logits', and if I have no 'logits' in my outputs of neural net, I receive an error ```KeyError: 'logits'```.

To reproduce it you just need to set output_key to something that does not contain 'logits'.
Also the same thing we have for 'feature

[2020-01-10 07:51] Scitator commented on #579
Yup, thats the logic - just create some object with predefined signature, so you can easily check what RunnerState consists of in one place. And to restrict user from untrackable behaviour like `state.random_new_assignment = 5` in the middle of training pipeline.

[2020-01-10 10:01] ogvalt commented on #579
@Scitator I see, so its more about shallow freeze, rather that deep freeze.
Btw, during my work on extending RunnerState with model_grads I found that it's possible for user to extend one with kwargs, which is great and clever trick to make it more flexible. But when it comes to actually extend RunnerState with custom fields, Runner abstract class lacks any possibility to pass any extention fields

[2020-01-10 17:48] BrunoKrinski opened #587 "Doubts to open segmentation mask"
Hi, first of all, awesome framework. I work with segmentation and it's really hard to find a good segmentation framework.

I'm following the segmentation tutorial of the provided colab: [segmentation-tutorial.ipynb](https://github.com/catalyst-team/catalyst/blob/master/examples/notebooks/segmentation-tutorial.ipynb) and I'm creating the SegmentationDataset class to open my images.

So, I have a do

[2020-01-11 00:34] sergeyshilin commented on #401
As far as I recall, I was not proposing a PR, but found it necessary to cover those scenarios with tests. I guess it can be closed if Catalyst is not planning to implement such tests in the near future.

[2020-01-11 19:48] ogvalt commented on #587
Pytorch uses channel first approach, so each image encoded in CWH format, or BCWH for batch of images. Therefore segmentation model output also in BCWH and your ground truth should be in BCWH.

[2020-01-13 08:51] smivv commented on #584
Hmm, somehow input_target_key arguments fixed this problem 🤔

[2020-01-13 10:41] Scitator commented on #579
If I remember correctly, RunnerState can be easily extended through `state_params`:
config: https://github.com/catalyst-team/catalyst/blob/master/examples/configs/config-description-eng.yml#L71
src: https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/core/runner.py#L96

[2020-01-13 11:20] ogvalt commented on #579
Yes, you're correct. I've searched for this, but didn't found. Thanks.

[2020-01-14 05:57] Scitator commented on #579
Thats great!

[2020-01-14 05:57] #579 closed, assigned to nobody

[2020-01-17 08:07] #583 closed, assigned to nobody

[2020-01-21 19:25] dlazerka opened #603 "SupervisedWandbRunner doesn't support inference"
**Describe the bug**
SupervisedWandbRunner requires a logdir, while `runner.predict_loader()` doesn't accept it.

[code]
**To Reproduce**
Steps to reproduce the behavior:
[code]

[2020-01-28 01:14] dlazerka opened #608 "Support multiple input_key-s for SupervisedRunner."
**Is your feature request related to a problem? Please describe.**
Currently, it's impossible to provide a network multiple inputs, where some inputs are only provided at some point, but not at the head of network. E.g. there are two inputs: 1. image pixels 2. scalar features, and we want to run image encoder only on image pixels, but concatenate scalar features to image features before the final

[2020-01-28 01:25] dlazerka commented on #608
Possible with passing a list instead of string to `SupervisedRunner(input_key=...)`. Closing.

[2020-01-28 01:25] #608 closed, assigned to nobody

[2020-01-28 11:14] TezRomacH commented on #570
done in #571

[2020-01-28 11:14] #570 closed, assigned to nobody

[2020-01-28 11:15] #584 closed, assigned to nobody

[2020-01-28 11:15] TezRomacH commented on #576
done in #581

[2020-01-28 11:15] #576 closed, assigned to nobody

[2020-01-28 11:19] reyzharkov commented on #487
solved in #607

[2020-01-28 11:19] #487 closed, assigned to nobody

[2020-01-29 18:26] Scitator commented on #587
yup, following the PyTorch you need BCHW tensor

[2020-01-29 18:26] Scitator commented on #522
looks like done

[2020-01-29 18:26] #522 closed, assigned to nobody

[2020-01-30 21:40] cgarciae opened #619 "Documentation on Criterion"
Is there documentation on how to setup a `criterion` in the `SupervisedRunner` to deal with complex loss functions for models with multiple labels and multiple outputs, especially for cases that their relation is not 1-to-1, e.g. using 3 labels and 2 outputs to define the loss.

[2020-01-31 05:51] Scitator commented on #619
Yeah, sure!
Check out our [segmentation tutorial](https://colab.research.google.com/github/catalyst-team/catalyst/blob/master/examples/notebooks/segmentation-tutorial.ipynb).

[2020-01-31 05:52] #587 closed, assigned to nobody

[2020-01-31 05:53] #490 closed, assigned to nobody

[2020-01-31 05:53] #134 closed, assigned to nobody

[2020-01-31 05:54] #256 closed, assigned to nobody

[2020-01-31 05:54] #344 closed, assigned to nobody

[2020-01-31 05:56] Scitator commented on #383
@TezRomacH have we already implement this feature?

[2020-01-31 05:59] TezRomacH commented on #383
yeap

[2020-01-31 06:00] Scitator commented on #459
Is Epic done? @smivv

[2020-01-31 06:01] #383 closed, assigned to nobody

[2020-01-31 08:21] smivv commented on #459
@Scitator, I think only notebook left, I was waiting for the release.

[2020-02-01 03:04] skrish13 opened #620 "Does BalanceClassSampler work with DataLoader?"
**Describe the bug**
ValueError: sampler should be an instance of torch.utils.data.Sampler, but got sampler=<class 'catalyst.data.sampler.BalanceClassSampler'>

**To Reproduce**
Try the tutorial with this sampler? (instead of None)

[2020-02-01 07:24] AndreySheka opened #622 "Repair resume: resume epoch and stage(!)"
This bug is caused by the following reasons:
1. Checkpoint doesn't contain  `stage_epoch` and `Runner_ ` hasn't property information for resuming.
2. `Runner_` always starts stage from `stage_epoch=0`
3. `Runner_` doesn't check resumed stage.

[2020-02-01 07:44] AndreySheka opened #623 "Autoresume from "logdir/last_full.pth""
In some systems, like slurm, task is time limited. Usually it is about 10-20 hours. Large tasks, like ImageNet, require running several small tasks. This feature helps automate this process.

[2020-02-01 08:44] AndreySheka opened #624 "Config with dependencies"
The main idea is one config - one experiment. Some experiments may have common parts. Now this is implemented in the form of passing a list of configs to `catalyst-dl run`. But this is difficult for new people to understand. It is suggested to add the `pre-configs` and `post-configs` fields to the config, which will be converted to the config list when the experiment is started. This should make i

[2020-02-01 09:30] AndreySheka opened #625 "Add easy distributed mode like dataparallel with slurm support"
DistributedDataParallel has better performance than DataParallel. But current version of catalyst requires write additional code for running in DistributedDataParallel mode. The main idea run themself in child processes with proper parameters.  This approach makes it easy to adapt catalyst to run on High Performance Computing clusters with slurm.

[2020-02-01 09:35] AndreySheka opened #626 "Metrics synchronization between nodes in distributed mode"
In current version of catalyst every nodes in distributed mode have local metrics. But in a good way metrics should be synchronized between nodes.

[2020-02-01 10:34] AndreySheka opened #627 "Logging only on master node in distributed mode"
One node's logs are enough to analyze the results of experiments. Therefore, it is suggested to log only on the master node.

[2020-02-03 15:15] fursovia opened #632 "runner_params cannot be found in _config.json"
**Describe the bug**
`catalyst-dl run` doesn't save `runner_params` to `logs/configs/_config.json` file.

@TezRomacH could you help please?

[2020-02-03 15:26] TezRomacH commented on #632
Hi, thanks for the report. Yeap, i'm working on the solution.

[2020-02-03 15:45] TezRomacH commented on #632
The solution is here: https://github.com/catalyst-team/catalyst/pull/633

[2020-02-04 05:04] Scitator commented on #624
Why do you need to store information about configs in the config? It looks a bit unclear, is there any usecase for this issue?

[2020-02-04 06:10] TezRomacH commented on #632
merged, the solution will appear in the next micro release

[2020-02-04 06:10] #632 closed, assigned to nobody

[2020-02-05 17:22] avinashsai opened #637 "RMS Normalization"
**Is your feature request related to a problem? Please describe.**
RMS Normalization https://openreview.net/pdf?id=SygkZ3MTJE is a normalization technique proposed for normalizing CNN and LSTM.

**Describe the solution you'd like**
I have experimented Layer Normalization and RMS Normalization using LSTM on IMDB dataset. Experiment results can be found here: https://github.com/avinashsai/All-you-ne

[2020-02-05 18:48] AndreySheka commented on #624
It's like inheriting classes. For example, experiments with different network architectures may have the same data preprocessing. Variations with stages are also possible. Combining several configs via the command line is easy to get confused. Moreover, the presence of one config is easier to explain and it is more intuitive, because a person understands what dependencies this config has and can f

[2020-02-06 04:54] jchen42703 opened #638 "AttributeError: 'numpy.ndarray' object has no attribute 'items' when using `MulticlassDiceMetricCallback`"
**Describe the bug**
In the `on_loader_end` method for `MulticlassDiceMetricCallback`, `batch_metrics` is a numpy array instead of a dict. This is because `batch_metrics = calculate_dice(...)` and `calculate_dice` returns a np.ndarray of the dice coefficients for each class instead of a dict.

**To Reproduce**
Steps to reproduce the behavior:
1. Train a segmentation pipeline with `MulticlassDiceMe

[2020-02-06 14:16] CrafterKolyan commented on #603
Reproducible example:
[code]

Consider that:
[code]
is working perfectly.

[2020-02-06 15:01] CrafterKolyan opened #640 "Cannot train SupervisedWandbRunner"
Catalyst 20.2
Reproducible example:
[code]

After the whole training process I get an exception:
[code]

[2020-02-06 15:45] CrafterKolyan commented on #603
By the way, I am not sure this is actually should be supported. It's really strange how you want your results to be shown in WandB so actually I think you should use `SupervisedRunner` instead of `SupervisedWandbRunner` for `predict_loader`

[2020-02-06 19:35] avinashsai commented on #637
@Scitator Please share your thoughts on this.

[2020-02-07 06:45] smivv opened #644 "FocalLoss does not work with one-hot labels"
**Describe the bug**
FocalLoss does not work with one-hot labels.
Throws an error that target and input tensors sized do not match.

**To Reproduce**
Steps to reproduce the behavior: Just use Focal loss with one-hot labels.

**Expected behavior**
It should work :)

**Further steps**
I already solved this problem with taking argmax, so I'll do a PR.

[2020-02-07 07:35] smivv opened #646 "Center Loss"
I think it's time to implement also center loss :)

Center Loss: https://ydwen.github.io/papers/WenECCV16.pdf
Implementations: [1](https://github.com/KaiyangZhou/pytorch-center-loss/blob/master/center_loss.py), [2](https://github.com/louis-she/center-loss.pytorch/blob/master/loss.py), [3](https://github.com/SWHL/pytorch-center-loss/blob/master/center_loss.py), [4](https://github.com/jxgu1016/MNIST

[2020-02-07 12:29] Scitator commented on #637
Hi @avinashsai,
Thanks for your proposal, we are definitely would be grateful for your contribution,
you can add your implementation to [https://github.com/catalyst-team/catalyst/tree/master/catalyst/contrib/nn/modules/rms_norm.py](https://github.com/catalyst-team/catalyst/tree/master/catalyst/contrib/nn/modules) for example :)

[2020-02-07 14:18] avinashsai commented on #637
Thank you. will surely work on it.

[2020-02-08 00:36] Podidiving opened #648 "Bug with trace_model when runner's process_input is process_input_list"
**Describe the bug**
In `trace.trace_model` model is wrapped in `_TracingModelWrapper` class, which return `None` after
`forward` method is called. This is the reason of issue, when `runner.predict_batch()` method is called

**Steps to reproduce the behavior**
There is a simple example to invoke this error

![image](https://user-images.githubusercontent.com/26285240/74075425-69f20180-4a23-11ea-8f9

[2020-02-09 16:31] TezRomacH commented on #648
Is the bug still exist if using `runner.trace(**params)`?

[2020-02-09 17:35] #640 closed, assigned to nobody

[2020-02-09 17:57] Podidiving commented on #648
@TezRomacH , yes, still the same issue, because the same function `trace_model` is called inside runner

[2020-02-09 20:52] ogvalt opened #650 "Adapt hydra approach to configuration files handling (hydra.cc)"
**Is your feature request related to a problem? Please describe.**
I found two Issues (#624 and #630) that is trying to address problems that occur when it's
necessary to create new configuration each time when you want to create new experiment.
To be more precise lets consider the case when you want to run experiment with different models to check their performance. You need to create two config

[2020-02-10 20:09] #644 closed, assigned to nobody

[2020-02-10 20:54] uyekt opened #652 "De-Registry Logging-Callback?"
Sorry if the answer to my question is obvious... I coudn't find anything about it.

I'd like to make some changes on the TensorboardLogger in my project.
So I wrote a callback MyTensorboardLogger, registered it ..etc. works.
However the standart one is still working in parallel.  I couldn't find how to deactivate it.  Is it possible?
Or is there a way to overwrite a callback with my own version, s

[2020-02-11 18:42] #623 closed, assigned to nobody

[2020-02-11 18:45] #637 closed, assigned to nobody

[2020-02-12 12:07] ogvalt opened #655 "optimize model grads collections"
**Is your feature request related to a problem? Please describe.**
I've work with my recent approach to collecting model gradients and find out that is not that optimal (#576 #581 ).
The main problem is that I need to initialize optimizer in my code with flag save_model_grads an then pass it in callback list. eg:

[code]
(Also I found that the way that is used to collecting gradients slows down mo

[2020-02-12 12:19] ogvalt opened #656 "Enhance wandb runner with wandb.watch and log custom step"
**Is your feature request related to a problem? Please describe.**
So the ideas here is next:
1. wandb has good solution for tracking gradients of the model via wandb.watch(model).
2. wandb logs information about the model with respect to steps. Ones increasing each time user call wandb.log(...). Sometimes it's quite confusing when train and valid data don't co-aling in terms of steps.

**Describe

[2020-02-13 19:09] #622 closed, assigned to nobody

[2020-02-14 12:53] and-kul opened #663 "Bug in EarlyStoppingCallback with minimize=False"
`EarlyStoppingCallback` doesn't work correctly with `minimize=False`.

The problem is in the following snippet:
[code]
https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/callbacks/misc.py#L28

I guess this is a typo or copypaste mistake, and for `minimize=False` it should be
`self.is_better = lambda score, best: score >= (best + min_delta)`

(plus instead of minus)

[2020-02-14 15:29] and-kul commented on #663
Fixed in PR

[2020-02-14 15:29] #663 closed, assigned to nobody

[2020-02-19 08:11] Arquestro opened #670 "Refactoring of Runner._run_event and _State"
Several interconnected problems here:

1. `metric_manager` is a part of `_State` functionality. The only reason for `_State` to have pre/post methods. Partly that makes `_State` behaviour to look like a Callback one, but with own set of events.
2. `Runner._run_event` is too complicated: too many "if"-statements and `moment` argument is not needed, due to the fact that we can make `event` for every

[2020-02-19 09:45] Arquestro commented on #670
Too much functionality is on `metric_manager`, won't be that easy to get rid of to in one take. I think that it will be okay to begin with p.2 but with processing state pre/post methods for now in callbacks event preparing, temporary solution.

After that task is done we can make `metric_manager` refactoring, with `_State` cleaning of metric handling and enhancing functionality with addition of Me

[2020-02-22 10:06] Scitator commented on #625
merged

[2020-02-22 10:06] #625 closed, assigned to nobody

[2020-02-22 10:06] Scitator commented on #646
@smivv would you like to make a contribution?

[2020-02-22 10:07] Scitator commented on #627
merged

[2020-02-22 10:07] #627 closed, assigned to nobody

[2020-02-22 10:07] Scitator commented on #626
merged

[2020-02-22 10:07] #626 closed, assigned to nobody

[2020-02-22 10:07] #619 closed, assigned to nobody

[2020-02-22 10:08] Scitator commented on #603
fixed `20.02.3` :)

[2020-02-22 10:08] #603 closed, assigned to nobody

[2020-02-22 10:09] #409 closed, assigned to nobody

[2020-02-22 10:10] Scitator commented on #386
fixed, `20.02.3` :)

[2020-02-22 10:10] #386 closed, assigned to nobody

[2020-02-25 07:57] smivv opened #678 "TypeError: forward() got an unexpected keyword argument 'check_trace'"
**Describe the bug**
I receive an error while tracing model with opt-level arg:

```TypeError: forward() got an unexpected keyword argument 'check_trace'```

[2020-02-25 07:58] smivv commented on #678
Ah ok, I see the comment in the code.

[2020-02-25 07:58] #678 closed, assigned to nobody

[2020-02-27 03:56] ternaus opened #680 "Error loading from checkpoint"
Loading weights from checkpoint:

[code]

Get an error

[code]

[2020-02-28 15:20] Scitator commented on #680
Hi, thanks for issue track.
There was a bug into previous version, you can use `20.02.4` instead.

[2020-02-28 18:07] #680 closed, assigned to nobody

[2020-02-29 21:40] #638 closed, assigned to nobody

[2020-03-02 14:33] jchen42703 opened #682 "When using an activation function of "Softmax2d" for many callbacks and losses, no argmax is applied"
# (I will compile a list and hopefully open a PR if needed)

**Describe the bug**
This behavior is present in a plethora of catalyst's callbacks and losses. It's consistent, but it's definitely confusing for many new users.

**To Reproduce**
Steps to reproduce the behavior:
Use these functions/classes:
Callbacks
* [`MeterMetricsCallback`](https://github.com/catalyst-team/catalyst/blob/master/catal

[2020-03-03 09:13] CrafterKolyan commented on #603
@Scitator I don't see this one fixed in `20.02.4`. Also I don't see any commits which tried to fix this problem in `20.02.3`. My example from above (https://github.com/catalyst-team/catalyst/issues/603#issuecomment-582924740) is still not working. Error is the same.

Please reopen this issue.

![image](https://user-images.githubusercontent.com/9883873/75760313-264f9680-5d48-11ea-8c58-d8d9e69d4e95.

[2020-03-03 09:35] CrafterKolyan opened #684 "SupervisedWandbRunner logs wrong number of epochs to WandB"
**Describe the bug**
Catalyst 20.02.4
`WandbRunner` is logging wrong number of epochs to WandB

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
In WandB I see two plots with `MSELoss` with exactly 10 epochs

**Actual behaviour**
In WandB I see two plots with `MSELoss` with 20 epochs (but each has exactly 10 dots)

**Screenshots**
Look on number of steps. It has 20 s

[2020-03-03 11:34] jesusmolrdv opened #686 "SupervisedWandbRunner error when predict_loader"
**Describe the bug**
When using `SupervisedWandbRunner` calling `predict_loader` throws an exception:

[code]

**To Reproduce**
Calling
[code]
After training the model leads into the exception.

**Additional context**
After some research, I have found that the problem is that in [this line](https://github.com/catalyst-team/catalyst/blob/37bddea809cb0aab982063940d7ba247ad3aad5c/catalyst/contrib/dl/

[2020-03-03 11:38] jesusmolrdv commented on #686
Just seen #603 so I am closing the issue. Sorry for the inconvenience.

[2020-03-03 11:38] #686 closed, assigned to nobody

[2020-03-06 23:32] Entodi opened #692 "Reassessing Visdom Support"
I have a solution for visdom support (https://github.com/facebookresearch/visdom) which was pointed out here in closed issues (https://github.com/catalyst-team/catalyst/issues/344).

I implemented:
-  VisdomLogger based on alchemy.logger (https://github.com/catalyst-team/alchemy/blob/master/alchemy/logger.py)
- VisdomRunner and SupervisedVisdomRunner based on AlchemyRunner (https://github.com/cata

[2020-03-09 09:54] uyekt commented on #652
Got it using

`try:
    registry.CALLBACKS.pop('TensorboardLogger')
except catalyst.utils.tools.registry.RegistryException:
    pass`
in project init.py.

I had to catch the RegistryException because somehow init.py is executed twice.

Finally I overloaded the get_callbacks function from ConfigExperiment and registered my own version instead of the original version.

[2020-03-09 09:54] #652 closed, assigned to nobody

[2020-03-11 08:24] elephantmipt opened #700 "text2embedding bug"
When I tried to get embeddings from my text via `catalyst-data text2embedding` I got this error:

![image](https://user-images.githubusercontent.com/37884009/76395460-676b2a80-6388-11ea-806f-70c328704901.png)

Probably lines 145 and 146 in `catalyst/data/scripts/text2embedding.py` should be

[code]

instead of

[code]

pytorch version: 1.4.0

[2020-03-14 10:06] ditwoo opened #705 "Training without storing model states"
**Description**
In some rare cases, for example, when you need to finetune a large model on a small dataset the majoring part of training loop is waiting for saving model checkpoints to a hard drive.

**Proposal**
Would be logically to add a `CheckpointCallback` with parameter `save_n_best=0` to a configuration and do not store best checkpoints and instead use the latest state of the model.

**Not

[2020-03-15 06:01] Scitator commented on #670
Done, during  `20.03` release

[2020-03-15 06:01] #670 closed, assigned to Arquestro, Scitator

[2020-03-18 16:15] andriilitvynchuk opened #710 "20.03.1 Alchemy Logger bug"
**Describe the bug**
In the end if validation there is next error:
[code]

**To Reproduce**
I cannot share my data, but I am 100% sure it is not matter in data, because even in 20.03 my pipeline works. I attach my config under this message.

Config:
[code]

[2020-03-19 11:28] andriilitvynchuk commented on #710
I found how to fix this bug:
Change `on_epoch_end` method to:
[code]
Because `base_` key is not always in dict with metrics
If this solution is good and doesn't has corner cases, I can make pull request with this bug fix + LR logging bug (change SchedulerCallback order to 100 and LoggingCallback order to 120)

[2020-03-19 13:12] andriilitvynchuk opened #713 "Freezing after training ends, Catalyst 20.03+ version"
**Describe the bug**
After training end I see next picture forever:
[code]
It just freezes. This happened with my pipeline after upgrading 20.02 -> 20.03.

**To Reproduce**
I have 3 GPU server with NVIDIA 1080Ti and Threadripper, if needed I can give detailed hardware. Training is in DataParallel mode, not DDP.
My config:
[code]

**Additional context**
After `Ctrl + C` I see next picture:
[code]
O

[2020-03-20 11:30] andriilitvynchuk commented on #713
I turned Alchemy-Catalyst off and bug is fixed. So it's problem with Alchemy.

[2020-03-21 15:38] #684 closed, assigned to nobody

[2020-03-24 08:22] Scitator commented on #710
Looks like we have already fixed this issue during `20.03.3` release :)

[2020-03-24 08:22] #710 closed, assigned to nobody

[2020-03-24 08:23] Scitator commented on #713
Could not reproduce the issue, do you have a minimal example for that?

[2020-03-24 08:24] Scitator commented on #251
moved to Catalyst.RL

[2020-03-24 08:24] #251 closed, assigned to Scitator

[2020-03-24 08:25] Scitator commented on #384
closed due to inactivity

[2020-03-24 08:25] Scitator commented on #459
looks like ~done :)

[2020-03-24 08:25] #459 closed, assigned to nobody

[2020-03-24 08:27] Scitator commented on #467
To remove additional logging during training you can remove `verbose` flag :)

[2020-03-24 08:27] #467 closed, assigned to nobody

[2020-03-24 08:27] Scitator commented on #469
please check the last version, we should fixed this issue.

[2020-03-24 08:27] #469 closed, assigned to nobody

[2020-03-24 08:28] Scitator commented on #495
Fixed :)

[2020-03-24 08:28] #495 closed, assigned to nobody

[2020-03-24 08:29] Scitator commented on #507
could you reproduce the issue with `20.03.3` version?

[2020-03-24 08:29] Scitator commented on #509
moved to Catalyst.RL :)

[2020-03-24 08:29] #509 closed, assigned to nobody

[2020-03-24 08:31] Scitator commented on #512
Not sure, if we really need it, it looks like additional complexity for both understanding and config parsing, isn't it?

[2020-03-24 08:33] Scitator commented on #518
Please, try to use different `torch` version, there are several issues with gpus compatibility.

[2020-03-24 08:33] #518 closed, assigned to nobody

[2020-03-24 08:36] Scitator commented on #537
Do you have any troubles with `logdir="./path/to/logdir"` variant?

[2020-03-24 08:38] Scitator commented on #620
Yes, it works :)
You can also check the source code,
https://github.com/catalyst-team/catalyst/blob/master/catalyst/data/sampler.py#L12

[2020-03-24 08:38] #620 closed, assigned to nobody

[2020-03-24 08:39] Scitator commented on #648
Fixed :)

[2020-03-24 08:39] #648 closed, assigned to nobody

[2020-03-24 08:40] Scitator commented on #700
Thanks for noting,
Would you like to make a pull request to resolve the issue?

[2020-03-24 08:41] Scitator commented on #682
Do you have a minimal example to reproduce the issue?

[2020-03-24 08:42] Scitator commented on #692
Thanks for noting,
would you like to make a pull request on this feature?

[2020-03-24 09:30] andriilitvynchuk commented on #713
I'm sorry, but I don't know how to give you an working example, because I cannot share my data, only my hardware and configs. But I was able to fix it - may be it will give you a suggestion why it's happening. It was fixed by next actions:
https://github.com/catalyst-team/alchemy/blob/master/alchemy/logger.py#L52 change this line to
[code]
and commenting this line https://github.com/catalyst-team/

[2020-03-24 09:45] skrish13 commented on #620
But while using torch's DataLoader, it returns the bug asking it to be a Sampler (shown above in "describe the bug")

[2020-03-24 13:55] gazay commented on #512
Yeah, easier to make separate config

[2020-03-24 13:55] #512 closed, assigned to nobody

[2020-03-25 14:33] vsokhatskyi opened #725 "dice metric"
catalyst/utils/metrics/dice.py
`dice = 2 * (intersection + eps * (union == 0)) / (union + eps)`

It seems like if union = 0 and intersection = 0, we get  dice = 2 * (0 + eps) / (0 + eps) = 2 ?

Should be
`dice = (2 * intersection + eps * (union == 0)) / (union + eps)`
or I don't understand something?)

[2020-03-26 19:23] Arquestro commented on #725
I agree on this :) That one boundary point is essential in case you have empty target mask.
![image](https://user-images.githubusercontent.com/7341001/77687991-60f7c800-6fb0-11ea-8fd8-97d1834386e5.png)

[2020-03-27 05:57] Scitator commented on #725
Wow, thank you @vsokhatskyi  for you findings!
Would you like to make a PR to handle this issue? It would be great.

[2020-03-27 11:21] pdanilov commented on #384
Please re-open it. I'm on my way to implement this thing right now.

[2020-03-27 12:29] Scitator commented on #384
@pdanilov deal, thank you for your future contribution :)

[2020-03-27 12:32] Scitator commented on #620
could you please provide an example?
something like
[code]

[2020-03-27 17:21] vsokhatskyi commented on #725
@Scitator, ok, I'd like to make PR to handle this issue.

One more question.
For what reason we use eps?)

What if we use something like this:
`dice = (2 * intersection + (union == 0)) / (union + (union == 0))` ?

[2020-03-28 20:53] JulienMaille opened #727 "Question regarding LovaszLossMultiClass"
Sorry to open a FR for a request for advice.
I'm training semantic segmentation with 2 classes (no background) and trying to use LovaszLossMultiClass with my probabilities [B, C, H, W] and targets [B, C, H, W]
Right now my approach is to transform my targets to [B,H,W] like this (class_0 will have a value of 1 and class_1 a value of 2)
[code]
and then check for `(targets == c+1)` here https://gith

[2020-03-31 09:13] ai-niki opened #733 "OOM during validation step using multiple GPUs"
**Describe the bug**
4x GPU memory consumption raise during validation causes OOM. Have to decrease BS to BS/2 to run without errors. This happens only in a multi-GPU setup (we have 4).

**To Reproduce**
Steps to reproduce the behavior:
1. ...

**Expected behavior**
Using less memory during validation.

**Screenshots**
![photo_2020-03-31 12 12 03](https://user-images.githubusercontent.com/18504735

[2020-04-01 16:02] baibaidj opened #734 "transform applied to mask in segmentation pipeline"
**Describe the bug**
I'm not sure if it is a bug, or that I did not understand how it works.
I created an experiment based on the _test_cv_segmentation example for 1-class segmentation problem.
I only made necessary modification to the config.yml, dataset.py, experiment.py to load my data.
But when I run the experiment, the loss would not decrease. So I checked the image and mask after the transfo

[2020-04-02 07:30] bagxi opened #736 "Add docstrings to functions/classes in `catalyst.core`"

[2020-04-02 07:34] bagxi opened #737 "Add docstrings to functions/classes in `catalyst.data`"

[2020-04-03 22:23] mcarilli opened #740 "Native automatic mixed precision for Catalyst"
Native automatic mixed precision support (`torch.cuda.amp`) is merged:
https://pytorch.org/docs/master/amp.html
https://pytorch.org/docs/master/notes/amp_examples.html

Not sure if you used Apex Amp, but I know it has many pain points (extension builds, forward/backward compatibilty, DataParallel support, flaky checkpointing, i don’t even know if it can be hacked to handle double backward/gradient

[2020-04-03 22:33] mcarilli commented on #740
oops clicked the "bug" template now i can't change the label to "enhancement" 🤦‍♂

[2020-04-04 08:41] Scitator commented on #740
Thanks for reaching out! We will definitely add this feature.
Btw, when should we expect PyTorch release with native automatic mixed precision support ?

[2020-04-04 08:56] bradezard131 opened #741 "Catalyst.DL breaks Albumentations/Numpy"
**Describe the bug**
If `catalyst.dl` is imported, Albumentations will not work due to errors along the line of `numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject`

**To Reproduce**
Steps to reproduce the behavior:
1. Create new Python 3.7 environment
2. `pip install -U catalyst` or `pip install catalyst[all]`
3. `import catalyst.dl`
4

[2020-04-04 10:33] Scitator commented on #725
fixed :)

[2020-04-04 10:33] #725 closed, assigned to nobody

[2020-04-06 19:09] mcarilli commented on #740
It's in master and nightlies.  Topk with fp16 tensors is broken on master right now though (unrelated to amp), so I'd give it a week or two before trying.  1.6 will be the first stable release that contains the full `torch.cuda.amp`.

(Unfortunately I missed the WIP 1.5 release branch due to a tragic comedy: autocast's initial merge was before the 1.5 fork, but got reverted due to a buggy visual s

[2020-04-08 13:14] Scitator commented on #741
@bradezard131 Could you please provide an example?
Tested with several pipelines, no errors found.

[2020-04-09 03:13] ngxbac commented on #741
@Scitator , I got the same problem as well. However, it is just warning. The albumentation still works

[2020-04-09 15:18] Scitator commented on #741
Thanks!
I knew about warning, but have not seen any albumentations incompatibilities.

[2020-04-10 11:10] andrew12678 opened #751 "TypeError: _open() got an unexpected keyword argument 'as_gray'"
**Describe the bug**
I pretty much followed the [classification tutorial](https://github.com/catalyst-team/catalyst/blob/master/examples/notebooks/classification-tutorial.ipynb) and changed the dataset to my own dataset and I receive an `imread` error of similar nature to a very old issue [#472 ](https://github.com/catalyst-team/catalyst/issues/472)

[code]

**To Reproduce**
I have cloned notebook

[2020-04-11 11:02] bagxi commented on #751
Hi,
Could you please check if everything will be fine with `imageio<2.5.0`?

[2020-04-11 11:06] bagxi commented on #734
Could you please check the transforms that you use? Seems this is `albumentations` related bug rather than ours.

[2020-04-11 14:07] andrew12678 commented on #751
@bagxi Problem still persists with imageio==2.2.0 and imageio==2.3.0 (just tried in my colab notebook that I linked)

[2020-04-13 16:54] Scitator commented on #751
could you please check, if an error still occurs with only jpg/png dataset?

[2020-04-14 11:28] YaLTeR opened #755 "Tensorboard logs start at a non-zero step"
**Describe the bug**
Tensorboard logs start at a non-zero step.

**To Reproduce**

Just run one of the showcase colab notebooks, e.g. https://colab.research.google.com/github/catalyst-team/catalyst/blob/master/examples/notebooks/classification-tutorial.ipynb (you will need to replace multiple `pip install` invocations in the second cell with a single one to fix issues with dependencies: `!pip inst

[2020-04-15 05:03] YaLTeR commented on #751
This error disappears if you replace multiple pip installs in the second cell with a single one: `!pip install -U albumentations pretrainedmodels catalyst tensorflow`

[2020-04-16 16:02] Scitator commented on #700
fixed :)

[2020-04-16 16:02] #700 closed, assigned to nobody

[2020-04-18 06:22] andrew12678 commented on #751
@Scitator I've checked all the images using ImageMagick by converting everything to JPG if they weren't already JPG

@YaLTeR Unfortunately I still get the error in the notebook with that particular change

[2020-04-18 08:29] bagxi commented on #734
@baibaidj :eyes:

[2020-04-18 17:47] faizankshaikh opened #758 "AttributeError: module 'catalyst.utils' has no attribute 'detach' while running Segmentation Tutorial"
**Describe the bug**
When I run the [tutorial on Segmentation](https://github.com/catalyst-team/catalyst/blob/master/examples/notebooks/segmentation-tutorial.ipynb), with little to no change from my side, I get the error AttributeError: module 'catalyst.utils' has no attribute 'detach' when I try to run the second cell in "Model Inference" of the notebook

**To Reproduce**
Run the notebook of Segm

[2020-04-18 20:33] faizankshaikh commented on #758
Resolves if I add function before the cell is run and replace `utils.detach` with `_detach`
[code]

Can submit a PR by tomorrow if required. Found the solution [hidden deep](https://github.com/catalyst-team/catalyst/blob/2ede5354b2a02807b3c1c69fc0718351382c8301/catalyst/data/scripts/text2embedding.py#L104) in the code

[2020-04-19 01:34] baibaidj commented on #734
Sure. I will try to check. If you ever encounter this issue and find the solution, please let me know.

[2020-04-19 01:34] #734 closed, assigned to bagxi

[2020-04-19 16:53] MalchuL opened #759 "GAN example doesn't converge"
**Describe the bug**
On master (according catalyst==20.4.1) (https://github.com/catalyst-team/catalyst/commit/abfb121640e6934c99210e9c0f402af5338200c8) GAN example can't converge.
I use this example https://github.com/catalyst-team/catalyst/tree/master/examples/mnist_gans. I run next script `catalyst-dl run --config=./mnist_gans/configs/vanilla_gan.yml --verbose`. After 100 epoches I had next loss

[2020-04-22 07:23] YaLTeR opened #764 "Resuming training repeats the last epoch"
**Describe the bug**
When resuming the training from a checkpoint, the last epoch is repeated. So for example if the checkpoint was after 4 epochs of training, after resuming the epoch will be 4 again instead of 5.

**To Reproduce**
Steps to reproduce the behavior:
1. Train the model with the default `CheckpointCallback`.
2. Try to resume training from any checkpoint with the default `CheckpointCa

[2020-04-22 10:43] balakhonoff opened #765 "Distributed mode Fail"
I am trying to use distributed mode in a .py script file converted from .ipynb notebook. When I run the notebook everything is ok with distributed=False, but when I change it to True and launch the script I get an error:

RuntimeError: Expected to have finished reduction in the prior iteration before starting a new one. This error indicates that your module has parameters that were not used in pro

[2020-04-22 12:37] Scitator commented on #765
@balakhonoff please provide an issue report in our template format. Thank you!

[2020-04-22 12:37] #765 closed, assigned to nobody

[2020-04-22 12:38] Scitator commented on #765
you can use this one as an example,
https://github.com/catalyst-team/catalyst/issues/764

[2020-04-22 12:38] Scitator commented on #395
looks like done (?)

[2020-04-22 12:38] #395 closed, assigned to nobody

[2020-04-22 12:39] Scitator commented on #442
done

[2020-04-22 12:39] #442 closed, assigned to TezRomacH, Scitator, lightforever, bagxi

[2020-04-22 12:39] #468 closed, assigned to nobody

[2020-04-22 12:39] Scitator commented on #468
contrib issue

[2020-04-22 12:41] Scitator commented on #507
should be already fixed :)

[2020-04-22 12:41] #507 closed, assigned to nobody

[2020-04-22 12:42] Scitator commented on #517
moved to contrib :)

[2020-04-22 12:42] #517 closed, assigned to nobody

[2020-04-22 12:42] Scitator commented on #537
closed due to inactivity

[2020-04-22 12:42] #537 closed, assigned to nobody

[2020-04-22 12:43] Scitator commented on #646
already implemented

[2020-04-22 12:43] #646 closed, assigned to nobody

[2020-04-22 12:45] Scitator commented on #655
looks like done, isn't it?

[2020-04-22 12:45] #655 closed, assigned to nobody

[2020-04-22 12:45] Scitator commented on #656
done

[2020-04-22 12:45] #656 closed, assigned to nobody

[2020-04-22 12:48] Scitator commented on #705
Dear @Ditwoo,
could you please make a Pull Request with such functionality?

[2020-04-22 12:48] Scitator commented on #682
Dear @jchen42703 ,
How are you doing? Does this issue is still valid? Do you have a proposal for a Pull Request contribution?

[2020-04-22 12:49] Scitator commented on #713
could you please transfer this issue to Alchemy?
closing here

[2020-04-22 12:49] #713 closed, assigned to nobody

[2020-04-22 12:50] Scitator commented on #733
Does this issue still valid? Do you have plans for a Pull Request?

[2020-04-22 12:52] Scitator commented on #741
closing for now

[2020-04-22 12:52] #741 closed, assigned to bagxi

[2020-04-22 12:57] Scitator commented on #755
We are using one `global step` for both `train` and `validation` loaders. By this way, your **validation** plots shifts a bit. Nevertheless this allows to to check your batch metrics plots easily.

[2020-04-22 12:58] Scitator commented on #758
Yeah sure, could you please add `detach` method to https://github.com/catalyst-team/catalyst/blob/master/catalyst/utils/torch.py ?

[2020-04-22 12:59] Scitator commented on #759
Please move this issue to our Catalyst.GAN repo, https://github.com/catalyst-team/gan

[2020-04-22 12:59] #759 closed, assigned to nobody

[2020-04-22 13:01] Scitator commented on #764
Cool findings, I think we should summon @lightforever :)

[2020-04-22 15:49] jchen42703 commented on #682
@Scitator Ahhhh sorry, I've been prioritizing work lately. I'll hopefully get to this by the end of next week. I think the PR should just be a warning for the next version and then the actual changes on the version after that.

[2020-04-22 16:50] faizankshaikh commented on #758
Done https://github.com/catalyst-team/catalyst/pull/766

[2020-04-22 19:02] balakhonoff opened #767 "Distributed mode fail"
**Describe the bug**
Here is the thing. I used the new feature DistributedDataParallel in notebook API with Distilbert from huggingface and it was cool. But when I tried to change the model to BERT, I found out that the catalyst works in a notebook (with distributed=False) and fails in script (with distributed=True)

**To Reproduce**
Steps to reproduce the behavior:
1. run a notebook (https://yadi

[2020-04-23 05:15] Scitator commented on #682
@jchen42703 Thank you!

[2020-04-23 06:41] balakhonoff commented on #767
Tried with XLA Roberta - same issue
I use cuda 10.2 (which one is the recommended?)
result of pip freeze:
absl-py==0.9.0
alchemy==20.4
astor==0.8.1
astunparse==1.6.3
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
boto3==1.12.39
botocore==1.15.39
cachetools==4.1.0
catalyst==20.4.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
crc32c==2.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
deprecation=

[2020-04-23 06:42] balakhonoff commented on #767
Ubuntu 18.04
4 GPU: GTX 1080Ti

[2020-04-25 17:27] ogvalt opened #770 "Naming inconsistency"
**Describe the bug**
I found that some names agruments in framework aren't consistent.
So for example:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Check files: `catalyst.core.callback.metric.py` and `catalyst.dl.runner.supervised.py`

**Expected behavior**
I expect that names would be consistent across the framework and means the same

[2020-04-26 11:01] ai-niki commented on #733
Looks like it’s fixed in a new version

[2020-04-26 11:01] #733 closed, assigned to nobody

[2020-04-27 06:16] Scitator commented on #770
Hi,
Could you please describe where do you see an inconsistency and why? It would be better, if you could propose your own examples, like `how it now` vs `how it should be`.

For now I see all names consistent, cause both `input_key` and  `input_target_key` are from `state.input`, while `output_key` is stored into `state.output`.

[2020-04-27 08:35] ogvalt commented on #770
**How it now**

**input_target_key** corresponds to **input_key** argument in **CriterionCallback**
        `input_target_key: str = "targets"`

**input_key** corresponds to **input_target_key** argument in **SupervisedRunner**
        `input_key: Union[str, List[str], Dict[str, str]] = "targets"`

[code]

**How it should**

Since `CriterionCallback` calcucates criterion between `target` (or `inpu

[2020-04-27 13:52] YaLTeR opened #772 ""not_basic" check in VerboseLogger has a spelling mistake?"
**Describe the bug**
This checks for the `_timers` prefix:
https://github.com/catalyst-team/catalyst/blob/fbd7d0e78f673707df7d6375423fe02da619b398/catalyst/core/callbacks/logging.py#L47
However the default timer callback has a `_timer` prefix, not `_timers`, and there's nowhere else where the `_timers` string is mentioned. Effectively, this always shows all timer metrics in VerboseLogger, rather t

[2020-04-27 15:44] Scitator commented on #733
not sure if we have done anything 😂

[2020-04-27 15:53] #758 closed, assigned to nobody

[2020-04-27 15:53] Scitator commented on #770
Thank you for explanation :)
I this case, I think you are right then, it looks reasonable to share name between Runner and Callbacks.

And what do you think about `output_key`? Should we rename it into something more accurate, like `output_logits_key`?

[2020-04-28 11:21] ogvalt commented on #770
For me `output_key` was confusing at first. But after it's totally make sence from architectural point of view. If you're considering renaming I would rather suggest `output_prediction_key` as more descriptive term, or just leave `output_key`.

[2020-04-28 17:48] Scitator commented on #770
👌 I agree, `output_prediction_key` looks much better.
What do your think, would you like to make a pull request with desired changes? I think, I would be much easier for newcomers to understand Callbacks & Metrics system then. Thank you!

[2020-04-29 05:33] evfro opened #779 "installation fails on crc32c setup (Windows 10)"
System info:
[code]
Running `pip install -U catalyst` fails at the `crc32` setup stage:
[code]

Apparently, the `crc32` module doesn't build against Visual Studio, see https://github.com/ICRAR/crc32c/issues/1. However, VS builds are default on Windows systems for python.

I wonder if the `crc32c` module is necessary at all. For example, there's some crc32 functionality in the `binascii` module, e.

[2020-04-29 07:05] Scitator commented on #770
btw, @ogvalt speaking about naming, what if we change `SuppervisedRunner` keys a bit?
for example
[code]

I think, such refactoring could be easier to understand
extra: + you don't need to refactor callbacks system (which `input/output` keys logic looks okay with refactored `SupervisedRunner`)

[2020-04-29 08:47] ogvalt commented on #770
@Scitator, looks better in terms of refactoring, but lacks of expressiveness.
I would rather suggest to use dict, like this:
[code]
it would be easier to distinguish features and targets, doensn't lack of expressiveness, but still looks better in terms of  refactoring.

[2020-04-29 16:42] Scitator commented on #770
Looks good, but here is the question, based on input/output keys parsing
`input_keys` both `features` and `targets` could be `str`, `List/Tuple`, `Dict` (rare case) or even `None`.
In this case,
[code]
Looks a bit complicated, I think.

Moreover, `input_keys` are only needed to create a key-value storage from input batch correctly :)

[2020-04-29 19:20] dependabot-preview[bot] opened #781 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-04-29 21:37] elephantmipt opened #782 "WandbLogger bug"
## 🐛 Bug Report
Hi, I used WandbLogger and faced this problem
![Снимок экрана](https://user-images.githubusercontent.com/37884009/80644617-9a6d9880-8a72-11ea-9833-a9ff345449aa.png)

Also I noticed that `splitted_epoch_metrics` has structure like:
`{"train": {"loss": 1, "loss_qa":0.5, "loss_clf": 0.5, "metric": 1}, "valid": {"loss": 1,"loss_qa":0.5, "loss_clf": 0.5, "metric": 1}}`

What is propose

[2020-04-30 06:03] bagxi opened #783 "list of implemented papers"
## 📚 Documentation

*source: catalyst-slack*

[2020-04-30 07:33] Scitator commented on #783
Do you mean reorganize our https://github.com/catalyst-team/catalyst#projects ?

[2020-05-02 13:12] Scitator opened #786 "Metrics standardisation proposal"
## 🚀 Feature Request
We need to rethink current metrics implementations [one](https://github.com/catalyst-team/catalyst/tree/master/catalyst/utils/meters), [two](https://github.com/catalyst-team/catalyst/tree/master/catalyst/utils/metrics) to create a standardised metrics interface during model training and validation.

### Motivation
We already have
- [metric-based callbacks system](https://githu

[2020-05-02 13:58] bagxi commented on #783
no,
in my opinion, adding "papers list" page to https://catalyst-team.github.io/catalyst/ will be enough

[2020-05-02 23:22] AlekseySh opened #787 "Metric learning"
## 🚀 Feature Request
It would be great to have **metric learning pipeline** in Catalyst. The goal of metric learning is to get the model that can map some objects into vector space where similar objects will have close representation and different objects will have far representations. The typical example is the person reidentefication task - [reid](https://paperswithcode.com/task/person-re-identi

[2020-05-03 08:54] smivv opened #788 "Tracer callback"
## 🚀 Feature Request

Hi all!
I'd like to propose a feature of automatic tracing callback during model training. That would be helpful to dump not only the configs, code, checkpoints, etc., but also traced model in order to save some time.

### Motivation

I am a bit lazy person, so I prefer automatise everything in order to do nothing :)

### Proposal

Callback will look onto metric we will provi

[2020-05-03 09:05] Scitator commented on #787
Hi @AlekseySh ,
Honestly speaking, we already have a few Metric Learning experiments with @PUSSYMIPT :)

Nevertheless, let's discuss your proposal a bit more. What samplers and metrics would you like to implement?

[2020-05-03 09:15] Scitator commented on #770
Dear @ogvalt ,
As a result of our discussion, what do you think about refactoring
[code]
Would you have some time to make a pull request with this feature?

[2020-05-04 17:32] AlekseySh commented on #787
Discussed on the call.

Next step: prepare proposal with @PUSSYMIPT

[2020-05-05 10:58] Scitator commented on #779
Hi,
Good catch, we will check this issue during next release.
I hope, we could also write to @velikodniy as tbparser creator.

Meanwhile, do you have you problems with unix-based operation systems?

[2020-05-05 11:08] evfro commented on #779
@Scitator hi, thanks.

Well, actually, I don't have problems on Windows 10 either after installing recent VS C++ build tools. But it requires +1.4Gb of storage, which seems to be an overkill for supporting a little 3rd party crc32 tool.

[2020-05-05 12:12] velikodniy commented on #779
CRC32 and CRC32C are slightly different algorithms so that we can't simply replace `crc32c` with `binascii`. Although the computation is the same, CRC32C uses a different polynomial, and the results are different. I used `crc32c` instead of pure-Python implementation because crc32c is a highly optimized library that can use the CRC32C instruction from the SSE 4.2 set (if it is available). It's nor

[2020-05-05 16:56] Scitator commented on #779
@velikodniy What do you think about `crc32c` use if it's installed and pure python `crc32c` one if not. Our contrib tensorflow parser already have similar logic for tensorboard writer.
There should be simple `if-else` condition somewhere here :)
github.com/catalyst-team/catalyst/blob/master/catalyst/contrib/utils/tools/tensorboard.py#L14#L16

[2020-05-05 17:58] velikodniy commented on #779
It's exactly what I proposed. :)

[2020-05-05 18:19] velikodniy commented on #779
Oh! I've just realized that I implemented it already in `tensorboardX` https://github.com/lanpa/tensorboardX/pull/429. 😄 We can use `crc32c` from this library until we drop it from dependencies and replace with `torch.tensorboard` (if we do).

So, all we need is ~love~ to replace this one

[code]

with this one:

[code]

Don't forget to remove `crc32c` from the dependencies and make a note in the

[2020-05-06 03:09] KanchanIIT opened #795 "How to use 4-channel image in ImageReader"
My input images are 4-channel images. the default ImageReader only loading the first 3-channel (RGB) of the image. ImageReader has the option for grayscale, but can we load the n-channel images using ImageReader?
Thanks a lot for your help.

[2020-05-06 05:25] Scitator commented on #779
@evfro would you like to make your first time contribution into project?
Based on current discussion, it should be easy to do, and I would be glad to welcome new contributor :)

[2020-05-08 20:03] yhn112 opened #798 "Parameter "device" in SupervisedRunner has no effect"
## 🐛 Bug Report
When running with `device=torch.device('cuda:0')` or  `device='cuda:0'` model still uses all the GPUs.
When running with `device=torch.device('cpu')` or  `device='cpu' an` error `RuntimeError: module must have its parameters and buffers on device cuda:0 (device_ids[0]) but found one of them on device: cpu` appears.

### How To Reproduce
Run any sort of training using `SupervisedRun

[2020-05-08 21:41] AlekseySh commented on #798
I faced with the same problem

[2020-05-08 21:42] AlekseySh commented on #798
You can use `CUDA_VISIBLE_DEVICES` as work around

[2020-05-08 22:10] yhn112 commented on #798
I certainly do use `CUDA_VISIBLE_DEVICES`. It doesn't help me deal with such severe bugs in such a popular framework. =)

[2020-05-08 22:48] yhn112 commented on #755
Sorry, @Scitator, it seems you don't quite understand the issue.

The value of state.global_step equals the length of the training dataset **before** the beginning of the first epoch. (After the first epoch it equals doubled length of the training dataset and so on).
The initial value of `state.global_step` is 0 and the initial value of `state.global_epoch` is 1, as a result, the code mentioned in

[2020-05-08 23:15] yhn112 commented on #755
I have a couple of somehow related questions.

First of all, just curious, what the piece of code mentioned in the issue was supposed to do?
Also, in documentation is said that `state.global_step` is

and I agree, "number of steps" most often means "number of butches". But in reality, it counts the number of individual samples, not batches. IMHO, it's worth changing the current behavior to countin

[2020-05-09 07:56] bagxi commented on #795
Hi!
Can you try [LambdaReader](https://github.com/catalyst-team/catalyst/blob/master/catalyst/data/reader.py#L100) for this purpose? e.g.
[code]

[2020-05-09 14:11] AlekseySh opened #799 "Mistake in averaging of total epoch loss"
It looks like that averaging of the loss values (while calculating total epoch loss) does not take into account the size of the batch.
Thus, in situations when the last batch is smaller than the required size (if the size of the dataset is not divisible by the size of the batch), it still enters the average with the same weight as all other batch.

This also applies to metrics and other quantities

[2020-05-09 17:19] yhn112 commented on #799
Sorry for my importunity, but I have to say that it's a good reason to add a sample counter, as I suggested in https://github.com/catalyst-team/catalyst/issues/755#issuecomment-626059081 =)

[2020-05-10 04:20] TashinAhmed opened #800 "AttributeError: 'SupervisedRunner' object has no attribute 'callbacks'"
Where can I find callbacks? Is it shifted?

[2020-05-10 05:18] Scitator commented on #800
Hi,
You could find runner's callback under `runner.state.callbacks`.
Hope it would help.

[2020-05-10 05:18] #800 closed, assigned to nobody

[2020-05-10 08:26] Scitator commented on #755
@yhn112 Issue confirmed, thanks for explanation.
I would be glad, if you could make a PR with required fixes.
Nevertheless, sample-based logging used to have an opportunity to compare pipelines with different batch_size correctly. In this way you directly measure the number of `data` passed through the network.

[2020-05-10 08:30] Scitator commented on #799
Agreed, thanks for noting.
Due to https://www.github.com/catalyst-team/catalyst/blob/master/catalyst/core/runner.py#L386#L389 we have correct per-loader `batch_size`, but have don't have correct non-`drop_last` loader handling.

PR would be appreciated :)

[2020-05-10 16:54] yhn112 commented on #799
But how is it reasonable to do this from an "architectural" point of view?
In my opinion, `state.batch_size` reflects the loader property and should not be changed during the loader operation. So I would add `state.current_batch_size` separately and would like to have something like this:
[code]

[2020-05-12 06:40] Scitator commented on #799
I think, that `batch_size` property should be with `current_batch_size` logic. And if you and `current_loader_batch_size` it's better to use something like `state.loader_batch_size`.

[2020-05-12 11:21] baibaidj opened #803 "Fail to get Transform function"
## 🐛 Bug Report

I think a bug exists here https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/experiment/config.py#L415.
So the line "elif not isinstance(transform, AugmentorCompose)" is trying to check if the "transform" function generated is a AugmentorCompose object. When I use the transform.yml provided in _test_cv_segmentation, the resulting transform is in fact a Compose objec

[2020-05-13 06:30] Scitator commented on #803
@bagxi what do you think about this case?

[2020-05-13 06:45] ssakhavi opened #804 "Code Architecture Enforcement"
## 🚀 Feature Request
Enforcing the structure of the code

### Motivation
In many collaborative projects or even projects that explore a certain dataset with multiple annotations, one of the features that is useful is enforcing to the developers in how to present the final code.

This will result in code readability and cleaner code and faster validation and visualization.
I am not proposing that t

[2020-05-13 07:24] Scitator commented on #804
Hi, thank you for proposal.... it's interesting :)

Catalyst already have 4 **core** parts separated:
- Experiment
- Runner
- Callback
- State

you can read more about them [here](https://catalyst-team.github.io/catalyst/api/core.html#experiment).

---

Meanwhile, our **DL** part is only user-friendly interface for these 4 components. For example, you can see `Experiment` creation under [`.train`]

[2020-05-13 07:57] bagxi commented on #803
Could you please describe what do you mean by a bug?

There are two layers of `_key_value` in the `get_transforms` function. And in each case logic is a little bit different:
1. If `transform_params` isn't defined in the config, then the output will be an identity function. See https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/experiment/config.py#L412 for details.
2. The first key

[2020-05-13 14:06] #692 closed, assigned to nobody

[2020-05-14 02:50] baibaidj commented on #803
Thank you for the elaborate explanation. I may need more time to make sense of it.

In my testing, the transform.yml configuration falls into the 3rd category `True` for the first key and `False` for the second. The specifics is like this :
[code]

I implemented my dataset like this:
[code]
When running the training, I encountered the issue shown in the screenshots.
In the first screenshot, I trie

[2020-05-14 02:51] #401 closed, assigned to nobody

[2020-05-14 09:06] bagxi commented on #803
[code]

[2020-05-14 22:06] elephantmipt opened #805 "NLP Datasets and runner"
## 🚀 Feature Request

Hi, I would like to see more NLP in catalyst. Here is a plan

### Motivation

There are a lot of possible pipelines for CV but almost nothing for NLP in catalyst so far. There is simple classification dataset with non-effective pad sequence to `max_len`
https://github.com/catalyst-team/catalyst/blob/master/catalyst/contrib/data/nlp/classification/dataset.py
and there is class

[2020-05-15 06:21] Scitator commented on #779
@evfro How are you? what do you think about my proposal?

[2020-05-15 06:22] Scitator commented on #772
@YaLTeR good catch!
This looks like so, thank you!
Is it possible for you to create a small PR with typo fix?

[2020-05-15 06:23] Scitator commented on #770
@ogvalt How are you? what do you think about my proposal?

[2020-05-15 06:37] YaLTeR commented on #772
Sure.

[2020-05-15 06:49] evfro commented on #779
@Scitator sorry, this month is densely packed for me. I can try in June if I'll find some spare time.

[2020-05-15 07:47] #772 closed, assigned to Scitator

[2020-05-15 08:02] ogvalt commented on #770
@Scitator Sorry for late reply, I had to much stuff going on.
So, if the goal was to create correct key-value storage from input batch then
[code]
wouldn't fullfil this goal.
So, I'm not sure, that your proposal won't harm internal logic of framework

[2020-05-15 09:18] Scitator commented on #770
@ogvalt What do you think it wouldn't fullfil the goal?

[2020-05-17 15:18] ditwoo opened #810 "Feature: run validation after some number of epochs"
## 🚀 Feature Request

Hi!
Would be nice to have an option to run a validation after some fixed number of epochs (or some progressive scale, for example after 2, 3, ... *some-random-number*).

### Motivation

In some cases, we don't need to check scores on a validation set after each epoch of training.

### Proposal

For example, we can add an option to run validation every N epochs in `Runner.trai

[2020-05-19 06:12] yhn112 commented on #798
I'm sorry to do that, but
ping @Scitator
how do you do? =)

[2020-05-19 18:37] Scitator commented on #798
@yhn112 please, check the hotfix :)
https://github.com/catalyst-team/catalyst/pull/815

[2020-05-19 18:47] Scitator commented on #798
now, it's your turn 😂
https://github.com/catalyst-team/catalyst/pull/809

[2020-05-20 02:54] baibaidj commented on #803
Thank you. With your suggestion and the original catalyst lib, my code can run smoothly.
I think I was misled by the segmentation-tutorial which used **result like follows:

![屏幕快照 2020-05-20 上午10 52 14](https://user-images.githubusercontent.com/24452296/82399630-2c702c00-9a88-11ea-8c36-3d83d137bc6d.png)

Anyway, thank you again. I will close this issue.

[2020-05-20 02:54] #803 closed, assigned to bagxi

[2020-05-20 12:00] OlivMC opened #817 "Warning: Error in .check_sm:"
## 🐛 Bug Report

Hi ^^
First I appology cause I'm quite noob in R and informatics...

I obtain this error message when trying to compensate FCS files from a Mass Cytometry experiment :
Warning: Error in .check_sm:
The supplied spillover matrix seems to be invalid.
All isotopes should appear in `isotope_list`.
  108: stop
  107: .check_sm
  106: .local
  105: plotSpillmat
  103: .local
  102: CATAL

[2020-05-20 13:27] OlivMC commented on #817
Dears, I updated my RStudio version to V4 (1.2.5042) and installed Rtools40 consequently, and now, the GUI environnement of CATALYST even refuses to launch, showing this message:
Error : 'launchGUI' is not an object exported from 'namespace:CATALYST'
An idea why ? Please help !
Thx in advance
Olivier

[2020-05-24 05:36] franz101 opened #821 "Distributed fails in Jupyter Notbook on PyTorch 3.6 SageMaker Env"
Hi I tried installing the latest branch:
!pip install --upgrade -q git+git://github.com/catalyst-team/catalyst.git

Still if I execute with distribution set to True. No training will take place... It won't even  train an epoch.

Even though I have 8 GPUs.
I saw the related issues and pull requests: #767 #735

See the set up in the screenshots.

<img width="881" alt="Screenshot 2020-05-24 at 07 22

[2020-05-24 13:07] #799 closed, assigned to nobody

[2020-05-24 13:07] #755 closed, assigned to nobody

[2020-05-24 13:09] #798 closed, assigned to Scitator

[2020-05-25 15:46] bagxi commented on #821
https://docs.fast.ai/distributed.html#prepare-your-script

[2020-05-25 15:47] #795 closed, assigned to bagxi

[2020-05-25 15:51] bagxi commented on #817
Sorry but you mix up packages. What you need is https://github.com/HelenaLC/CATALYST

[2020-05-26 00:54] franz101 commented on #821
@bagxi thank you so much. I was kinda expecting it to be the reason :D

though I didn't read it in the original documentation. will try again soon and give feedback.

[2020-05-26 00:54] #821 closed, assigned to nobody

[2020-05-26 15:43] #788 closed, assigned to nobody

[2020-05-27 05:21] #817 closed, assigned to nobody

[2020-05-31 13:29] Scitator commented on #783
for now, I have reorganised https://github.com/catalyst-team/catalyst#paper-implementations
Documentation page - work in progress with "gpus4research initiative"

[2020-05-31 14:08] #810 closed, assigned to nobody

[2020-06-01 17:58] bagxi opened #828 "fix docker-deploy action"
## 🐛 Bug Report

https://github.com/catalyst-team/catalyst/runs/728201539?check_suite_focus=true

TODO: Fix path to docker files

[2020-06-02 07:32] baibaidj commented on #803
When I use Albumentations package for data augmentation,  I will get an error with this line of code as follows:

[code]

Please refer to https://github.com/albumentations-team/albumentations/blob/26958c4d3261f911b35175721371e07c8c2b0bb8/albumentations/core/composition.py#L164

So I have to use input the result as **kwargs.

[2020-06-02 07:48] #828 closed, assigned to nobody

[2020-06-03 10:09] vinnamkim opened #833 "Custom collate_fn doesn't work in distributed environment"
## 🐛 Bug Report
If `distributed=True`, custom `collate_fn` for `DataLoader` turns into `default_collate`.

### How To Reproduce
Steps to reproduce the behavior:
1. Train `SupervisedRunner` with custom `collate_fn` and `distributed=True`.
[code]
2. Get error msg
[code]

### Environment
Catalyst version: 20.05.1
PyTorch version: 1.5.0+cu101
Is debug build: No
CUDA used to build PyTorch: 10.1
TensorF

[2020-06-04 04:50] Scitator commented on #833
Hi,
could you please check the following example with your `collate_fn`?

[code]

We already have correct data trasferring to distributed setup here,
https://github.com/catalyst-team/catalyst/blob/master/catalyst/core/utils/data.py#L175#L180

Nevertheless, I am not sure on correct work with `loader_params` and `datasets` simultaneously.

[2020-06-04 06:36] vinnamkim commented on #833
@Scitator

The following code works.

[code]

But, the setting I reported likes as follows(`distributed=True` in `runner.train`).

[code]

In that setting, logger says
[code]

It seems It goes into warning of `validate_loaders` in that setting.
https://github.com/catalyst-team/catalyst/blob/9f97ad91c82322a18ac6a5764aaded7fc54720a4/catalyst/core/utils/data.py#L62

[2020-06-06 16:40] Scitator commented on #740
@stalebot, nope

[2020-06-11 16:35] Scitator commented on #833
🤔  interesting, thanks for noting.
Generally speaking, `distributed=True` is not our best practice, you can read about it [here](https://catalyst-team.github.io/catalyst/info/distributed.html).
Nevertheless, `collate_fn` issue stills looks like a bug. So, what do you think about such first contribution? I think, it would be more valuable in term of framework development :)

[2020-06-13 14:16] X-funbean opened #843 "RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject"
Hello! I encounter this `RuntimeWarning` everytime I use `runner.train()`:
[code]
I've googled this problem and some suggests that perhaps the version of numpy is too high, so I downgraded numpy from 1.18.4 to 1.16.4, but the warning still remains.

It seems that the warning doesn't influence on the result of the training, still it is annoying, for it pops three times every epoch! Please help me o

[2020-06-16 12:46] AlekseySh opened #846 "Do we have any plans to support custom data-class batch?"
**Do we have any plans to support custom data-class batch?**

I used custom dataclass batch and I faced with 2 problems:
1. There is no special logic into the Runner:
[code]
2. There is a problem with moving such batch to needed device

So, do we have any plans to support usecase above?

[2020-06-16 12:49] AlekseySh commented on #846
To overcome these issues I did the following:
1. I added `__getitem__` method to my dataclass
2. I reimplement `_handle_batch` method of `Runner` to moving data to needed device

[2020-06-16 18:12] #781 closed, assigned to bagxi

[2020-06-19 07:14] ditwoo opened #847 "Bug: catalyst depends from system git"
## 🐛 Bug Report

If you try to run experiment in system/docker container where missing git (in system) your code will crush at this line:

https://github.com/catalyst-team/catalyst/blob/master/catalyst/utils/pipelines.py#L4

with message like this:

[code]

### How To Reproduce

Here is a repo with all code to reproduce this bug - https://github.com/Ditwoo/err-exp

### Expected behavior

I think t

[2020-06-20 06:58] baibaidj opened #849 "Reproduce the performance of PSPNet on segmentation benchmark"
## ❓ Questions and Help
I want to use the catalyst framework to reproduce the PSPNet on the cityscapes dataset. With the [official repo of PSPNet](https://github.com/hszhao/semseg), I can achieve mIoU of 0.756, very close that reported by the authors of PSPnet. However, I can only get 0.45 mIoU using the catalyast framework. I've checked the input, the preprocessing with albumentations, loss funct

[2020-06-21 13:22] YaLTeR commented on #764
Why is this a thing?

[2020-06-21 18:09] Scitator commented on #705
🤔 Isn't is done already?

[2020-06-21 20:28] Scitator commented on #849
🤔  Looks interesting, don't you mind to join our slack to discuss it more precisely?
https://join.slack.com/t/catalyst-team-core/shared_invite/zt-d9miirnn-z86oKDzFMKlMG4fgFdZafw

[2020-06-22 06:12] ditwoo commented on #705
@Scitator yep, seems like it's already [impemented](https://github.com/catalyst-team/catalyst/pull/797).

[2020-06-22 11:33] otherman16 opened #850 "catalyst.core.runner.IRunner._run_batch(...): batch_size finding bug"
## 🐛 Bug Report

In the method catalyst.core.runner.IRunner._run_batch:
`

        ...

        if isinstance(batch, dict):
            self.batch_size = next(iter(batch.values())).shape[0]
        else:
            self.batch_size = len(batch[0])

        ...

`

If `batch` is instance of `dict` then `batch_size` equals to the first dimension of the first _value_ in `batch` which means that the f

[2020-06-22 15:49] #727 closed, assigned to nobody

[2020-06-22 16:35] #705 closed, assigned to nobody

[2020-06-22 17:46] lokeshkvn opened #851 "OneCycleLRWithWarmup does not starts with init_lr"
## 🐛 Bug Report

OneCycleLRWithWarmup starts ahead of initial LR (does not start with init_lr)

If the number of steps is 6 and warmup_fraction = 0.5 and init_lr = 1e-3 and lr_range=(2e-3,1e-3),
The lr starts with 1.36-3 excutes two steps and starts cooling down from 2e-3

### How To Reproduce
Steps to reproduce the behavior:
1. Go to https://colab.research.google.com/github/catalyst-team/catalyst

[2020-06-22 18:26] Scitator commented on #851
hi @lokeshkvn , thanks for the issue!
Due to a bunch of current tasks (we are working on huge codestyle and docs update),
could you please help us and provide full-featured example for reproduce the issue?
here is the template:
[code]

[2020-06-22 18:30] Scitator commented on #850
Hi, thanks for the issue, it's a second time we face it with `bath_size` precessing already.
I have several possible workarounds... nevertheless, do you have any proposals to overcome this issue?

[2020-06-22 18:31] Scitator commented on #847
Yup, looks like we need to `try-except` it a bit :)

[2020-06-22 18:42] lokeshkvn commented on #851
Sure @Scitator I will update you with the full-feature example.

[2020-06-22 18:49] Scitator commented on #846
🤔 btw, do you have any proposals for correct dataclass support? I just don't think, that such trick are good practice
But it looks like, we are ready to for bath_size handling update...

what do you think about extra method, that will return `batch_size_fn(batch) -> int` for stage-loader... with lru cache?
[code]

[2020-06-22 18:57] #767 closed, assigned to nobody

[2020-06-22 18:57] lokeshkvn commented on #851
Hi @Scitator

Here is the code example to reproduce:

[code]

Then run tensorboard

[code]

Below is the lr plot I get using tensorboard:

<img width="992" alt="Screenshot 2020-06-23 at 2 53 31 AM" src="https://user-images.githubusercontent.com/16884938/85324867-34930f80-b4fd-11ea-94fb-da62c801df94.png">

[2020-06-22 19:01] Scitator commented on #516
Dear @sergregory,
Is this issue still valuable? And do you have any proposals for feature implementation?

[2020-06-22 19:04] Scitator commented on #520
I think, we have resolved this issue already :)

[2020-06-22 19:04] #520 closed, assigned to nobody

[2020-06-22 19:05] Scitator commented on #624
Looks like, we really need to think more about hydra configs integration.

[2020-06-22 19:05] #624 closed, assigned to nobody

[2020-06-22 19:06] Scitator commented on #682
Dear @jchen42703 ,
Do you have any plans for this feature implementation?
Thanks in advance.

[2020-06-22 19:09] Scitator commented on #764
could you please join our slack to ping our team on this issue? 😂
https://join.slack.com/t/catalyst-team-core/shared_invite/zt-d9miirnn-z86oKDzFMKlMG4fgFdZafw

[2020-06-22 19:14] YaLTeR commented on #764
Sorry, I don't use slack 😕

[2020-06-23 06:28] otherman16 commented on #850
Well, the most common way I think is to replace `next(iter(batch.values())).shape[0]` by `len(next(iter(batch.values())))`.
Another way is to use 3d-party module to determine size of _iterable_ - [cardinality](https://cardinality.readthedocs.io/en/latest/) for example: `cardinality.count(next(iter(batch.values()))`.

[2020-06-23 09:39] TashinAhmed commented on #800
Thank you so much @Scitator

[2020-06-23 20:34] Scitator commented on #851
Dear @lokeshkvn ,
looks like I found the solution,
You need to change this line
https://github.com/catalyst-team/catalyst/blob/master/catalyst/core/callbacks/scheduler.py#L121
to
[code]

Would you like to make a PR with this fix?

[2020-06-23 21:25] ditwoo opened #852 "Wrong global_epoch in Runner"
## 🐛 Bug Report

With `20.6` release (State -> Runner) `global_epoch` has the same value as epoch on a new stage.
Expected that `global_epoch` will continue to increase.
For example if experiment has two stages - first with 10 epochs and second with 5 epochs, then value of `global_epoch` at the end of experiment should be a 15 (not 5).

### How To Reproduce

To reproduce the issue please compare o

[2020-06-24 02:58] lokeshkvn commented on #851
Thanks I will make a PR soon with the above fix. :smiley:

[2020-06-24 07:38] lokeshkvn commented on #751
@Scitator @YaLTeR @andrew12678 I am also getting the same error '_open() got an unexpected keyword argument 'as_gray'. Any temporary fix for now?

[2020-06-24 11:14] lokeshkvn commented on #751
@Scitator @bagxi @andrew12678 I found out that this error occurs when our image is in `GifImageFile` format. Even if the extension of the file is ***.jpg*** the file format is different sometimes while reading the files.
The temporary fix for this issue is Instead of calling ```utils.imread``` in _dataloaders/Augmentaions/show()_ while creating and initializing `Dataset ` and we can use `PIL.Image

[2020-06-24 11:14] alyaxey opened #854 "EarlyStoppingCallback considers first epoch as bad"
## 🐛 Bug Report
EarlyStoppingCallback considers first epoch as bad. This can lead for example to always stopping after first epoch if patience=1.

### How To Reproduce
You can train a model with early stopping and patience=1 and see that it always stops after first epoch. Or you can use the unit test below that I added to pull request.

#### Code sample
[code]

### Expected behavior
Training doesn

[2020-06-24 18:15] develooper1994 opened #857 "recognition pipeline repository"
## 🚀 Feature Request

### Motivation

The most desired second pipeline is the recognition like plate, handwritten.

### Proposal

I want an catalyst-recognition template repository with ready to use configurations and examples.

### Alternatives

### Additional context

[2020-06-25 04:31] #854 closed, assigned to nobody

[2020-06-25 05:29] Scitator commented on #751
@lokeshkvn yup, `utils.imread` is mostly focused on typical image formats, like `.jpg`, `.png` etc.
For `.tiff`, `.gif` - you can try to use `utils.mimread` instead :)
Nevertheless, PR with appropriate docs (that you find clear to use and read) would be really welcome, thanks in advance!

[2020-06-25 05:32] Scitator commented on #850
Dear @otherman16 ,
Would you like to talk into another thread https://github.com/catalyst-team/catalyst/issues/846 - there is a proposed solution.
PS. we could also chat in slack if it suits you.
https://join.slack.com/t/catalyst-team-core/shared_invite/zt-d9miirnn-z86oKDzFMKlMG4fgFdZafw

[2020-06-25 07:44] bagxi commented on #857
Look at https://github.com/catalyst-team/classification

[2020-06-25 07:44] #857 closed, assigned to nobody

[2020-06-25 08:46] ditwoo commented on #852
Fixed in [#858](https://github.com/catalyst-team/catalyst/pull/858).

[2020-06-25 08:46] #852 closed, assigned to nobody

[2020-06-25 14:36] develooper1994 commented on #857
recognition is different from classification. System should average of contextual information and characters should be encoded.

[2020-06-25 19:34] Scitator commented on #764
long story short, easy solution would be to add
[code]
here - https://github.com/catalyst-team/catalyst/blob/master/catalyst/core/callbacks/checkpoint.py#L540

Would you like to make a PR with a hotfix?

[2020-06-28 09:49] #804 closed, assigned to nobody

[2020-06-28 15:12] bagxi opened #861 "Kornia integration"
## 🚀 Feature Request
Integration with [kornia](https://github.com/kornia/kornia) to perform data augmentations on GPU

[2020-06-28 19:13] Scitator commented on #843
@X-funbean Hi, thanks for your issue.
could you please try our master version?
[code]

[2020-06-29 03:04] X-funbean commented on #843
@Scitator Hi, thanks for your response. I've tried the master version, and the warning has gone. Thanks again for your effort.

[2020-06-29 04:48] Scitator commented on #843
Thanks for noting. Our `20.07` release is coming :)

[2020-06-29 04:48] #843 closed, assigned to Scitator

[2020-06-29 13:16] elephantmipt commented on #782
fixed

[2020-06-29 13:16] #782 closed, assigned to nobody

[2020-07-04 17:43] Scitator commented on #787
@stale nope :)

[2020-07-05 13:31] #179 closed, assigned to bagxi

[2020-07-05 13:31] #384 closed, assigned to nobody

[2020-07-05 13:31] #650 closed, assigned to nobody

[2020-07-05 13:31] #736 closed, assigned to nobody

[2020-07-05 13:31] #737 closed, assigned to nobody

[2020-07-05 14:48] Scitator commented on #779
fixed during https://github.com/catalyst-team/catalyst/pull/872

[2020-07-05 14:48] #779 closed, assigned to nobody

[2020-07-05 14:49] Scitator commented on #786
nope

[2020-07-05 14:50] Scitator commented on #516
closed due inactivity and because we have full support for any `metric_params` for current MetricCallback.

[2020-07-05 14:50] #516 closed, assigned to nobody

[2020-07-06 04:09] #851 closed, assigned to Scitator

[2020-07-06 04:10] #751 closed, assigned to bagxi

[2020-07-14 21:36] fursovia opened #885 "`process_bert_output` device bug"
## 🐛 Bug Report
`pooling` and `bert_output` objects in `process_bert_output` function can be on different devices.

Something like this will solve the issue.

[code]

However, this is not the best way to do it :)

[2020-07-15 04:24] Scitator commented on #885
Hi, thanks for the issue. Do you have any minimal example on this issue?
Looks like your solution should help, would you like to make a fix PR?

[2020-07-15 14:47] #861 closed, assigned to bagxi

[2020-07-24 05:08] Scitator commented on #770
nope, we need it
@ogvalt ping :)

[2020-07-24 05:08] Scitator commented on #682
@jchen42703  👀  :)

[2020-07-24 05:09] Scitator commented on #833
@vinnamkim Hi, have you managed to resolve the issue? would to like to make a PR for everyone?)

[2020-07-24 14:19] TheBigTicket02 opened #895 "Semantic Segmentation"
## ❓ Questions and Help
Hi. I've started using Catalst only this week, so question could be stupid.
#### What have you tried?
I’ve tried to change *segmentation-tutorial.ipynb* for my project, where I have 20 classes.
I’ve changed .gif -> .png. and gif_imread -> utils.imread and albumentations.
show_random works as expected.
model = smp.FPN(encoder_name="resnext50_32x4d", classes=1) 1->20
BCEWithL

[2020-07-24 15:04] le-Greg opened #896 "Accuracy Callback with multi dimensionnal output"
Hello,

I am currently testing a U-Net style of segmentation network, which
- take as an input a tensor of dimension (batch size, 3 RGB channels, height, width of image)
- return an output of dimension (batch size, number of classes, height, width)
- compare it with a target of dimension (batch size, height, width)

So i wanted to use Catalyst's metrics, such as AccuracyCallback, but it seems like

[2020-07-24 15:18] le-Greg commented on #895
Hello,
I am currently doing more or less the same stuff, i think your mask should contain a 864*864 matrix of numbers from 0 to 19, to represent the different classes. Here you have a weird 5th dimension of size 3 at the end, maybe it is because your mask is still containing values from 0 to 255 in RGB ?

[2020-07-24 17:48] Scitator commented on #895
Hi, **very** minimal _working_ example
[code]

https://colab.research.google.com/drive/1Z9Ka5KLs_7P8XQYNIwL1c0xJzOWJbeHd?usp=sharing

[2020-07-24 23:46] TheBigTicket02 commented on #895
Thanks. It's working now.

[2020-07-24 23:46] #895 closed, assigned to Scitator, bagxi

[2020-07-27 12:51] threefoldo opened #898 "Not sure why AUCMeter cannot be used if batch_size equals 1?"
If the AUCMeter.add accepts a list of 1 item for binary classification, the following code will convert it to a number, not a list, then the assertion after this conversion will be triggered.

Why is this conversion necessary?

[code]

https://github.com/catalyst-team/catalyst/blob/508e63039b5fe830afba5280fafc31fa6007b6b0/catalyst/tools/meters/aucmeter.py#L49-L56

[2020-07-27 22:59] #805 closed, assigned to nobody

[2020-07-30 15:18] Scitator commented on #898
Hi, generally speaking for AUCCallback we expect the input like
[code]

current AUCMeter works **only** for binary classification problem with `outputs: Tensor [bs; ]` and `targets: Tensor [bs; ]`.

Moreover, we are working on metric standardisation now:
- issue: https://github.com/catalyst-team/catalyst/issues/786
- PR: https://github.com/catalyst-team/catalyst/pull/897
we would be glad to see yo

[2020-07-31 09:41] threefoldo commented on #898
Thanks, I have joined the slack channel.

[2020-07-31 09:41] #898 closed, assigned to nobody

[2020-08-03 12:03] le-Greg commented on #896
Hi, i tried it again today, and from what[ i read](https://towardsdatascience.com/evaluating-image-segmentation-models-1e9bb89a001b), accuracy metrics are actually rarely used in segmentation problems, because of the surface disparity between each class. So i guess that is the reason why it is not implemented.

However, before closing this issue, i had another problem using Dice and IoU callbacks

[2020-08-05 08:49] le-Greg commented on #896
I found out what went wrong, I made a binary classification so I used 2 classes but only one was needed.

[2020-08-05 08:49] #896 closed, assigned to nobody

[2020-08-05 09:09] otherman16 opened #904 "resume/autoresume doesn't work"
## 🐛 Bug Report

I am trying to resume training with `catalyst-dl run --autoresume last` from last epoch. For example from 60th epoch of 120.
In previous version it works fine. But now catalyst loads only best checkpoint and starts training from the beginning.
[code]
`catalyst-dl run --resume=/path/to/checkpoint.pth` doesn't work too.

### Environment

[code]

[2020-08-05 17:12] Scitator commented on #740
nope

[2020-08-06 05:59] Scitator commented on #904
Looks interesting, maybe @Ditwoo could help with it.
Meanwhile, @otherman16 have you tried to investigate the issue by yourself? maybe you already found the solution))
Could you please write down the version without such bug?

[2020-08-07 09:38] tdtce opened #906 "TensorboardLogger incorrect horizontal axis view"
## 🐛 Bug Report

TensorboardLogger in batch logger mode displays horizontal axis by samples, which is inconvenient.

### How To Reproduce
1. import logger
`from catalyst.dl.callbacks import TensorboardLogger`
2. make TensorboardLogger callback  with batch logger mode
`calback_tb = TensorboardLogger(metric_names=["loss"], log_on_batch_end=True)`
3. add callback into runner
`
runner.train(model=mode

[2020-08-09 12:50] otherman16 commented on #904
I have tried to investigate this bug. I've found:
1. catalyst.core.callbacks.CheckpointCallback.load_on_stage_start flag is always None
2. Catalyst always trying to load best.pth even if autoresume have not been set
catalyst.dl.experiment.config.ConfigExperiment._process_callbacks():
[code]
3. catalyst.core.callbacks.CheckpointCallback._load_runner loads best.pth and flag need_load_full == False
c

[2020-08-09 16:50] eloygeenjaar opened #909 "Training on validation in minimal examples"
## 📚 Documentation

The 'minimal examples' train on the validation set instead of the training set.

[2020-08-09 21:19] kornellewy opened #911 "No module named 'catalyst.data.cv.transforms'"
from typing import Callable, List, Tuple
import os
import torch
import catalyst
from catalyst.dl import utils
print(f"torch: {torch.__version__}, catalyst: {catalyst.__version__}")
# os.environ["CUDA_VISIBLE_DEVICES"] = "0"  # "" - CPU, "0" - 1 GPU, "0,1" - MultiGPU
SEED = 42
utils.set_global_seed(SEED)
utils.prepare_cudnn(deterministic=True)

give :

ModuleNotFoundError                       Trac

[2020-08-10 07:55] otherman16 opened #912 "Hydra/OmegaConf configuration structure"
## 🚀 Feature Request

[Hydra](https://hydra.cc) provides interesting [features](https://hydra.cc/docs/intro) to create hierarchical configuration by composition and override it through config files and the command line.
I think that this ability will be useful for catalyst pipelines with configuration file.
Now one configuration file contains all pipeline settings inside, but if we split it to for

[2020-08-10 08:38] janvainer opened #913 "Iteration-based training"
## 🚀 Feature Request
Make iteration-based training available - instead of specifying epoch count, the user should be ableto specify gradient step cound and spefify how many steps form an epoch. The dataloader would be cycled indefinitely.

### Motivation
Lets say I have a very large dataset. One epoch of training (seeing all the data) can easily take several hours.
I want to be able to do the foll

[2020-08-10 08:40] omry commented on #912
Hi,
Definitely take a look at [Structured Configs](https://hydra.cc/docs/next/tutorials/structured_config/intro) in Hydra 1.0.
It's taking Hydra to the next level, and is especially useful for frameworks.

[2020-08-10 09:32] janvainer opened #914 "How to do automatic mixed precision training?"
I could not find any docs for mixed precision training and how it plays with distributed training.
I am aware of issues that work with amp, or suggest to update to newest pytorch with integrated support for mixed precision, but it is unclear in what state we are now.
Is the approach mentioned in [this issue](https://github.com/catalyst-team/catalyst/pull/183) the recommended way for now? (10.8.202

[2020-08-10 16:32] Scitator commented on #911
fixed, check `20.08.1` version please. `20.08` was removed.

[2020-08-10 16:32] #911 closed, assigned to ditwoo, Scitator, bagxi

[2020-08-11 06:53] Scitator commented on #909
Looks like merged :)

[2020-08-11 06:53] #909 closed, assigned to ditwoo, Scitator, bagxi

[2020-08-11 18:26] Scitator commented on #914
Hi, you could just run
[code]

Docs - https://catalyst-team.github.io/catalyst/api/dl.html#catalyst.dl.runner.runner.Runner.train
Code docs (I prefer them) - https://github.com/catalyst-team/catalyst/blob/master/catalyst/dl/runner/runner.py#L92#L97

Guide - https://catalyst-team.github.io/catalyst/info/distributed.html

Bunch of examples (all dl_z_distributed_*) - https://github.com/catalyst-team/

[2020-08-11 18:31] Scitator commented on #912
@otherman16 Hi, looks interesting, but how does it differ from current multi-config behaviour?
[code]

[2020-08-12 07:04] otherman16 commented on #912
@Scitator They are almost the same but with Hydra/OmegaConf you can also:
1. Change specific settings in command line. Example:
```catalyst-dl run config=conf/config.yaml model=resnet data=imagenet runner=runner1 model.resnet=50/101/...```
2. Command line [Tab Completion](https://hydra.cc/docs/next/tutorials/basic/running_your_app/tab_completion)
3. Select default configuration
4. As say @omry [St

[2020-08-12 07:40] omry commented on #912
Hi @Scitator.
In addition the good list @otherman16 put up, here are a few extra things:
* Launcher plugins can launch any Hydra app to different places without changing the code. There are already plugins for SLURM, Joblib (local parallel execution), Redis Queue and more. There is a Ray based Launcher plugin coming that will support launching to AWS.
* Advanced Sweeper plugins like Ax and Nevergr

[2020-08-12 15:23] Scitator commented on #912
Deal, guys, it could be interesting...
@otherman16 would you like to make a PR with such functionality? Or at least discuss it implementation properly?
Would you like to join [our slack](https://join.slack.com/t/catalyst-team-core/shared_invite/zt-d9miirnn-z86oKDzFMKlMG4fgFdZafw) and discuss it with the team?

I would be glad to see @omry there too! Config API is essential part of the Catalyst fra

[2020-08-13 14:08] #783 closed, assigned to nobody

[2020-08-13 15:25] janvainer commented on #914
Hi, thanks. :)

[2020-08-13 15:57] otherman16 commented on #912
@Scitator Ok. Moving to slack now.

[2020-08-13 17:37] Scitator commented on #914
btw, I have also updated [minimal examples](https://github.com/catalyst-team/catalyst#minimal-examples) with fp16 and colab links :)

[2020-08-18 11:13] #914 closed, assigned to ditwoo, Scitator, bagxi

[2020-08-20 03:40] sidml commented on #847
@Scitator Any updates ?

[2020-08-20 04:49] Scitator commented on #847
Hi @sidml
looks like we just have no time left for this issue :(
Could you please help us?
generally speaking you need to

1. add something like
[code]
example here - https://github.com/catalyst-team/catalyst/blob/master/catalyst/tools/settings.py#L19#L24

2. add
[code]
here https://github.com/catalyst-team/catalyst/blob/master/catalyst/utils/__init__.py#L70

example here - https://github.com/cata

[2020-08-25 06:27] YaLTeR commented on #764
I don't think this bot is helpful

[2020-08-26 06:27] Scitator commented on #764
from my perspective - it's super helpful, because it tracks this issue :)
could you please check current master version?
we have a fix recently https://github.com/catalyst-team/catalyst#minimal-examples
[code]

[2020-08-26 07:22] YaLTeR commented on #764
Same issue in my example notebook when replacing catalyst with the git version.
[code]

[2020-09-02 19:48] Scitator commented on #787
okay, now looks like it's done :)